flows/definitions/box-blob-purge.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_BoxBlobPurge (Phase 7 / ADR-0012 / build-plan 04 §11, Wave 5 / box-flow-patterns Fragment 5). SCHEDULED, status-driven Blob cleanup. Box is the archive of record; the Azure Blob is the transient working store. Purge is STATUS-DRIVEN, never a blind age rule — a Blob lifecycle policy cannot read Dataverse status, so the flow (which re-checks Dataverse) is primary; a tag-filtered lifecycle rule with soft-delete on is the cheap backstop. Deletes ONLY the transient Blob evidence bytes for cases that have reached box_synced (terminal) + a grace window; it NEVER deletes the Box copy (the archive of record) and never the cr1bd_evidence row — it clears the storagepath reference. HOUSE RULES: gate cr1bd_BOX_API_ENABLED is READ not defined (default OFF — purge is only relevant once Box is the archive); first-party shared_azureblob DeleteFile_V2 only (no shared_box_rest op anywhere here — bytes/cleanup are first-party). DATAVERSE DEPENDENCY: the purge filter keys on cr1bd_status eq 100000009 (box_synced) AND cr1bd_boxsyncedat lt now-grace; cr1bd_boxsyncedat is the build-plan-04 flow-contract column that dataverse-data-architect must declare on cr1bd_case before activation. LINTER: the cr1bd_cases ListRecords here (status+boxsyncedat filter) is a DOCUMENTED exception in validate-flows.mjs (it is not a dedup-by-VRM read). [BUILD] state=off. ACTIVATION [RESERVED-FOR-USER]: set PurgeGraceDays (operator pin 7/30/60), bind cr1bd_evidenceblob, flip BOX_API_ENABLED in a test env, confirm the Recurrence startTime is in the future so it does not fire on deploy. Claude never flips the gate or binds the connection.",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} },
    "PurgeGraceDays": { "type": "Int", "defaultValue": 7, "metadata": { "description": "Days after box_synced before the transient Blob bytes are purged (the Box archive copy is retained). Default 7; operator may pin 7/30/60." } }
  },
  "triggers": {
    "Recurrence": {
      "type": "Recurrence",
      "recurrence": {
        "frequency": "Day",
        "interval": 1,
        "startTime": "2099-01-01T03:00:00Z",
        "timeZone": "UTC"
      },
      "comment": "Daily. startTime is a far-future placeholder so the flow NEVER fires on import/deploy (Logic Apps Recurrence fires immediately if no startTime is set). The operator sets a real near-term startTime at activation (e.g. an off-peak hour). A polling trigger reprocesses pending occurrences on re-enable.",
      "inputs": {}
    }
  },
  "actions": {
    "Get_gate_definition": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "environmentvariabledefinitions",
          "$filter": "schemaname eq 'cr1bd_BOX_API_ENABLED'",
          "$select": "environmentvariabledefinitionid,defaultvalue",
          "$expand": "environmentvariabledefinition_environmentvariablevalue($select=value)",
          "$top": 1
        }
      },
      "comment": "READ the gate (never DEFINE it). Default OFF -> the whole purge is skipped.",
      "runAfter": {}
    },
    "Set_gate_BOX_API_ENABLED": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "gate_BOX_API_ENABLED", "type": "boolean",
        "value": "@equals(toLower(coalesce(first(first(outputs('Get_gate_definition')?['body/value'])?['environmentvariabledefinition_environmentvariablevalue'])?['value'], first(outputs('Get_gate_definition')?['body/value'])?['defaultvalue'], 'false')), 'true')"
      } ] },
      "runAfter": { "Get_gate_definition": [ "Succeeded" ] }
    },
    "Init_cutoff": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "cutoff", "type": "string", "value": "@addDays(utcNow(), mul(parameters('PurgeGraceDays'), -1))" } ] },
      "comment": "The grace boundary: cases whose cr1bd_boxsyncedat is older than (now - PurgeGraceDays) are eligible. mul(...,-1) makes the day count negative for addDays.",
      "runAfter": { "Set_gate_BOX_API_ENABLED": [ "Succeeded" ] }
    },
    "If_gate_on": {
      "type": "If",
      "expression": { "equals": [ "@variables('gate_BOX_API_ENABLED')", true ] },
      "comment": "Gate-on path only. Gate-off -> no-op (no Blob touched).",
      "actions": {
        "List_purgeable_cases": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_cases",
              "$filter": "cr1bd_status eq 100000009 and cr1bd_boxsyncedat lt @{variables('cutoff')}",
              "$select": "cr1bd_caseid,cr1bd_casepo,cr1bd_boxsyncedat",
              "$top": 500
            }
          },
          "comment": "DOCUMENTED LINTER EXCEPTION (status+boxsyncedat, NOT a dedup-by-VRM read). Cases that reached box_synced(100000009, terminal) AND were synced longer ago than the grace window. box_synced is terminal so a purged case never re-enters the pipeline.",
          "runAfter": {}
        },
        "Apply_to_each_case": {
          "type": "Foreach",
          "foreach": "@coalesce(outputs('List_purgeable_cases')?['body/value'], json('[]'))",
          "runtimeConfiguration": { "concurrency": { "repetitions": 4 } },
          "actions": {
            "List_case_blob_evidence": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": {
                  "entityName": "cr1bd_evidences",
                  "$filter": "_cr1bd_caseid_value eq @{item()?['cr1bd_caseid']} and cr1bd_storagepath ne null and cr1bd_kind eq 100000000 and cr1bd_acceptedforeva eq true and cr1bd_excluded eq false",
                  "$select": "cr1bd_evidenceid,cr1bd_storagepath,cr1bd_filename"
                }
              },
              "comment": "Purges ONLY the evidence finalize archived to Box: accepted, non-excluded IMAGES (cr1bd_kind eq 100000000 and cr1bd_acceptedforeva eq true and cr1bd_excluded eq false) that still reference Blob bytes (non-empty cr1bd_storagepath). finalize-eva-box uploads exactly this set to Box, so these are safe to purge (the Box copy is the archive of record). Non-archived evidence (instructions / .eml / valuation / rejected images) Blob bytes are intentionally RETAINED here — full-artifact archival to Box + their subsequent purge is a deferred follow-up; purging them by storagepath-only would be permanent data loss of bytes never archived. _cr1bd_caseid_value is the lookup foreign key.",
              "runAfter": {}
            },
            "Apply_to_each_evidence": {
              "type": "Foreach",
              "foreach": "@coalesce(outputs('List_case_blob_evidence')?['body/value'], json('[]'))",
              "runtimeConfiguration": { "concurrency": { "repetitions": 1 } },
              "actions": {
                "Resolve_blob_id": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_azureblob", "operationId": "GetFileMetadataByPath_V2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob" },
                    "parameters": {
                      "dataset": "AccountNameFromSettings",
                      "path": "@item()?['cr1bd_storagepath']"
                    }
                  },
                  "comment": "cr1bd_storagepath holds the blob PATH (classify-persist stamps it from CreateFile_V2's BlobMetadata 'Path'; finalize-eva-box reads it with the PATH-typed GetFileContentByPath_V2). DeleteFile_V2 is keyed on the connector's opaque 'id', NOT the path — BlobMetadata exposes Path and Id as distinct fields. So resolve the id from the path first via the PATH-typed metadata op, then delete by that id. A blob that is already gone makes this 404/Fail -> the delete is skipped but Clear_storagepath still runs (the pointer is dead either way). dataset='AccountNameFromSettings' (access-key auth, same as CreateFile_V2/GetFileContentByPath_V2).",
                  "runAfter": {}
                },
                "Delete_blob": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_azureblob", "operationId": "DeleteFile_V2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob" },
                    "parameters": {
                      "dataset": "AccountNameFromSettings",
                      "id": "@body('Resolve_blob_id')?['Id']"
                    }
                  },
                  "comment": "FIRST-PARTY Azure Blob DeleteFile_V2 (params dataset + id; non-V2 DeleteFile is DEPRECATED). The 'id' is the connector's opaque blob identifier resolved by Resolve_blob_id (BlobMetadata.Id), NOT the stored path — feeding the PATH into 'id' fails/404s. Deletes ONLY the transient Blob copy. NEVER the Box copy (no shared_box_rest / shared_box op here). Only runs when the id resolved (Succeeded); an already-gone blob skips here and is cleaned up by Clear_storagepath.",
                  "runAfter": { "Resolve_blob_id": [ "Succeeded" ] }
                },
                "Clear_storagepath": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr1bd_evidences",
                      "recordId": "@item()?['cr1bd_evidenceid']",
                      "item/cr1bd_storagepath": ""
                    }
                  },
                  "comment": "Clear the storagepath reference (the row + its Box archive metadata are RETAINED; only the dead Blob pointer is cleared) ONLY when the blob was actually deleted (Succeeded) or was already gone (Skipped = Resolve_blob_id 404'd, so Delete_blob never ran). 'Failed' is deliberately DROPPED: on a genuine transient Delete_blob failure (429/5xx) the blob still EXISTS, so clearing the pointer would orphan the blob AND write a false 'purged' audit. Leaving the pointer set on Failed means the next scheduled purge run re-lists this evidence and retries the delete.",
                  "runAfter": { "Delete_blob": [ "Succeeded", "Skipped" ] }
                }
              },
              "comment": "Sequential per-evidence (concurrency 1) so a partial failure is deterministic and re-runnable; failure-isolated (the case-level audit still records).",
              "runAfter": { "List_case_blob_evidence": [ "Succeeded" ] }
            },
            "Audit_blob_purged_case": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": {
                  "entityName": "cr1bd_auditevents",
                  "item/cr1bd_name": "@concat('blob_purged: ', coalesce(item()?['cr1bd_casepo'], item()?['cr1bd_caseid']))",
                  "item/cr1bd_action": 100000016,
                  "item/cr1bd_severity": 100000000,
                  "item/cr1bd_actor": "Flow_BoxBlobPurge",
                  "item/cr1bd_after": "@concat('purged ', string(length(coalesce(outputs('List_case_blob_evidence')?['body/value'], json('[]')))), ' transient Blob evidence object(s) for case ', item()?['cr1bd_caseid'], ' (box_synced + ', string(parameters('PurgeGraceDays')), 'd grace); Box archive copy retained')",
                  "item/cr1bd_Caseid@odata.bind": "@concat('cr1bd_cases(', item()?['cr1bd_caseid'], ')')",
                  "item/cr1bd_occurredat": "@utcNow()"
                }
              },
              "comment": "Audit the per-case purge. Reuses action box_synced=100000016 (Info) with explicit blob_purged semantics in name/after — the SAME reuse precedent as intake's casepo_assigned on 100000003; no new audit value is minted by this flow (the dataverse choiceset owns the vocabulary). runAfter the evidence loop on ALL outcomes so the audit always records.",
              "runAfter": { "Apply_to_each_evidence": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] }
            }
          },
          "comment": "Per purgeable case: list its Blob-backed evidence -> delete each Blob + clear the pointer -> audit. Modest concurrency (4) across cases.",
          "runAfter": { "List_purgeable_cases": [ "Succeeded" ] }
        }
      },
      "else": { "actions": {} },
      "runAfter": { "Init_cutoff": [ "Succeeded" ] }
    }
  }
}
