flows/definitions/box-folder-create.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_BoxFolderCreate (Phase 7 / ADR-0012 / build-plan 04 §5, Wave 1 / box-flow-patterns Fragment 1). Returnable CHILD (Request trigger + Response) that mints the ONE UPPERCASE Case/PO Box folder at parse-confirm. Invoked from CS Intake INSIDE Scope_generate_casepo AFTER Update_case_casepo (where cr1bd_casepo first exists) with { caseId, casePo, workProviderId } — that intake invocation is an operator/business-phase LIVE edit (the repo intake.definition.json TRAILS live; do NOT add the call to the stale repo def — see docs/plans/phase-7-box-integration/box-integration-activation.md and memory intake-repo-trails-live). HOUSE RULES: the gate cr1bd_BOX_FOLDER_AT_INTAKE_ENABLED is READ not defined (dataverse owns the name+default OFF); the folder is created via the CUSTOM connector shared_box_rest CreateFolder (op fronts the box-webhook Azure Function which mints the Box CCG token server-side — custom connectors cannot run client_credentials, Microsoft Learn); BYTES never touch this connector (finalize keeps first-party shared_box CreateFile). IDEMPOTENT two ways: (1) in-flow guard empty(cr1bd_boxfolderid) skips the call when already stamped; (2) the Function swallows Box 409 item_name_in_use (case-insensitive) and returns the existing folder id. parent.id comes from env-var cr1bd_BOX_FOLDER_ROOT_ID via the BoxArchiveRootId param (NEVER a hardcoded live Box id). DATAVERSE DEPENDENCY: stamps cr1bd_boxfolderid (DURABLE, idempotency-critical) then cr1bd_boxsyncedat (BEST-EFFORT) in TWO DECOUPLED UpdateRecords — the durable id stamp + outcome=created must NOT be gated on the timestamp write, so a minted folder is always recorded as 'created' even if cr1bd_boxsyncedat is rejected (otherwise the folder is orphaned: id unstamped, outcome stuck at init 'gated_off', idempotency guard permanently re-colliding). cr1bd_boxsyncedat (DateTime, UserLocal, required:none) is the build-plan-04 §step-2 flow contract column and is read by box-blob-purge; the dataverse agent's shipped case.json declares cr1bd_boxfolderid but NOT YET cr1bd_boxsyncedat — that column must be added by dataverse-data-architect before activation (same close-the-drift pattern as cr1bd_finalizedpayloadhash); until it exists, the decoupled best-effort timestamp write simply fails harmlessly. [BUILD] state=off. ACTIVATION [RESERVED-FOR-USER]: import the cr1bd_box_rest connector, bind the connection (Function host key), set cr1bd_BOX_FOLDER_ROOT_ID, flip BOX_API_ENABLED then BOX_FOLDER_AT_INTAKE_ENABLED in a test env. Claude never holds a Box credential, never binds the connection, never flips the gate.",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} },
    "BoxArchiveRootId": { "type": "String", "defaultValue": "@parameters('BoxArchiveRootId')", "metadata": { "description": "Parent Box folder id for archives, sourced from env-var cr1bd_BOX_FOLDER_ROOT_ID at activation. Flow parameter; NEVER a hardcoded live Box id." } }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "comment": "Invoked by CS Intake (Run-a-Child-Flow) inside Scope_generate_casepo after Update_case_casepo, and by case-resolve's survivor-folder ensure. Single input { caseId, casePo, workProviderId }. workProviderId is carried for caller symmetry/observability only and is NOT load-bearing inside the child (the folder name is derived from casePo); a merged-case caller may pass '' safely.",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "caseId": { "type": "string" },
            "casePo": { "type": "string" },
            "workProviderId": { "type": "string" }
          }
        }
      }
    }
  },
  "actions": {
    "Init_caseId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "caseId", "type": "string", "value": "@coalesce(triggerBody()?['caseId'], '')" } ] },
      "runAfter": {}
    },
    "Init_casePo": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "casePo", "type": "string", "value": "@coalesce(triggerBody()?['casePo'], '')" } ] },
      "runAfter": { "Init_caseId": [ "Succeeded" ] }
    },
    "Init_outcome": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "outcome", "type": "string", "value": "gated_off" } ] },
      "comment": "One of: created | exists | gated_off | skipped_no_casepo. Returned to the caller for observability.",
      "runAfter": { "Init_casePo": [ "Succeeded" ] }
    },
    "Init_boxFolderId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "boxFolderId", "type": "string", "value": "" } ] },
      "comment": "The Box folder id (new from CreateFolder, or the pre-existing one read off the case). Declared top-level (InitializeVariable cannot be nested).",
      "runAfter": { "Init_outcome": [ "Succeeded" ] }
    },
    "Get_gate_definition": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "environmentvariabledefinitions",
          "$filter": "schemaname eq 'cr1bd_BOX_FOLDER_AT_INTAKE_ENABLED'",
          "$select": "environmentvariabledefinitionid,defaultvalue",
          "$expand": "environmentvariabledefinition_environmentvariablevalue($select=value)",
          "$top": 1
        }
      },
      "comment": "READ the gate (never DEFINE it). Same idiom as enrich/finalize: coalesce currentValue -> defaultValue -> 'false'.",
      "runAfter": { "Init_boxFolderId": [ "Succeeded" ] }
    },
    "Set_gate_BOX_FOLDER_AT_INTAKE_ENABLED": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "gate_BOX_FOLDER_AT_INTAKE_ENABLED", "type": "boolean",
        "value": "@equals(toLower(coalesce(first(first(outputs('Get_gate_definition')?['body/value'])?['environmentvariabledefinition_environmentvariablevalue'])?['value'], first(outputs('Get_gate_definition')?['body/value'])?['defaultvalue'], 'false')), 'true')"
      } ] },
      "comment": "Default OFF -> the gate-off branch responds outcome=gated_off and never calls Box.",
      "runAfter": { "Get_gate_definition": [ "Succeeded" ] }
    },
    "If_gate_on": {
      "type": "If",
      "expression": { "equals": [ "@variables('gate_BOX_FOLDER_AT_INTAKE_ENABLED')", true ] },
      "comment": "Gate-on path only. Gate-off leaves outcome=gated_off (set at init).",
      "actions": {
        "Get_case_for_box": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_cases",
              "recordId": "@variables('caseId')",
              "$select": "cr1bd_caseid,cr1bd_casepo,cr1bd_boxfolderid"
            }
          },
          "comment": "Re-read the case for the idempotency guard: cr1bd_boxfolderid (already stamped?) + the authoritative cr1bd_casepo.",
          "runAfter": {}
        },
        "If_already_stamped": {
          "type": "If",
          "expression": {
            "or": [
              { "not": { "equals": [ "@trim(coalesce(outputs('Get_case_for_box')?['body/cr1bd_boxfolderid'], ''))", "" ] } },
              { "equals": [ "@trim(coalesce(outputs('Get_case_for_box')?['body/cr1bd_casepo'], variables('casePo'), ''))", "" ] }
            ]
          },
          "comment": "IDEMPOTENCY + safety guard. If cr1bd_boxfolderid is already set -> no-op (outcome=exists). If there is no Case/PO at all (neither on the case nor passed in) -> skip (outcome=skipped_no_casepo): never CreateFolder with an empty name. Else fall through to create.",
          "actions": {
            "Set_outcome_exists_or_skip": {
              "type": "SetVariable",
              "inputs": { "name": "outcome",
                "value": "@if(not(equals(trim(coalesce(outputs('Get_case_for_box')?['body/cr1bd_boxfolderid'], '')), '')), 'exists', 'skipped_no_casepo')" },
              "runAfter": {}
            },
            "Set_boxFolderId_existing": {
              "type": "SetVariable",
              "inputs": { "name": "boxFolderId", "value": "@coalesce(outputs('Get_case_for_box')?['body/cr1bd_boxfolderid'], '')" },
              "runAfter": { "Set_outcome_exists_or_skip": [ "Succeeded" ] }
            }
          },
          "else": {
            "actions": {
              "Create_box_folder": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_box_rest", "operationId": "CreateFolder",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_box_rest" },
                  "parameters": {
                    "body/name": "@toUpper(coalesce(outputs('Get_case_for_box')?['body/cr1bd_casepo'], variables('casePo')))",
                    "body/parent/id": "@parameters('BoxArchiveRootId')"
                  }
                },
                "comment": "CUSTOM connector CreateFolder -> POST /2.0/folders { name: UPPERCASE Case/PO, parent.id: archive root }. The Function swallows Box 409 item_name_in_use (case-insensitive collision) and returns the existing folder id, so a concurrent/re-run create is harmless. body/parent/id is the ONLY id field and it is an @parameter (env-var), never a literal — the folder NAME is the UPPERCASE Case/PO (not all-digits). BYTES never go through this connector.",
                "runAfter": {}
              },
              "Set_boxFolderId_new": {
                "type": "SetVariable",
                "inputs": { "name": "boxFolderId", "value": "@coalesce(outputs('Create_box_folder')?['body/id'], '')" },
                "runAfter": { "Create_box_folder": [ "Succeeded" ] }
              },
              "Stamp_boxfolderid": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                  "parameters": {
                    "entityName": "cr1bd_cases",
                    "recordId": "@variables('caseId')",
                    "item/cr1bd_boxfolderid": "@variables('boxFolderId')"
                  }
                },
                "comment": "DURABLE stamp of the live Box folder id ONLY — the idempotency-critical write (the guard empty(cr1bd_boxfolderid) depends on it). Deliberately DECOUPLED from the cr1bd_boxsyncedat timestamp write (Stamp_boxsyncedat below): a successful CreateFolder must persist the id and report outcome=created even if the not-yet-guaranteed cr1bd_boxsyncedat column write fails (dataverse-data-architect must declare cr1bd_boxsyncedat on cr1bd_case before activation — it ships cr1bd_boxfolderid but not yet this one). Without the split, a rejected timestamp would fail the whole UpdateRecord, leaving the minted folder unrecorded, outcome stuck at its init 'gated_off', and the idempotency guard permanently re-colliding.",
                "runAfter": { "Set_boxFolderId_new": [ "Succeeded" ] }
              },
              "Set_outcome_created": {
                "type": "SetVariable",
                "inputs": { "name": "outcome", "value": "created" },
                "comment": "Report created off the DURABLE id stamp (Stamp_boxfolderid), NOT the best-effort timestamp — a folder that was minted and whose id persisted is genuinely 'created' even if the timestamp write later fails.",
                "runAfter": { "Stamp_boxfolderid": [ "Succeeded" ] }
              },
              "Audit_box_folder_created": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                  "parameters": {
                    "entityName": "cr1bd_auditevents",
                    "item/cr1bd_name": "@concat('box_folder_created: ', toUpper(coalesce(outputs('Get_case_for_box')?['body/cr1bd_casepo'], variables('casePo'))))",
                    "item/cr1bd_action": 100000019,
                    "item/cr1bd_severity": 100000000,
                    "item/cr1bd_actor": "Flow_BoxFolderCreate",
                    "item/cr1bd_after": "@concat('Box folder ', variables('boxFolderId'), ' (', toUpper(coalesce(outputs('Get_case_for_box')?['body/cr1bd_casepo'], variables('casePo'))), ') minted under archive root')",
                    "item/cr1bd_Caseid@odata.bind": "@concat('cr1bd_cases(', variables('caseId'), ')')",
                    "item/cr1bd_occurredat": "@utcNow()"
                  }
                },
                "comment": "Audit the create (action box_folder_created=100000019, Info). Linked to the case. runAfter the DURABLE id stamp so the audit only records a genuine, persisted create.",
                "runAfter": { "Set_outcome_created": [ "Succeeded" ] }
              },
              "Stamp_boxsyncedat": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                  "parameters": {
                    "entityName": "cr1bd_cases",
                    "recordId": "@variables('caseId')",
                    "item/cr1bd_boxsyncedat": "@utcNow()"
                  }
                },
                "comment": "BEST-EFFORT stamp of the sync timestamp ONLY. cr1bd_boxsyncedat is the build-plan-04 flow-contract column (DateTime, UserLocal) read by box-blob-purge; dataverse-data-architect must declare it on cr1bd_case before activation (close-the-drift like cr1bd_finalizedpayloadhash). DECOUPLED from the id stamp + outcome on purpose: this runs LAST and is allowed to fail without losing the durable boxfolderid or corrupting outcome=created — so a missing/rejected column degrades to 'no timestamp yet' instead of orphaning the folder. runAfter the audit on ALL completion outcomes so a sub-step failure cannot suppress this write either.",
                "runAfter": { "Audit_box_folder_created": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] }
              }
            }
          },
          "runAfter": { "Get_case_for_box": [ "Succeeded" ] }
        }
      },
      "else": { "actions": {} },
      "runAfter": { "Set_gate_BOX_FOLDER_AT_INTAKE_ENABLED": [ "Succeeded" ] }
    },
    "Respond_result": {
      "type": "Response",
      "kind": "Http",
      "inputs": {
        "statusCode": 200,
        "body": {
          "caseId": "@variables('caseId')",
          "boxFolderId": "@variables('boxFolderId')",
          "outcome": "@variables('outcome')",
          "folderPath": "@if(equals(trim(coalesce(outputs('Get_case_for_box')?['body/cr1bd_casepo'], variables('casePo'), '')), ''), '', concat('/', toUpper(trim(coalesce(outputs('Get_case_for_box')?['body/cr1bd_casepo'], variables('casePo'), '')))))"
        }
      },
      "comment": "Child-flow return (required to be callable via Run-a-Child-Flow). { caseId, boxFolderId, outcome (created|exists|gated_off|skipped_no_casepo), folderPath }. folderPath is built from the SAME coalesce(Get_case_for_box.cr1bd_casepo, casePo) the create/audit/guard steps use (NOT the trigger-passed casePo alone) so a merged-case survivor caller passing casePo='' still returns the real UPPERCASE folder path; on the gate-off / skipped_no_casepo branches Get_case_for_box did not run (its ?[] output is null) and casePo is empty, so the coalesce is '' and folderPath honestly returns '' rather than a misleading bare '/'. runAfter If_gate_on on ALL completion outcomes so the child always returns even if a sub-step failed.",
      "runAfter": { "If_gate_on": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] }
    }
  }
}
