flows/definitions/case-resolve.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_CaseResolve — MERGE BY REGISTRATION (M1, LIVE 2026-06-20). Standalone returnable CHILD (Request-triggered, Response-equipped) called by CS Intake after Run_parse with a single { caseId }. Implements the operator's instructions<->images auto-merge: an instructions case (carries a Case/PO) and an images case (no Case/PO, identified by registration) that share the SAME non-empty VRM are merged into ONE case (the instructions case, the survivor) which then re-runs status-evaluate and lands in Review when otherwise complete (the human is the safety net). RULES: (a) exactly ONE complementary open same-VRM match -> MERGE; (b) MORE THAN ONE complementary match -> do NOT auto-merge, set the trigger case to duplicate_risk(100000005) -> Held for staff (ADR-0010: one reg can carry two legitimate claims); (c) ZERO -> no-op. INVIOLABLE GUARDS: only fires on a non-empty VRM; never merges a case that is already linked (caselinkstate Linked=100000002), inactive (statecode!=0), or terminal; idempotent (a re-fire finds the now-linked image case excluded and no-ops); failure-isolated (each branch's audit is best-effort). COMPLEMENTARITY DISCRIMINATOR: instructions cases have a non-empty cr1bd_casepo, image-only cases do not (CS Intake assigns Case/PO only when a provider/principal is known; image-only cases get none) — so 'has Case/PO' classifies a candidate as instructions vs images without an N+1 per-row evidence read. SURVIVOR = the case WITH a Case/PO. Evidence on the image case is re-pointed to the survivor via item/cr1bd_Caseid@odata.bind = cr1bd_cases(<survivorId>) (verified nav property, same form classify-persist uses). The image case is retired: status linked_to_instruction(100000006) + DEACTIVATED (statecode=1) — reversible, retained, leaves the active queues. NOTE: there is NO case->case lookup column in the schema (cr1bd_imagesourceid is a lookup to the cr1bd_imagesource MASTER table, NOT a case) — the merge provenance (which image case was absorbed) is recorded in cr1bd_caselinkstate=Linked + the cr1bd_duplicatekeys Memo, NOT in cr1bd_imagesourceid. This REPLACES the orphaned ADR-0010 dedup-ladder body (drop/attach/new/propose-attach/create keyed on candidateVrm/candidateRef/workProviderId); that ladder's attach/create rungs were never in intake's hot path (intake owns its own Create), and its '>1 candidate -> Held' rule survives here as rule (b). [LIVE].",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "comment": "Invoked by CS Intake (Run-a-Child-Flow) after Run_parse, non-blocking, with the newly-created/parsed case id. Single input { caseId }.",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "caseId": { "type": "string" }
          }
        }
      }
    }
  },
  "actions": {
    "Init_caseId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "caseId", "type": "string", "value": "@coalesce(triggerBody()?['caseId'], '')" } ] },
      "runAfter": {}
    },
    "Init_merged": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "merged", "type": "boolean", "value": false } ] },
      "comment": "Set true only when a single-pair auto-merge actually completes. Returned to the caller.",
      "runAfter": { "Init_caseId": [ "Succeeded" ] }
    },
    "Init_outcome": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "outcome", "type": "string", "value": "noop" } ] },
      "comment": "One of: noop | merged | held_multiple | skipped_guard. Returned to the caller for observability.",
      "runAfter": { "Init_merged": [ "Succeeded" ] }
    },
    "Init_survivorCaseId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "survivorCaseId", "type": "string", "value": "" } ] },
      "comment": "The instructions case (the one carrying a Case/PO) that survives the merge; status-evaluate re-runs on it.",
      "runAfter": { "Init_outcome": [ "Succeeded" ] }
    },
    "Init_triggerIsInstructions": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "triggerIsInstructions", "type": "boolean", "value": false } ] },
      "comment": "Declared at top level (Logic Apps requires InitializeVariable to be top-level, never nested). Set inside Guard_mergeable.",
      "runAfter": { "Init_survivorCaseId": [ "Succeeded" ] }
    },
    "Init_triggerIsImages": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "triggerIsImages", "type": "boolean", "value": false } ] },
      "comment": "Declared at top level (InitializeVariable cannot be nested). Set inside Guard_mergeable.",
      "runAfter": { "Init_triggerIsInstructions": [ "Succeeded" ] }
    },
    "Get_trigger_case": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "GetItem",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_cases",
          "recordId": "@variables('caseId')",
          "$select": "cr1bd_caseid,cr1bd_vrm,cr1bd_casepo,cr1bd_caselinkstate,cr1bd_status,statecode"
        }
      },
      "comment": "Read the trigger case: registration (cr1bd_vrm), Case/PO presence (instructions vs images discriminator), current link state / status / active state for the guard.",
      "runAfter": { "Init_triggerIsImages": [ "Succeeded" ] }
    },
    "Guard_mergeable": {
      "type": "If",
      "expression": {
        "and": [
          { "greater": [ "@length(trim(coalesce(outputs('Get_trigger_case')?['body/cr1bd_vrm'], '')))", 0 ] },
          { "equals": [ "@coalesce(outputs('Get_trigger_case')?['body/statecode'], 0)", 0 ] },
          { "not": { "equals": [ "@coalesce(outputs('Get_trigger_case')?['body/cr1bd_caselinkstate'], 100000000)", 100000002 ] } },
          { "not": { "equals": [ "@outputs('Get_trigger_case')?['body/cr1bd_status']", 100000008 ] } },
          { "not": { "equals": [ "@outputs('Get_trigger_case')?['body/cr1bd_status']", 100000009 ] } },
          { "not": { "equals": [ "@outputs('Get_trigger_case')?['body/cr1bd_status']", 100000010 ] } }
        ]
      },
      "comment": "Fire only on a genuinely mergeable trigger case: non-empty VRM AND active (statecode=0) AND not already Linked(100000002) AND not terminal (eva_submitted/box_synced/error). Any failure -> skip (the else sets outcome=skipped_guard) so an already-merged / no-VRM / terminal arrival is a clean no-op (idempotent).",
      "actions": {
        "List_trigger_instruction_evidence": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_evidences",
              "$filter": "_cr1bd_caseid_value eq @{variables('caseId')} and cr1bd_kind eq 100000002 and statecode eq 0",
              "$select": "cr1bd_evidenceid"
            }
          },
          "comment": "Active instruction-kind evidence (Instruction=100000002) on the trigger case. Used (with Case/PO presence) to decide whether the trigger is an instructions case.",
          "runAfter": {}
        },
        "List_trigger_image_evidence": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_evidences",
              "$filter": "_cr1bd_caseid_value eq @{variables('caseId')} and cr1bd_kind eq 100000000 and statecode eq 0",
              "$select": "cr1bd_evidenceid"
            }
          },
          "comment": "Active image-kind evidence (Image=100000000) on the trigger case.",
          "runAfter": { "List_trigger_instruction_evidence": [ "Succeeded" ] }
        },
        "Set_triggerIsInstructions": {
          "type": "SetVariable",
          "inputs": { "name": "triggerIsInstructions",
            "value": "@or(greater(length(trim(coalesce(outputs('Get_trigger_case')?['body/cr1bd_casepo'], ''))), 0), greater(length(coalesce(outputs('List_trigger_instruction_evidence')?['body/value'], json('[]'))), 0))" },
          "comment": "Trigger is an INSTRUCTIONS case if it carries a Case/PO OR holds active instruction evidence. (A Case/PO is only ever minted for a known provider/principal -> instructions.) SetVariable (the var is declared top-level).",
          "runAfter": { "List_trigger_image_evidence": [ "Succeeded" ] }
        },
        "Set_triggerIsImages": {
          "type": "SetVariable",
          "inputs": { "name": "triggerIsImages",
            "value": "@and(not(variables('triggerIsInstructions')), greater(length(coalesce(outputs('List_trigger_image_evidence')?['body/value'], json('[]'))), 0))" },
          "comment": "Trigger is an IMAGES case if it is NOT instructions AND holds active image evidence. A case that is neither (e.g. nothing usable yet) leaves both false -> the complementary list is empty -> no-op. SetVariable (the var is declared top-level).",
          "runAfter": { "Set_triggerIsInstructions": [ "Succeeded" ] }
        },
        "List_same_vrm_open_cases": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_cases",
              "$filter": "cr1bd_vrm eq '@{trim(coalesce(outputs('Get_trigger_case')?['body/cr1bd_vrm'], ''))}' and statecode eq 0 and cr1bd_caseid ne @{variables('caseId')} and cr1bd_status ne 100000006 and cr1bd_status ne 100000008 and cr1bd_status ne 100000009 and cr1bd_status ne 100000010",
              "$select": "cr1bd_caseid,cr1bd_casepo,cr1bd_status,cr1bd_caselinkstate",
              "$top": 50
            }
          },
          "comment": "Other OPEN cases with the SAME registration, excluding the trigger and any already-retired (linked_to_instruction=100000006) or terminal case. caselinkstate Linked is filtered in-flow next (a possibly-null choice cannot be cleanly AND-ed in OData). This is the candidate pool; complementarity is applied by the Filter below.",
          "runAfter": { "Set_triggerIsImages": [ "Succeeded" ] }
        },
        "Filter_complementary": {
          "type": "Query",
          "inputs": {
            "from": "@coalesce(outputs('List_same_vrm_open_cases')?['body/value'], json('[]'))",
            "where": "@and(not(equals(coalesce(item()?['cr1bd_caselinkstate'], 100000000), 100000002)), if(variables('triggerIsInstructions'), equals(length(trim(coalesce(item()?['cr1bd_casepo'], ''))), 0), if(variables('triggerIsImages'), greater(length(trim(coalesce(item()?['cr1bd_casepo'], ''))), 0), false)))"
          },
          "comment": "Keep only COMPLEMENTARY, not-already-linked candidates. Trigger is instructions -> keep image cases (empty Case/PO). Trigger is images -> keep instructions cases (non-empty Case/PO). Trigger is neither -> keep nothing (false). The single survivor is always the instructions case (the one carrying the Case/PO).",
          "runAfter": { "List_same_vrm_open_cases": [ "Succeeded" ] }
        },
        "Switch_on_match_count": {
          "type": "Switch",
          "expression": "@if(equals(length(body('Filter_complementary')), 1), 'ONE', if(greater(length(body('Filter_complementary')), 1), 'MANY', 'ZERO'))",
          "comment": "ONE complementary match -> auto-merge. MANY -> Held (duplicate_risk) for staff. ZERO -> no-op.",
          "cases": {
            "Case_ONE": {
              "case": "ONE",
              "actions": {
                "Set_survivor_and_image": {
                  "type": "Compose",
                  "inputs": {
                    "survivorCaseId": "@if(variables('triggerIsInstructions'), variables('caseId'), first(body('Filter_complementary'))?['cr1bd_caseid'])",
                    "imageCaseId": "@if(variables('triggerIsInstructions'), first(body('Filter_complementary'))?['cr1bd_caseid'], variables('caseId'))"
                  },
                  "comment": "Survivor = the instructions case (carries the Case/PO): the trigger if it is instructions, else the single complementary match. Image case = the other one.",
                  "runAfter": {}
                },
                "Set_survivorCaseId_var": {
                  "type": "SetVariable",
                  "inputs": { "name": "survivorCaseId", "value": "@outputs('Set_survivor_and_image')?['survivorCaseId']" },
                  "runAfter": { "Set_survivor_and_image": [ "Succeeded" ] }
                },
                "List_image_case_evidence": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr1bd_evidences",
                      "$filter": "_cr1bd_caseid_value eq @{outputs('Set_survivor_and_image')?['imageCaseId']} and statecode eq 0",
                      "$select": "cr1bd_evidenceid"
                    }
                  },
                  "comment": "All ACTIVE evidence rows on the image case (every kind: images, .eml, etc.) — these get re-pointed to the survivor so the survivor holds the complete evidence set.",
                  "runAfter": { "Set_survivorCaseId_var": [ "Succeeded" ] }
                },
                "Repoint_evidence_to_survivor": {
                  "type": "Foreach",
                  "foreach": "@coalesce(outputs('List_image_case_evidence')?['body/value'], json('[]'))",
                  "actions": {
                    "Update_evidence_case": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                        "parameters": {
                          "entityName": "cr1bd_evidences",
                          "recordId": "@item()?['cr1bd_evidenceid']",
                          "item/cr1bd_Caseid@odata.bind": "@concat('cr1bd_cases(', variables('survivorCaseId'), ')')"
                        }
                      },
                      "comment": "Re-point this evidence row's parent case to the survivor. nav property cr1bd_Caseid (verified) = cr1bd_cases(<survivorId>), no leading slash — identical form to classify-persist's evidence Caseid bind.",
                      "runAfter": {}
                    }
                  },
                  "runtimeConfiguration": { "concurrency": { "repetitions": 1 } },
                  "comment": "Sequential re-point (concurrency 1) so a partial failure is deterministic and re-runnable. Evidence migration is the load-bearing step; if it throws, the run fails and NOTHING below (retire/deactivate) executes, so the image case stays intact and the operator can re-fire.",
                  "runAfter": { "List_image_case_evidence": [ "Succeeded" ] }
                },
                "Update_survivor_linkstate": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr1bd_cases",
                      "recordId": "@variables('survivorCaseId')",
                      "item/cr1bd_caselinkstate": 100000002,
                      "item/cr1bd_duplicatekeys": "@concat('{\"mergedImageCaseId\":\"', outputs('Set_survivor_and_image')?['imageCaseId'], '\",\"mergedByVrm\":\"', trim(coalesce(outputs('Get_trigger_case')?['body/cr1bd_vrm'], '')), '\",\"mergedAt\":\"', utcNow(), '\"}')"
                    }
                  },
                  "comment": "Mark the survivor Linked(100000002) and record the absorbed image case id in the cr1bd_duplicatekeys Memo (there is NO case->case lookup column; cr1bd_imagesourceid points to the cr1bd_imagesource MASTER table and must NOT take a case id). This is the reversible merge provenance.",
                  "runAfter": { "Repoint_evidence_to_survivor": [ "Succeeded" ] }
                },
                "Update_image_status": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr1bd_cases",
                      "recordId": "@outputs('Set_survivor_and_image')?['imageCaseId']",
                      "item/cr1bd_status": 100000006,
                      "item/cr1bd_caselinkstate": 100000002
                    }
                  },
                  "comment": "Retire the image case: status linked_to_instruction(100000006), link state Linked(100000002). Set BEFORE deactivation (a deactivated row rejects field updates).",
                  "runAfter": { "Update_survivor_linkstate": [ "Succeeded" ] }
                },
                "Deactivate_image_case": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr1bd_cases",
                      "recordId": "@outputs('Set_survivor_and_image')?['imageCaseId']",
                      "item/statecode": 1,
                      "item/statuscode": 2
                    }
                  },
                  "comment": "Deactivate the image case (statecode=1 Inactive, statuscode=2 Inactive) so it leaves the active queues but is RETAINED and reversible. Reactivation restores it intact.",
                  "runAfter": { "Update_image_status": [ "Succeeded" ] }
                },
                "Set_merged_true": {
                  "type": "SetVariable",
                  "inputs": { "name": "merged", "value": true },
                  "runAfter": { "Deactivate_image_case": [ "Succeeded" ] }
                },
                "Set_outcome_merged": {
                  "type": "SetVariable",
                  "inputs": { "name": "outcome", "value": "merged" },
                  "runAfter": { "Set_merged_true": [ "Succeeded" ] }
                },
                "Run_status_evaluate_survivor": {
                  "type": "Workflow",
                  "inputs": {
                    "host": { "workflowReferenceName": "4d963ff7-7f14-40e5-aa3c-07b741b0cba5" },
                    "body": { "caseId": "@variables('survivorCaseId')" }
                  },
                  "comment": "Recompute the survivor's status now it holds the full evidence set: complete -> ready_for_eva (-> Review); else it stays Not Ready. CS Status Evaluate (4d963ff7...) — Request child, called by GUID. Non-blocking on its own outcome so a status hiccup never fails the merge itself.",
                  "runAfter": { "Set_outcome_merged": [ "Succeeded" ] }
                },
                "Audit_merged": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr1bd_auditevents",
                      "item/cr1bd_name": "@concat('case_merged (by registration): ', trim(coalesce(outputs('Get_trigger_case')?['body/cr1bd_vrm'], '')))",
                      "item/cr1bd_action": 100000004,
                      "item/cr1bd_actor": "Flow_CaseResolve",
                      "item/cr1bd_severity": 100000000,
                      "item/cr1bd_after": "@concat('merged image case ', outputs('Set_survivor_and_image')?['imageCaseId'], ' into instructions case ', variables('survivorCaseId'), ' on registration ', trim(coalesce(outputs('Get_trigger_case')?['body/cr1bd_vrm'], '')), '; evidence re-pointed; image case linked_to_instruction + deactivated')",
                      "item/cr1bd_Caseid@odata.bind": "@concat('cr1bd_cases(', variables('survivorCaseId'), ')')",
                      "item/cr1bd_occurredat": "@utcNow()"
                    }
                  },
                  "comment": "Audit the merge (action Case Attached=100000004, Info). Linked to the survivor. runAfter status-evaluate on ALL outcomes so the audit always records even if status-evaluate hiccups; an audit hiccup is itself non-fatal (nothing runs after it in this branch).",
                  "runAfter": { "Run_status_evaluate_survivor": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] }
                }
              }
            },
            "Case_MANY": {
              "case": "MANY",
              "actions": {
                "Set_outcome_held": {
                  "type": "SetVariable",
                  "inputs": { "name": "outcome", "value": "held_multiple" },
                  "runAfter": {}
                },
                "Hold_trigger_duplicate_risk": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr1bd_cases",
                      "recordId": "@variables('caseId')",
                      "item/cr1bd_status": 100000005
                    }
                  },
                  "comment": "MORE THAN ONE complementary open match for this registration -> NEVER auto-merge (one reg can carry two legitimate claims, ADR-0010). Set the trigger case to duplicate_risk(100000005) so it lands in Held for a person to reconcile.",
                  "runAfter": { "Set_outcome_held": [ "Succeeded" ] }
                },
                "Audit_held_multiple": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr1bd_auditevents",
                      "item/cr1bd_name": "@concat('merge_held (multiple candidates): ', trim(coalesce(outputs('Get_trigger_case')?['body/cr1bd_vrm'], '')))",
                      "item/cr1bd_action": 100000006,
                      "item/cr1bd_actor": "Flow_CaseResolve",
                      "item/cr1bd_severity": 100000001,
                      "item/cr1bd_after": "@concat('registration ', trim(coalesce(outputs('Get_trigger_case')?['body/cr1bd_vrm'], '')), ' has ', string(length(body('Filter_complementary'))), ' complementary open cases -> not auto-merged; case ', variables('caseId'), ' set to duplicate_risk for staff to reconcile')",
                      "item/cr1bd_Caseid@odata.bind": "@concat('cr1bd_cases(', variables('caseId'), ')')",
                      "item/cr1bd_occurredat": "@utcNow()"
                    }
                  },
                  "comment": "Audit the Held decision (action Duplicate Flagged=100000006, Warning). Linked to the trigger case.",
                  "runAfter": { "Hold_trigger_duplicate_risk": [ "Succeeded" ] }
                }
              }
            }
          },
          "default": {
            "actions": {
              "Set_outcome_noop": {
                "type": "SetVariable",
                "inputs": { "name": "outcome", "value": "noop" },
                "comment": "ZERO complementary matches -> no-op (nothing to merge; the case proceeds on its own through the normal status machine).",
                "runAfter": {}
              }
            }
          },
          "runAfter": { "Filter_complementary": [ "Succeeded" ] }
        }
      },
      "else": {
        "actions": {
          "Set_outcome_skipped": {
            "type": "SetVariable",
            "inputs": { "name": "outcome", "value": "skipped_guard" },
            "comment": "Trigger case is not mergeable (no VRM / inactive / already Linked / terminal) -> clean no-op. This is the idempotency path: a re-fire on an already-merged case lands here.",
            "runAfter": {}
          }
        }
      },
      "runAfter": { "Get_trigger_case": [ "Succeeded" ] }
    },
    "Respond_result": {
      "type": "Response",
      "kind": "Http",
      "inputs": {
        "statusCode": 200,
        "body": {
          "caseId": "@variables('caseId')",
          "merged": "@variables('merged')",
          "outcome": "@variables('outcome')",
          "survivorCaseId": "@variables('survivorCaseId')"
        }
      },
      "comment": "Child-flow return (required to be callable via Run-a-Child-Flow). { caseId (trigger), merged (bool), outcome (noop|merged|held_multiple|skipped_guard), survivorCaseId }. runAfter Guard_mergeable on ALL completion outcomes so the child always returns even if a sub-step failed.",
      "runAfter": { "Guard_mergeable": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] }
    }
  }
}
