flows/definitions/case-disposition.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_CaseDisposition (Phase 9 / ADR-0017 G1, DEFERRED-pending-operator/legal). SCHEDULED, gate-read, two-clock retention disposition. THE MOST SENSITIVE FLOW IN THE SOLUTION: it performs AUTOMATED PII handling, so every branch is conservative, explicit, and audited. Mirrors box-blob-purge's shape (Recurrence -> gate-read -> InitializeVariable cutoff -> If gate_on { ListRecords + Apply_to_each + audit } else no-op). It READS the two-clock retention columns on cr1bd_case (cr1bd_closedat / cr1bd_retentionexpiresat / cr1bd_legalhold) and, ONLY for cases where the GDPR data-minimisation clock has lapsed (cr1bd_retentionexpiresat < utcNow()) AND there is NO litigation/evidential hold (cr1bd_legalhold ne true) AND the case is in a TERMINAL/closed status, it: (1) purges remaining transient Azure Blob evidence BYTES that are already archived (first-party shared_azureblob DeleteFile_V2, mirroring box-blob-purge — transient bytes only); (2) ANONYMISES by NULLing the claimant PII fields on the Case + its Evidence (a field-null, NOT a row hard-delete); (3) clears cr1bd_retentionexpiresat as the disposition MARKER so the case is identifiable as disposed AND is never re-selected on a future run; (4) audits case_disposed (cr1bd_action 100000026) per disposed case. INVARIANTS (ADR-0017 / data-protection.md §8): TWO-CLOCK GUARD — a legal-hold case is NEVER disposed regardless of the minimisation clock (the litigation clock always wins); NO BOX DELETION — there is NO Box op (no shared_box / shared_box_rest connection) anywhere in this flow (one-way mirror, ADR-0012 §8a 'NO AUTOMATED DELETION FROM BOX, EVER' — the Box archive copy is retained); NO AUDIT DELETION — cr1bd_auditevent rows are never deleted (RemoveLink-protected audit-of-record); FIELD-NULL NOT ROW-DELETE — Case/Evidence rows are anonymised in place, not hard-deleted (hard-delete is a separate operator-chosen policy variant, left as a clearly-marked gated-off placeholder comment, NOT implemented). HOUSE RULES: gate cr1bd_CASE_DISPOSITION_ENABLED is READ not defined (default OFF — the flow is inert until the operator BOTH flips it AND turns the flow on); first-party shared_azureblob only for bytes; the cr1bd_cases ListRecords here (retentionexpiresat + legalhold + terminal-status filter) is a DOCUMENTED linter exception in validate-flows.mjs (it is NOT a dedup-by-VRM read). POLICY OWNED BY OPERATOR/LEGAL (NOT baked into this flow): the retention WINDOW that sets cr1bd_retentionexpiresat (computed elsewhere from cr1bd_closedat + the [RESERVED-FOR-USER]/legal statutory period — this flow only CONSUMES retentionexpiresat) and the anonymise-vs-hard-delete CHOICE (this flow defaults to the conservative field-null). [BUILD] state=off, gated-OFF. ACTIVATION [RESERVED-FOR-USER]: confirm the [RESERVED-FOR-USER]/legal retention period drives retentionexpiresat, complete the ADR-0017 G6 store-hardening pre-step (KV purge-protection + Blob soft-delete/versioning), bind shared_azureblob + shared_commondataserviceforapps, set a real near-term Recurrence startTime (it ships a far-future placeholder so it NEVER fires on import), then flip CASE_DISPOSITION_ENABLED true AND turn the flow ON. Claude never flips the gate, never binds the connection, never turns the flow on.",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} }
  },
  "triggers": {
    "Recurrence": {
      "type": "Recurrence",
      "recurrence": {
        "frequency": "Day",
        "interval": 1,
        "startTime": "2099-01-01T02:00:00Z",
        "timeZone": "UTC"
      },
      "comment": "Daily. startTime is a far-future placeholder so the flow NEVER fires on import/deploy (Logic Apps Recurrence fires immediately if no startTime is set). startTime is a STATIC string, never a runtime now(). The operator sets a real near-term startTime (e.g. an off-peak hour) at activation. A polling trigger reprocesses pending occurrences on re-enable. Daily cadence is ample: retention windows are measured in years, so a missed day never matters.",
      "inputs": {}
    }
  },
  "actions": {
    "Get_gate_definition": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "environmentvariabledefinitions",
          "$filter": "schemaname eq 'cr1bd_CASE_DISPOSITION_ENABLED'",
          "$select": "environmentvariabledefinitionid,defaultvalue",
          "$expand": "environmentvariabledefinition_environmentvariablevalue($select=value)",
          "$top": 1
        }
      },
      "comment": "READ the destructive kill switch (never DEFINE it). Default OFF -> the whole disposition is skipped and nothing is deleted/anonymised. Same gate-read idiom as box-blob-purge / chaser-send.",
      "runAfter": {}
    },
    "Set_gate_CASE_DISPOSITION_ENABLED": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "gate_CASE_DISPOSITION_ENABLED", "type": "boolean",
        "value": "@equals(toLower(coalesce(first(first(outputs('Get_gate_definition')?['body/value'])?['environmentvariabledefinition_environmentvariablevalue'])?['value'], first(outputs('Get_gate_definition')?['body/value'])?['defaultvalue'], 'false')), 'true')"
      } ] },
      "comment": "Default false = the destructive kill switch is OFF. The disposition (purge + anonymise) runs ONLY when this is true (flipped by the operator after the legal retention period + the G6 store-hardening pre-step, [RESERVED-FOR-USER]).",
      "runAfter": { "Get_gate_definition": [ "Succeeded" ] }
    },
    "Init_now": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "nowUtc", "type": "string", "value": "@utcNow()" } ] },
      "comment": "Snapshot the disposition-run timestamp once so the eligibility filter and the audit use one consistent instant. The retention WINDOW is computed ELSEWHERE (cr1bd_retentionexpiresat = cr1bd_closedat + the operator/legal statutory period); this flow only COMPARES against it — it never bakes in a window.",
      "runAfter": { "Set_gate_CASE_DISPOSITION_ENABLED": [ "Succeeded" ] }
    },
    "If_gate_on": {
      "type": "If",
      "expression": { "equals": [ "@variables('gate_CASE_DISPOSITION_ENABLED')", true ] },
      "comment": "Gate-on path only. Gate-off -> audited no-op (else branch): nothing is purged, nothing is anonymised, no row touched.",
      "actions": {
        "List_disposable_cases": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_cases",
              "$filter": "cr1bd_retentionexpiresat ne null and cr1bd_retentionexpiresat lt @{variables('nowUtc')} and cr1bd_legalhold ne true and (cr1bd_status eq 100000008 or cr1bd_status eq 100000009)",
              "$select": "cr1bd_caseid,cr1bd_casepo,cr1bd_vrm,cr1bd_status,cr1bd_retentionexpiresat,cr1bd_legalhold",
              "$top": 200
            }
          },
          "comment": "DOCUMENTED LINTER EXCEPTION (retentionexpiresat + legalhold + terminal-status sweep, NOT a dedup-by-VRM read). THE TWO-CLOCK GUARD, expressed as a single filter so a held case is NEVER even fetched: (clock 1, minimisation) cr1bd_retentionexpiresat ne null AND cr1bd_retentionexpiresat lt now -> the minimisation window has lapsed; (clock 2, litigation) cr1bd_legalhold ne true -> NO evidential/legal hold (a live hold ALWAYS overrides the expiry — the litigation clock wins, ADR-0017); AND the case is in a TERMINAL/closed status (eva_submitted 100000008 OR box_synced 100000009 — the cr1bd_casestatus terminal set that represents concluded work; 'error' 100000010 is a fault terminal and deliberately EXCLUDED so a broken case is reviewed by a human, never auto-disposed). cr1bd_retentionexpiresat ne null also means a case never closed / never given a window is never disposed. Clearing cr1bd_retentionexpiresat at disposal (below) removes the row from every future run (idempotency + the disposition marker). $top 200 bounds a run; the daily cadence drains a backlog.",
          "runAfter": {}
        },
        "Apply_to_each_case": {
          "type": "Foreach",
          "foreach": "@coalesce(outputs('List_disposable_cases')?['body/value'], json('[]'))",
          "runtimeConfiguration": { "concurrency": { "repetitions": 1 } },
          "actions": {
            "Reassert_not_held": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": {
                  "entityName": "cr1bd_cases",
                  "recordId": "@item()?['cr1bd_caseid']",
                  "$select": "cr1bd_caseid,cr1bd_legalhold,cr1bd_retentionexpiresat,cr1bd_status"
                }
              },
              "comment": "TWO-CLOCK GUARD, re-asserted per case at the moment of disposal: re-read cr1bd_legalhold (and the expiry/status) fresh so a hold applied AFTER the list query (e.g. a dispute raised mid-run) still wins. The list filter already excludes held cases; this is the belt-and-braces second check before anything destructive, because deleting PII is irreversible.",
              "runAfter": {}
            },
            "If_still_disposable": {
              "type": "If",
              "expression": { "and": [
                { "not": { "equals": [ "@outputs('Reassert_not_held')?['body/cr1bd_legalhold']", true ] } },
                { "not": { "equals": [ "@outputs('Reassert_not_held')?['body/cr1bd_retentionexpiresat']", null ] } },
                { "less": [ "@coalesce(outputs('Reassert_not_held')?['body/cr1bd_retentionexpiresat'], variables('nowUtc'))", "@variables('nowUtc')" ] }
              ] },
              "comment": "Dispose ONLY if the fresh read STILL shows no legal hold AND the minimisation window is STILL lapsed (cr1bd_retentionexpiresat present and < now). If a hold was applied (or the expiry cleared/extended) between the list and now, fall to the else -> audited skip, NOTHING destructive runs. The litigation clock always overrides the minimisation clock.",
              "actions": {
                "List_case_blob_evidence": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr1bd_evidences",
                      "$filter": "_cr1bd_caseid_value eq @{item()?['cr1bd_caseid']} and cr1bd_storagepath ne null",
                      "$select": "cr1bd_evidenceid,cr1bd_storagepath,cr1bd_filename,cr1bd_sourcelabel,cr1bd_exclusionreason"
                    }
                  },
                  "comment": "All Evidence on the case that still references transient Blob bytes (non-empty cr1bd_storagepath). On DISPOSITION (unlike box-blob-purge's image-only archived-set purge) we purge ANY remaining transient Blob bytes for the disposed case — the case is past its retention window, so its transient working bytes are deleted whatever the kind. The Box archive copy is NOT touched (no Box op anywhere in this flow). _cr1bd_caseid_value is the lookup foreign key.",
                  "runAfter": {}
                },
                "Apply_to_each_evidence": {
                  "type": "Foreach",
                  "foreach": "@coalesce(outputs('List_case_blob_evidence')?['body/value'], json('[]'))",
                  "runtimeConfiguration": { "concurrency": { "repetitions": 1 } },
                  "actions": {
                    "Resolve_blob_id": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": { "connectionName": "shared_azureblob", "operationId": "GetFileMetadataByPath_V2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob" },
                        "parameters": {
                          "dataset": "AccountNameFromSettings",
                          "path": "@item()?['cr1bd_storagepath']"
                        }
                      },
                      "comment": "cr1bd_storagepath holds the blob PATH; DeleteFile_V2 is keyed on the connector's opaque 'id', not the path (BlobMetadata exposes Path and Id as distinct fields). Resolve the id from the path first, then delete by id (same two-step as box-blob-purge). A blob already gone makes this 404/Fail -> Delete_blob is skipped but the anonymise still runs (the pointer is dead either way). dataset='AccountNameFromSettings' (access-key auth, same as the rest of the pipeline).",
                      "runAfter": {}
                    },
                    "Delete_blob": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": { "connectionName": "shared_azureblob", "operationId": "DeleteFile_V2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob" },
                        "parameters": {
                          "dataset": "AccountNameFromSettings",
                          "id": "@body('Resolve_blob_id')?['Id']"
                        }
                      },
                      "comment": "FIRST-PARTY Azure Blob DeleteFile_V2 (dataset + opaque id; non-V2 DeleteFile is DEPRECATED). Deletes ONLY the transient Blob copy. NEVER the Box copy (no shared_box / shared_box_rest op anywhere in this flow — ADR-0012 §8a). Only runs when the id resolved (Succeeded); an already-gone blob skips here and is cleaned up by Anonymise_evidence.",
                      "runAfter": { "Resolve_blob_id": [ "Succeeded" ] }
                    },
                    "Anonymise_evidence": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                        "parameters": {
                          "entityName": "cr1bd_evidences",
                          "recordId": "@item()?['cr1bd_evidenceid']",
                          "item/cr1bd_storagepath": "",
                          "item/cr1bd_filename": "[disposed]",
                          "item/cr1bd_sourcelabel": "",
                          "item/cr1bd_exclusionreason": ""
                        }
                      },
                      "comment": "ANONYMISE the Evidence row IN PLACE (field-null, NOT a row hard-delete; the row + its Box-archive correlation columns cr1bd_boxfileid/cr1bd_boxfileurl are RETAINED so the Box copy stays referenceable). PII-bearing free text is cleared: cr1bd_storagepath (the dead/deleted Blob pointer), cr1bd_filename (a filename can carry a claimant name; set to the non-PII placeholder '[disposed]' because the column is required and cannot be null), cr1bd_sourcelabel and cr1bd_exclusionreason (free text that may carry PII). Runs after Delete_blob Succeeded OR Skipped (an already-gone blob) so anonymisation always completes; 'Failed' is deliberately DROPPED so a genuine transient Blob delete failure (429/5xx) leaves the pointer set for the next run to retry rather than orphaning a live blob. [OPERATOR-POLICY VARIANT, NOT IMPLEMENTED — GATED OFF]: if the operator's confirmed policy is HARD-DELETE rather than anonymise, REPLACE this UpdateRecord with a DeleteRecord on cr1bd_evidences (item()?['cr1bd_evidenceid']) AFTER Delete_blob — this is an operator-chosen policy switch ([RESERVED-FOR-USER]); the conservative default ships field-null. NEVER delete a cr1bd_auditevent row (audit-of-record, RemoveLink-protected).",
                      "runAfter": { "Delete_blob": [ "Succeeded", "Skipped" ] }
                    }
                  },
                  "comment": "Sequential per-evidence (concurrency 1) so a partial failure is deterministic and re-runnable; the case-level anonymise + audit still record. Resolve blob id -> delete the transient Blob copy -> anonymise the row.",
                  "runAfter": { "List_case_blob_evidence": [ "Succeeded" ] }
                },
                "Anonymise_case": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr1bd_cases",
                      "recordId": "@item()?['cr1bd_caseid']",
                      "item/cr1bd_evaclaimantname": "",
                      "item/cr1bd_evaclaimanttelephone": "",
                      "item/cr1bd_evaclaimantemail": "",
                      "item/cr1bd_evaaccidentcircumstances": "",
                      "item/cr1bd_evainspectionaddress": "",
                      "item/cr1bd_evadateofloss": "",
                      "item/cr1bd_evadateofinstruction": "",
                      "item/cr1bd_evaclaimantaddress": "",
                      "item/cr1bd_evapayload12": "",
                      "item/cr1bd_ovinsuredname": "",
                      "item/cr1bd_ovclaimantname": "",
                      "item/cr1bd_ovthirdpartyname": "",
                      "item/cr1bd_ovclaimnumber": "",
                      "item/cr1bd_ovpolicyreference": "",
                      "item/cr1bd_ovincidentdate": "",
                      "item/cr1bd_vrm": "",
                      "item/cr1bd_caseref": "",
                      "item/cr1bd_retentionexpiresat": null
                    }
                  },
                  "comment": "ANONYMISE the Case IN PLACE (field-null, NOT a row hard-delete). NULLs every claimant-PII field: claimant identity + contact (cr1bd_evaclaimantname / cr1bd_evaclaimanttelephone / cr1bd_evaclaimantemail), the staged EVA-payload JSON that embeds them (cr1bd_evapayload12), accident detail + dates (cr1bd_evaaccidentcircumstances / cr1bd_evadateofloss / cr1bd_evadateofinstruction / cr1bd_ovincidentdate), location (cr1bd_evainspectionaddress / cr1bd_evaclaimantaddress), the overview-only identity + claim/policy refs (cr1bd_ovinsuredname / cr1bd_ovclaimantname / cr1bd_ovthirdpartyname / cr1bd_ovclaimnumber / cr1bd_ovpolicyreference), and the vehicle/identity correlation keys (cr1bd_vrm + cr1bd_caseref — 'VRM as appropriate': a disposed terminal case never re-enters dedup/matching, and these lifecycle columns are documented as NEVER read back to drive dedup/status/sequencing, so nulling the VRM here is safe; the VRM that remains in the UPPERCASE Box folder NAME is intentionally NOT touched — Box is never modified). cr1bd_retentionexpiresat is set NULL LAST-in-this-record as the DISPOSITION MARKER: a disposed case no longer satisfies the List_disposable_cases filter (cr1bd_retentionexpiresat ne null), so it is never re-selected, and 'expiry cleared' identifies a disposed row. NOT nulled: cr1bd_status (the terminal state is preserved as part of the lifecycle record), cr1bd_casepo (the non-PII Case/PO that names the retained Box folder), cr1bd_closedat / cr1bd_legalhold (the retention-clock audit trail), cr1bd_evaworkprovider / cr1bd_evavehiclemodel (provider + model are not claimant PII). The org-level cr1bd_ovinsurername / cr1bd_ovrepairername are organisation names, not claimant PII, so left intact. [OPERATOR-POLICY VARIANT, NOT IMPLEMENTED — GATED OFF]: if the confirmed policy is HARD-DELETE the Case ROW, REPLACE this UpdateRecord with a DeleteRecord on cr1bd_cases — an operator-chosen policy switch ([RESERVED-FOR-USER]). A Case row hard-delete cascades to Evidence (cr1bd_case_evidence) but cr1bd_auditevent must survive: the cr1bd_case_auditevent relationship MUST be RemoveLink (audit-of-record), so the case_disposed audit below is written for the DISPOSED case (still resolvable) and is never cascade-deleted.",
                  "runAfter": { "Apply_to_each_evidence": [ "Succeeded" ] }
                },
                "Audit_case_disposed": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr1bd_auditevents",
                      "item/cr1bd_name": "@concat(if(equals(actions('Anonymise_case')?['status'], 'Succeeded'), 'case_disposed: ', 'case_disposed (incomplete): '), coalesce(item()?['cr1bd_casepo'], item()?['cr1bd_caseid']))",
                      "item/cr1bd_action": 100000026,
                      "item/cr1bd_severity": "@if(equals(actions('Anonymise_case')?['status'], 'Succeeded'), 100000000, 100000001)",
                      "item/cr1bd_actor": "Flow_CaseDisposition",
                      "item/cr1bd_after": "@if(equals(actions('Anonymise_case')?['status'], 'Succeeded'), concat('case ', coalesce(item()?['cr1bd_casepo'], item()?['cr1bd_caseid']), ' disposed: anonymised case + ', string(length(coalesce(outputs('List_case_blob_evidence')?['body/value'], json('[]')))), ' evidence row(s), purged transient Blob bytes (Box archive copy retained); retention window lapsed, no legal hold. Disposition = field-null (conservative default).'), concat('case ', coalesce(item()?['cr1bd_casepo'], item()?['cr1bd_caseid']), ' disposal INCOMPLETE: the destructive work already ran (transient Blob bytes purged + ', string(length(coalesce(outputs('List_case_blob_evidence')?['body/value'], json('[]')))), ' evidence row(s) anonymised) but the case-level Anonymise_case write ', coalesce(actions('Anonymise_case')?['status'], 'did not complete'), ' — claimant PII on the CASE row may still be present and cr1bd_retentionexpiresat was NOT cleared, so the next scheduled run RE-SELECTS this case and re-attempts the (idempotent) case anonymise. Audited here so the erasure is accountable even on the failed write.'))",
                      "item/cr1bd_Caseid@odata.bind": "@concat('cr1bd_cases(', item()?['cr1bd_caseid'], ')')",
                      "item/cr1bd_occurredat": "@variables('nowUtc')"
                    }
                  },
                  "comment": "Audit the per-case disposition. case_disposed = cr1bd_action 100000026, the value added to cr1bd_auditaction this sweep. cr1bd_Caseid@odata.bind binds to the disposed case (still resolvable under the conservative field-null default; under the hard-delete VARIANT the audit is written for the case before/while it is deleted and is RemoveLink-protected from the cascade). This audit row is NEVER deleted by this or any flow (append-only audit-of-record). PR#24 FIX #4: runAfter Anonymise_case on ['Succeeded','Failed','TimedOut'] (NOT just Succeeded) so a case_disposed audit is ALWAYS recorded once destructive work has run. The destructive blob deletes + evidence anonymise already happened EARLIER in this iteration (Apply_to_each_evidence), so if the FINAL case-level Anonymise_case write hits a transient Dataverse 5xx and fails, the old runAfter:['Succeeded'] skipped the audit -> destructive erasure with NO accountability row (defeats the GDPR erasure-accountability requirement). Now the audit fires regardless: cr1bd_severity is Warning(100000001) and cr1bd_name/cr1bd_after reflect the INCOMPLETE outcome (read from actions('Anonymise_case')?['status']) when the case write did not Succeed, Info(100000000) + the normal text when it did. Because cr1bd_retentionexpiresat is only cleared INSIDE a successful Anonymise_case, a failed case write leaves the case still selectable, so the next daily run re-attempts the idempotent case anonymise — the warning audit makes that retry visible. No new connection, no DeleteRecord, no Box op: Check 8d invariants preserved.",
                  "runAfter": { "Anonymise_case": [ "Succeeded", "Failed", "TimedOut" ] }
                }
              },
              "else": {
                "actions": {
                  "Audit_case_disposition_skipped": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                      "parameters": {
                        "entityName": "cr1bd_auditevents",
                        "item/cr1bd_name": "@concat('case_disposed (skipped): ', coalesce(item()?['cr1bd_casepo'], item()?['cr1bd_caseid']))",
                        "item/cr1bd_action": 100000026,
                        "item/cr1bd_severity": 100000000,
                        "item/cr1bd_actor": "Flow_CaseDisposition",
                        "item/cr1bd_after": "@if(equals(outputs('Reassert_not_held')?['body/cr1bd_legalhold'], true), 'skipped: legal hold applied after the eligibility query (litigation clock overrides the minimisation expiry) — NOTHING disposed', 'skipped: retention expiry cleared/extended after the eligibility query — NOTHING disposed')",
                        "item/cr1bd_Caseid@odata.bind": "@concat('cr1bd_cases(', item()?['cr1bd_caseid'], ')')",
                        "item/cr1bd_occurredat": "@variables('nowUtc')"
                      }
                    },
                    "comment": "No-op-per-case path: a fresh hold (or a cleared/extended expiry) appeared between the list and disposal. NOTHING destructive ran — the case is NOT modified. Audited so the two-clock override is visible in the trail (the litigation clock won).",
                    "runAfter": {}
                  }
                }
              },
              "runAfter": { "Reassert_not_held": [ "Succeeded" ] }
            }
          },
          "comment": "Per disposable case: re-assert no legal hold (two-clock guard, fresh read) -> if still disposable, purge transient Blob bytes + anonymise Case + Evidence + audit; else audited skip. Concurrency 1 (NOT parallel): destructive PII handling is run strictly sequentially so a partial failure is deterministic and re-runnable.",
          "runAfter": { "List_disposable_cases": [ "Succeeded" ] }
        }
      },
      "else": {
        "actions": {
          "Audit_disposition_gate_off": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
              "parameters": {
                "entityName": "cr1bd_auditevents",
                "item/cr1bd_name": "case_disposed (skipped): CASE_DISPOSITION_ENABLED=false",
                "item/cr1bd_action": 100000026,
                "item/cr1bd_severity": 100000000,
                "item/cr1bd_actor": "Flow_CaseDisposition",
                "item/cr1bd_after": "skipped: CASE_DISPOSITION_ENABLED=false (destructive kill switch off) — no case queried, nothing purged or anonymised",
                "item/cr1bd_occurredat": "@variables('nowUtc')"
              }
            },
            "comment": "Gate-off no-op: the destructive kill switch is OFF (default). NO case is even queried, NO Blob touched, NO row modified. A single corpus-level audit (no cr1bd_Caseid bind — this is not case-scoped) records that the scheduled run found the gate off and did nothing.",
            "runAfter": {}
          }
        }
      },
      "runAfter": { "Init_now": [ "Succeeded" ] }
    }
  }
}
