flows/definitions/chaser-draft.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_ChaserDraft (ADR-0003). DRAFT-ONLY: composes a chaser body and writes a Chaser row with status=drafted. The boundary is enforced by the ABSENCE of any Outlook-send / WhatsApp-send action - a reviewer greps this flow for send operations and finds zero. WhatsApp send is not automatable (WhatsApp Business); email send is a separate flow behind the outbound kill switch. [BUILD]; activating any send path is [RESERVED-FOR-USER].",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "caseId": { "type": "string" },
            "targetType": { "type": "integer" },
            "targetName": { "type": "string" },
            "outstandingText": { "type": "string" }
          }
        }
      }
    }
  },
  "actions": {
    "Init_caseId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "caseId", "type": "string", "value": "@triggerBody()?['caseId']" } ] },
      "runAfter": {}
    },
    "Init_outstandingText": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "outstandingText", "type": "string", "value": "@coalesce(triggerBody()?['outstandingText'], 'the outstanding items')" } ] },
      "runAfter": { "Init_caseId": [ "Succeeded" ] }
    },
    "Get_case": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "GetItem",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": { "entityName": "cr1bd_cases", "recordId": "@variables('caseId')" }
      },
      "runAfter": { "Init_outstandingText": [ "Succeeded" ] }
    },
    "Compose_chaser_text": {
      "type": "Compose",
      "inputs": "@concat('Hi ', coalesce(outputs('Get_case')?['body/cr1bd_evaclaimantname'], 'there'), ', regarding ', coalesce(outputs('Get_case')?['body/cr1bd_caseref'], ''), ' (', coalesce(outputs('Get_case')?['body/cr1bd_vrm'], ''), ') we still need: ', variables('outstandingText'), '. Could you reply with these so we can proceed?')",
      "runAfter": { "Get_case": [ "Succeeded" ] }
    },
    "Create_chaser_draft": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_chasers",
          "item/cr1bd_name": "@concat('Chasing ', variables('outstandingText'))",
          "item/cr1bd_Caseid@odata.bind": "@concat('cr1bd_cases(', variables('caseId'), ')')",
          "item/cr1bd_targettype": "@coalesce(triggerBody()?['targetType'], 100000000)",
          "item/cr1bd_targetname": "@triggerBody()?['targetName']",
          "item/cr1bd_channel": 100000001,
          "item/cr1bd_status": 100000000,
          "item/cr1bd_createdon2": "@utcNow()"
        }
      },
      "comment": "channel whatsapp=100000001; status drafted=100000000. DRAFT ONLY - never auto-sends (ADR-0003). No send connector in this action list. The drafted Chaser row IS the authoritative record; the cr1bd_auditaction vocabulary has no chaser_drafted member (extend additively in the manifest before adding an AuditEvent write here - do NOT reuse an unrelated action value).",
      "runAfter": { "Compose_chaser_text": [ "Succeeded" ] }
    }
  }
}
