flows/definitions/chaser-send.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_ChaserSend (phase-2 M2.F / ADR-0003). The SEPARATE outbound-send flow behind the kill switch; chaser-draft stays draft-only and untouched. Reads a DRAFTED Chaser, HARD-SKIPS channel=whatsapp (WhatsApp Business is not automatable - draft + manual send only, ADR-0003 invariant), reads the CHASER_SEND_ENABLED Dataverse gate (READ, never DEFINE), and ONLY when the gate is true sends via the Office 365 Outlook 'Send an email (V2)' action on the ALREADY-BOUND cr1bd_sharedmailbox_office365 (digital@) connection, then flips the Chaser drafted->sent + stamps sentBy/sentAt + writes a chaser_sent AuditEvent. The recipient comes from the Chaser's targetName (a real garage/provider address) or a trigger input - NEVER a hardcoded literal. [BUILD]. ACTIVATION [RESERVED-FOR-USER]: sending real email crosses the live boundary - flip CHASER_SEND_ENABLED=true + turn this flow ON only when the operator is ready; Claude never enables the kill switch. The chaser_sent audit action (100000019) must be added additively to cr1bd_auditaction first (see dataverse/.build setup script).",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "comment": "Invoked with a drafted Chaser id (e.g. by a scheduled sweep or staff action). The flow re-reads the Chaser to honour the latest channel/status, never trusting stale trigger data.",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "chaserId": { "type": "string" }
          }
        }
      }
    }
  },
  "actions": {
    "Init_chaserId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "chaserId", "type": "string", "value": "@triggerBody()?['chaserId']" } ] },
      "runAfter": {}
    },
    "Get_chaser": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "GetItem",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": { "entityName": "cr1bd_chasers", "recordId": "@variables('chaserId')" }
      },
      "runAfter": { "Init_chaserId": [ "Succeeded" ] }
    },
    "Get_gate_definition": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "environmentvariabledefinitions",
          "$filter": "schemaname eq 'cr1bd_CHASER_SEND_ENABLED'",
          "$select": "environmentvariabledefinitionid,defaultvalue",
          "$expand": "environmentvariabledefinition_environmentvariablevalue($select=value)",
          "$top": 1
        }
      },
      "runAfter": { "Get_chaser": [ "Succeeded" ] }
    },
    "Set_gate_CHASER_SEND_ENABLED": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "gate_CHASER_SEND_ENABLED", "type": "boolean",
        "value": "@equals(toLower(coalesce(first(first(outputs('Get_gate_definition')?['body/value'])?['environmentvariabledefinition_environmentvariablevalue'])?['value'], first(outputs('Get_gate_definition')?['body/value'])?['defaultvalue'], 'false')), 'true')"
      } ] },
      "comment": "Default false = the outbound kill switch is OFF. The send action runs ONLY when this is true (flipped by the operator, [RESERVED-FOR-USER]).",
      "runAfter": { "Get_gate_definition": [ "Succeeded" ] }
    },
    "Set_is_sendable_email": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "isSendableEmail", "type": "boolean",
        "value": "@and(equals(outputs('Get_chaser')?['body/cr1bd_channel'], 100000000), equals(outputs('Get_chaser')?['body/cr1bd_status'], 100000000))"
      } ] },
      "comment": "Only an EMAIL-channel (100000000) chaser still in DRAFTED status (100000000) is auto-sendable. channel=whatsapp (100000001) is HARD-SKIPPED here - it can never be auto-sent (ADR-0003).",
      "runAfter": { "Set_gate_CHASER_SEND_ENABLED": [ "Succeeded" ] }
    },
    "If_send_allowed": {
      "type": "If",
      "expression": { "and": [
        { "equals": [ "@variables('gate_CHASER_SEND_ENABLED')", true ] },
        { "equals": [ "@variables('isSendableEmail')", true ] }
      ] },
      "comment": "Both must hold: the kill switch is on AND this is a drafted email chaser. A whatsapp chaser or a gate-off run falls to the else (audited no-op, stays drafted for manual send).",
      "actions": {
        "Send_chaser_email": {
          "type": "OpenApiConnection",
          "comment": "Office 365 Outlook 'Send an email (V2)' on the already-bound digital@ shared mailbox connection. To = the Chaser targetName (a real garage/provider recipient) - never a hardcoded literal. [RESERVED-FOR-USER]: real email leaves the tenant only when CHASER_SEND_ENABLED is true and this flow is ON.",
          "inputs": {
            "host": { "connectionName": "shared_office365", "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365" },
            "parameters": {
              "emailMessage/To": "@outputs('Get_chaser')?['body/cr1bd_targetname']",
              "emailMessage/Subject": "@concat('Chaser: ', coalesce(outputs('Get_chaser')?['body/cr1bd_name'], 'outstanding items'))",
              "emailMessage/Body": "<p>@{coalesce(outputs('Get_chaser')?['body/cr1bd_name'], 'We still need some outstanding items to proceed with your case.')}</p>"
            }
          },
          "runAfter": {}
        },
        "Mark_chaser_sent": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_chasers",
              "recordId": "@variables('chaserId')",
              "item/cr1bd_status": 100000001,
              "item/cr1bd_sentby": "Flow_ChaserSend",
              "item/cr1bd_sentat": "@utcNow()"
            }
          },
          "comment": "Flip drafted(100000000)->sent(100000001) + stamp sentBy/sentAt AFTER a successful send (runAfter Send_chaser_email Succeeded), so a send failure leaves the Chaser drafted for retry.",
          "runAfter": { "Send_chaser_email": [ "Succeeded" ] }
        },
        "Audit_chaser_sent": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_auditevents",
              "item/cr1bd_name": "@concat('chaser_sent: ', variables('chaserId'))",
              "item/cr1bd_action": 100000019,
              "item/cr1bd_severity": 100000000,
              "item/cr1bd_actor": "Flow_ChaserSend",
              "item/cr1bd_after": "@concat('email chaser sent to ', coalesce(outputs('Get_chaser')?['body/cr1bd_targetname'], 'target'))",
              "item/cr1bd_occurredat": "@utcNow()"
            }
          },
          "comment": "chaser_sent audit action 100000019 - additively extends cr1bd_auditaction (next free value after inspection_override=100000018); created by the dataverse/.build setup script before this flow is activated.",
          "runAfter": { "Mark_chaser_sent": [ "Succeeded" ] }
        }
      },
      "else": {
        "actions": {
          "Audit_chaser_send_skipped": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
              "parameters": {
                "entityName": "cr1bd_auditevents",
                "item/cr1bd_name": "@concat('chaser_sent (skipped): ', variables('chaserId'))",
                "item/cr1bd_action": 100000019,
                "item/cr1bd_severity": 100000000,
                "item/cr1bd_actor": "Flow_ChaserSend",
                "item/cr1bd_after": "@if(variables('gate_CHASER_SEND_ENABLED'), 'skipped: chaser is whatsapp-channel or not drafted (manual send only)', 'skipped: CHASER_SEND_ENABLED=false (outbound kill switch off)')",
                "item/cr1bd_occurredat": "@utcNow()"
              }
            },
            "comment": "No-op path: gate off OR a whatsapp/non-drafted chaser. The Chaser is NOT modified - it stays drafted for manual send (whatsapp) or a later run (gate flip).",
            "runAfter": {}
          }
        }
      },
      "runAfter": { "Set_is_sendable_email": [ "Succeeded" ] }
    }
  }
}
