flows/definitions/classify-persist.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_Classify_Persist (§5.2) — CHILD of intake (Run-a-Child-Flow). Apply-to-each attachment: deterministic classify by extension (graph-intake parity), bytes -> Azure Blob (NEVER inline in a Dataverse row), one Evidence row per attachment carrying the storagePath ref. Returns { payloadHash, instructionBytesB64, instructionName, imageCount } to the parent so intake can hand the instruction PDF to parse. [BUILD]; runs against live mail only when [RESERVED-FOR-USER]. INPUT-CONTRACT FIX (task plan §3.3): the trigger now receives the email ATTACHMENTS array (+subject/from) from intake — the old child only got {messageId,caseId} and read triggerOutputs()?['body/attachments'] (empty for an HTTP child) so it created 0 Evidence rows. Every read is now triggerBody()?['...']. SHA DECISION (task plan §9 Q2 / §3.2 option ii): the stock shared_azureblob CreateFile returns blob metadata (Path), NOT a content hash, and no storage-hash Function exists — so per-attachment SHA-256 dedup is DROPPED for the slice; message-level idempotency is the Message-ID probe (intake) + the payloadHash fold (here). cr1bd_sha256 is left unset until a hashing surface is added; size comes from the Outlook attachment's own size field.",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "comment": "Child flow invoked by intake.definition (Run-a-Child-Flow). Receives messageId, caseId, subject, from, and the ATTACHMENTS array (each item carries name, contentType, size, contentBytes(base64)). Children MUST use 'Manually trigger a flow' (Request) per Learn.",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "messageId": { "type": "string" },
            "caseId": { "type": "string" },
            "subject": { "type": "string" },
            "from": { "type": "string" },
            "attachments": { "type": "array" }
          }
        }
      }
    }
  },
  "actions": {
    "Init_messageId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "messageId", "type": "string", "value": "@coalesce(triggerBody()?['messageId'], '')" } ] },
      "runAfter": {}
    },
    "Init_caseId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "caseId", "type": "string", "value": "@coalesce(triggerBody()?['caseId'], '')" } ] },
      "runAfter": { "Init_messageId": [ "Succeeded" ] }
    },
    "Init_attachmentTokens": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "attachmentTokens", "type": "array", "value": [] } ] },
      "comment": "Per-attachment dedup/order tokens (name|size) folded into payloadHash. Replaces the SHA array (no content hash available from CreateFile — §3.2).",
      "runAfter": { "Init_caseId": [ "Succeeded" ] }
    },
    "Init_imageCount": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "imageCount", "type": "integer", "value": 0 } ] },
      "runAfter": { "Init_attachmentTokens": [ "Succeeded" ] }
    },
    "Init_instructionBytesB64": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "instructionBytesB64", "type": "string", "value": "" } ] },
      "comment": "Captures the FIRST instruction attachment's base64 bytes so intake can pass it straight to parse (the parser connector takes document=base64).",
      "runAfter": { "Init_imageCount": [ "Succeeded" ] }
    },
    "Init_instructionName": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "instructionName", "type": "string", "value": "" } ] },
      "runAfter": { "Init_instructionBytesB64": [ "Succeeded" ] }
    },
    "Init_payloadHash": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "payloadHash", "type": "string", "value": "" } ] },
      "runAfter": { "Init_instructionName": [ "Succeeded" ] }
    },
    "Scope_Persist_Attachments": {
      "type": "Scope",
      "actions": {
        "Apply_to_each_attachment": {
          "type": "Foreach",
          "foreach": "@coalesce(triggerBody()?['attachments'], json('[]'))",
          "runtimeConfiguration": { "concurrency": { "repetitions": 1 } },
          "comment": "repetitions=1 keeps the shared dedup/count/instruction variables race-free (default parallel iterations corrupt a shared array/scalar mutation).",
          "actions": {
            "Compose_kind": {
              "type": "Compose",
              "inputs": "@if(or(endsWith(toLower(coalesce(items('Apply_to_each_attachment')?['name'], '')),'.jpg'),endsWith(toLower(coalesce(items('Apply_to_each_attachment')?['name'], '')),'.jpeg'),endsWith(toLower(coalesce(items('Apply_to_each_attachment')?['name'], '')),'.png')),100000000,if(or(endsWith(toLower(coalesce(items('Apply_to_each_attachment')?['name'], '')),'.pdf'),endsWith(toLower(coalesce(items('Apply_to_each_attachment')?['name'], '')),'.docx'),endsWith(toLower(coalesce(items('Apply_to_each_attachment')?['name'], '')),'.doc')),100000002,if(endsWith(toLower(coalesce(items('Apply_to_each_attachment')?['name'], '')),'.eml'),100000003,100000006)))",
              "comment": "Deterministic classify -> cr1bd_kind integer: image=100000000, instruction=100000002, email=100000003, other=100000006. Mirrors graph-intake; do not invent.",
              "runAfter": {}
            },
            "Upload_bytes_to_storage": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_azureblob", "operationId": "CreateFile_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob" },
                "parameters": {
                  "dataset": "AccountNameFromSettings",
                  "folderPath": "@concat('evidence/intake/', variables('messageId'))",
                  "name": "@items('Apply_to_each_attachment')?['name']",
                  "body": "@base64ToBinary(items('Apply_to_each_attachment')?['contentBytes'])"
                }
              },
              "comment": "Bytes go to Blob; CreateFile_V2 returns BlobMetadata (Path/Name/Id/...). Row carries only the ref (graph-intake invariant: all file data uploaded to storage immediately). No content hash is returned by the stock connector (§3.2). CONNECTOR RECONCILIATION (2026-06-19): operationId is CreateFile_V2 (path /v2/datasets/{dataset}/files) NOT the deprecated CreateFile (datasets/default/files) — the latter has NO 'dataset' parameter, so passing dataset there fails Flow validation with WorkflowOperationParametersExtraParameter 'dataset'. For the ACCESS-KEY connection (cr1bd_evidenceblob -> account cespkevidstdev01) the dataset value MUST be the literal token 'AccountNameFromSettings' (per the Azure Blob connector known-issue: access-key auth requires dataset='AccountNameFromSettings', not the blob endpoint); the CONTAINER is the first segment of folderPath, hence 'evidence/intake/<messageId>' (was dataset='evidence' + 'intake/...').",
              "runAfter": { "Compose_kind": [ "Succeeded" ] }
            },
            "Append_token": {
              "type": "AppendToArrayVariable",
              "inputs": { "name": "attachmentTokens", "value": "@concat(toLower(coalesce(items('Apply_to_each_attachment')?['name'], '')), '|', string(coalesce(items('Apply_to_each_attachment')?['size'], 0)))" },
              "runAfter": { "Upload_bytes_to_storage": [ "Succeeded" ] }
            },
            "Create_Evidence_row": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": {
                  "entityName": "cr1bd_evidences",
                  "item/cr1bd_filename": "@items('Apply_to_each_attachment')?['name']",
                  "item/cr1bd_kind": "@outputs('Compose_kind')",
                  "item/cr1bd_contenttype": "@items('Apply_to_each_attachment')?['contentType']",
                  "item/cr1bd_sizebytes": "@coalesce(items('Apply_to_each_attachment')?['size'], 0)",
                  "item/cr1bd_storagepath": "@body('Upload_bytes_to_storage')?['Path']",
                  "item/cr1bd_sourcemessageid": "@variables('messageId')",
                  "item/cr1bd_acceptedforeva": true,
                  "item/cr1bd_imagerole": 100000003,
                  "item/cr1bd_registrationvisible": false,
                  "item/cr1bd_Caseid@odata.bind": "@if(empty(variables('caseId')), null, concat('cr1bd_cases(', variables('caseId'), ')'))"
                }
              },
              "comment": "One Evidence row per attachment. imageRole default Unknown=100000003 + registrationVisible=false (manual/OCR tagging until M2) -> the image-rules readiness check in status-evaluate stays FALSE until a human/OCR tags overview+damage_closeup (expected per the data model). storagePath only; never inline bytes. cr1bd_sha256 intentionally unset (no hash surface — §3.2). Bound to the Case when caseId is present (intake always supplies it; null-bind tolerated for a bytes-only pre-resolve call).",
              "runAfter": { "Append_token": [ "Succeeded" ] }
            },
            "If_image": {
              "type": "If",
              "expression": { "equals": [ "@outputs('Compose_kind')", 100000000 ] },
              "actions": {
                "Increment_imageCount": {
                  "type": "IncrementVariable",
                  "inputs": { "name": "imageCount", "value": 1 },
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {
                  "If_instruction": {
                    "type": "If",
                    "expression": { "and": [
                      { "equals": [ "@outputs('Compose_kind')", 100000002 ] },
                      { "equals": [ "@empty(variables('instructionBytesB64'))", true ] }
                    ] },
                    "actions": {
                      "Capture_instruction_bytes": {
                        "type": "SetVariable",
                        "inputs": { "name": "instructionBytesB64", "value": "@coalesce(items('Apply_to_each_attachment')?['contentBytes'], '')" },
                        "runAfter": {}
                      },
                      "Capture_instruction_name": {
                        "type": "SetVariable",
                        "inputs": { "name": "instructionName", "value": "@coalesce(items('Apply_to_each_attachment')?['name'], '')" },
                        "runAfter": { "Capture_instruction_bytes": [ "Succeeded" ] }
                      }
                    },
                    "else": { "actions": {} },
                    "comment": "Capture the FIRST instruction attachment's bytes+name (PDF/DOCX/DOC) for the parser. Only the first is captured (most intakes carry a single instruction).",
                    "runAfter": {}
                  }
                }
              },
              "comment": "Tally images for the readiness imageCount return; otherwise capture the first instruction for parse.",
              "runAfter": { "Create_Evidence_row": [ "Succeeded" ] }
            }
          },
          "runAfter": {}
        },
        "Fold_payloadHash": {
          "type": "Compose",
          "inputs": "@toLower(trim(concat(coalesce(triggerBody()?['subject'],''), '|', coalesce(triggerBody()?['from'],''), '|', join(sort(variables('attachmentTokens')), '\n'))))",
          "comment": "Deterministic payloadHash seed: lower+trim subject/from, sort per-attachment name|size tokens ascending, join with newline. (Was the SHA fold; with no content hash available the canonical token is name|size — §3.2.) Returned to the parent for the payloadHash dedup probe.",
          "runAfter": { "Apply_to_each_attachment": [ "Succeeded" ] }
        },
        "Set_payloadHash": {
          "type": "SetVariable",
          "inputs": { "name": "payloadHash", "value": "@outputs('Fold_payloadHash')" },
          "runAfter": { "Fold_payloadHash": [ "Succeeded" ] }
        }
      },
      "runAfter": {}
    },
    "Handle_attachment_failure": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_auditevents",
          "item/cr1bd_name": "@concat('attachment_classified (partial): ', variables('messageId'))",
          "item/cr1bd_action": 100000002,
          "item/cr1bd_severity": 100000001,
          "item/cr1bd_actor": "Flow_Classify_Persist",
          "item/cr1bd_after": "partial attachment persistence - continued others, see run history (§5.2: continue others, audit per-attachment)",
          "item/cr1bd_occurredat": "@utcNow()"
        }
      },
      "comment": "Runs only on Scope Failed/Skipped/TimedOut: one bad attachment audits and continues; does not fail the whole message.",
      "runAfter": { "Scope_Persist_Attachments": [ "Failed", "Skipped", "TimedOut" ] }
    },
    "Respond_to_parent": {
      "type": "Response",
      "kind": "Http",
      "inputs": {
        "statusCode": 200,
        "body": {
          "payloadHash": "@variables('payloadHash')",
          "instructionBytesB64": "@variables('instructionBytesB64')",
          "instructionName": "@variables('instructionName')",
          "imageCount": "@variables('imageCount')"
        }
      },
      "comment": "Returns the outputs the parent (intake) needs: the folded payloadHash, the first instruction PDF bytes+name (for parse), and the accepted image count. Response is the child-flow return action (mirrors 'Respond to a Power App or flow'). runAfter both the success Scope and the partial-failure audit so a partial batch still returns what it captured.",
      "runAfter": { "Scope_Persist_Attachments": [ "Succeeded" ], "Handle_attachment_failure": [ "Succeeded", "Skipped" ] }
    }
  }
}
