flows/definitions/enrich.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_Enrich (§5.6 / phase-2 M2.A). Reads ENRICHMENT_ENABLED (+ ENRICHMENT_API_BASE) Dataverse env-vars (READ, never DEFINE), branches: enabled -> call the DVSA enrichment connector (EnrichDvsaMot, connection cr1bd_dvsaenrich) by VRM. document_has_mileage is passed so the mileage estimate fires ONLY when the parsed document has no mileage (document authoritative, ADR-0006). Enrichment is advisory, staff-reviewed, never blocks intake; writes into empty fields only (else reviewState=conflict). The Function calls DVSA + DVLA DIRECTLY (Microsoft Entra client_credentials + X-API-Key; the GCP ce-mcp-gateway is RETIRED, B1 obviated); DVSA/DVLA secrets are Key Vault refs INSIDE the Function - the flow never reads them. [BUILD]. ACTIVATION [RESERVED-FOR-USER]: deploy/confirm cespkenrich-fn-gi62sd, import the enrichment connector + bind cr1bd_dvsaenrich (function-key), inject DVSA_CLIENT_ID/SECRET + DVSA_API_KEY + DVLA_API_KEY into Key Vault, set DVSA_TENANT_ID + ENRICHMENT_API_BASE, flip ENRICHMENT_ENABLED=true in a test env, then turn CS Enrich ON. Claude never injects secrets or flips the gate.",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "caseId": { "type": "string" },
            "vrm": { "type": "string" },
            "reference": { "type": "string" }
          }
        }
      }
    }
  },
  "actions": {
    "Init_caseId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "caseId", "type": "string", "value": "@triggerBody()?['caseId']" } ] },
      "runAfter": {}
    },
    "Get_case": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "GetItem",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": { "entityName": "cr1bd_cases", "recordId": "@variables('caseId')" }
      },
      "runAfter": { "Init_caseId": [ "Succeeded" ] }
    },
    "Set_documentHasMileage": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "documentHasMileage", "type": "boolean",
        "value": "@not(empty(coalesce(outputs('Get_case')?['body/cr1bd_evamileage'], '')))"
      } ] },
      "comment": "Document authoritative (ADR-0006): the DVSA mileage estimate is requested ONLY when the parsed document left mileage empty.",
      "runAfter": { "Get_case": [ "Succeeded" ] }
    },
    "Get_gate_definition": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "environmentvariabledefinitions",
          "$filter": "schemaname eq 'cr1bd_ENRICHMENT_ENABLED'",
          "$select": "environmentvariabledefinitionid,defaultvalue",
          "$expand": "environmentvariabledefinition_environmentvariablevalue($select=value)",
          "$top": 1
        }
      },
      "runAfter": { "Set_documentHasMileage": [ "Succeeded" ] }
    },
    "Set_gate_ENRICHMENT_ENABLED": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "gate_ENRICHMENT_ENABLED", "type": "boolean",
        "value": "@equals(toLower(coalesce(first(first(outputs('Get_gate_definition')?['body/value'])?['environmentvariabledefinition_environmentvariablevalue'])?['value'], first(outputs('Get_gate_definition')?['body/value'])?['defaultvalue'], 'false')), 'true')"
      } ] },
      "runAfter": { "Get_gate_definition": [ "Succeeded" ] }
    },
    "If_enrichment_enabled": {
      "type": "If",
      "expression": { "equals": [ "@variables('gate_ENRICHMENT_ENABLED')", true ] },
      "actions": {
        "Call_dvsa_enrich": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_dvsaenrich", "operationId": "EnrichDvsaMot",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_dvsaenrich" },
            "parameters": {
              "body/vrm": "@triggerBody()?['vrm']",
              "body/reference": "@triggerBody()?['reference']",
              "body/document_has_mileage": "@variables('documentHasMileage')"
            }
          },
          "comment": "EnrichDvsaMot always returns 200 with a warnings array; current_mileage present ONLY when document_has_mileage was false. The Function calls DVSA/DVLA directly (Entra client_credentials + X-API-Key) with Key Vault secret refs server-side; the flow never sees the secret. [RESERVED-FOR-USER] to bind cr1bd_dvsaenrich to the live Function + inject the DVSA/DVLA creds.",
          "runAfter": {}
        },
        "Set_vehicle_model_if_empty": {
          "type": "If",
          "expression": { "and": [
            { "not": { "equals": [ "@coalesce(body('Call_dvsa_enrich')?['vehicle_model'], '')", "" ] } },
            { "equals": [ "@coalesce(outputs('Get_case')?['body/cr1bd_evavehiclemodel'], '')", "" ] }
          ] },
          "comment": "Write make/model only into the EMPTY field; a differing non-empty value is left for the conflict path (reviewState=conflict), never silently overwritten.",
          "actions": {
            "Patch_vehicle_model": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": { "entityName": "cr1bd_cases", "recordId": "@variables('caseId')",
                  "item/cr1bd_evavehiclemodel": "@body('Call_dvsa_enrich')?['vehicle_model']" }
              },
              "runAfter": {}
            }
          },
          "runAfter": { "Call_dvsa_enrich": [ "Succeeded" ] }
        },
        "Set_mileage_if_doc_empty": {
          "type": "If",
          "expression": { "and": [
            { "equals": [ "@variables('documentHasMileage')", false ] },
            { "not": { "equals": [ "@coalesce(string(body('Call_dvsa_enrich')?['current_mileage']), '')", "" ] } }
          ] },
          "comment": "Mileage-only-when-doc-empty guard (ADR-0006): never overwrite a document mileage with the DVSA estimate.",
          "actions": {
            "Patch_mileage": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": { "entityName": "cr1bd_cases", "recordId": "@variables('caseId')",
                  "item/cr1bd_evamileage": "@string(body('Call_dvsa_enrich')?['current_mileage'])",
                  "item/cr1bd_evamileageunit": "@coalesce(body('Call_dvsa_enrich')?['mileage_unit'], 'Miles')" }
              },
              "runAfter": {}
            },
            "Write_mileage_provenance": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": {
                  "entityName": "cr1bd_fieldlevelprovenances",
                  "item/cr1bd_name": "@concat('mileage @ ', variables('caseId'))",
                  "item/cr1bd_fieldname": "mileage",
                  "item/cr1bd_sourcetype": 100000005,
                  "item/cr1bd_sourcelabel": "Estimated mileage (DVSA MOT history)",
                  "item/cr1bd_value": "@string(body('Call_dvsa_enrich')?['current_mileage'])",
                  "item/cr1bd_reviewstate": 100000001,
                  "item/cr1bd_Caseid@odata.bind": "@concat('cr1bd_cases(', variables('caseId'), ')')"
                }
              },
              "comment": "MARKER WRITER (S1): the 'estimated' mileage provenance can only be written HERE, where the branch has already proven documentHasMileage==false (Set_mileage_if_doc_empty guard) — so document mileage is never mis-stamped as estimated. cr1bd_fieldname='mileage' (camelCase EVA key, NOT cr1bd_evamileage). cr1bd_sourcetype=100000005 (dvla_dvsa, per dataverse/choicesets/field-provenance-source-type.json); cr1bd_reviewstate=100000001 (needs_review, per dataverse/choicesets/review-state.json). Mirrors the Audit_enrichment_called CreateRecord idiom; Case lookup via cr1bd_Caseid@odata.bind.",
              "runAfter": { "Patch_mileage": [ "Succeeded" ] }
            }
          },
          "runAfter": { "Set_vehicle_model_if_empty": [ "Succeeded" ] }
        },
        "Audit_enrichment_called": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_auditevents",
              "item/cr1bd_name": "@concat('enrichment_called: ', variables('caseId'))",
              "item/cr1bd_action": 100000011,
              "item/cr1bd_severity": 100000000,
              "item/cr1bd_actor": "Flow_Enrich",
              "item/cr1bd_after": "@concat('dvsa enrich; mileageRequested=', string(not(variables('documentHasMileage'))))",
              "item/cr1bd_occurredat": "@utcNow()"
            }
          },
          "runAfter": { "Set_mileage_if_doc_empty": [ "Succeeded" ] }
        }
      },
      "else": {
        "actions": {
          "Skip_enrichment_audit": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
              "parameters": {
                "entityName": "cr1bd_auditevents",
                "item/cr1bd_name": "@concat('enrichment_called (skipped): ', variables('caseId'))",
                "item/cr1bd_action": 100000011,
                "item/cr1bd_severity": 100000000,
                "item/cr1bd_actor": "Flow_Enrich",
                "item/cr1bd_after": "skipped: ENRICHMENT_ENABLED=false - mileage/model stay as parsed",
                "item/cr1bd_occurredat": "@utcNow()"
              }
            },
            "runAfter": {}
          }
        }
      },
      "runAfter": { "Set_gate_ENRICHMENT_ENABLED": [ "Succeeded" ] }
    },
    "Audit_enrichment_failed": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_auditevents",
          "item/cr1bd_name": "@concat('enrichment_failed: ', variables('caseId'))",
          "item/cr1bd_action": 100000012,
          "item/cr1bd_severity": 100000001,
          "item/cr1bd_actor": "Flow_Enrich",
          "item/cr1bd_after": "gateway/enrich failure - advisory enrichment skipped, intake not blocked",
          "item/cr1bd_occurredat": "@utcNow()"
        }
      },
      "comment": "Enrichment is advisory and never blocks intake: on failure audit and continue.",
      "runAfter": { "If_enrichment_enabled": [ "Failed", "TimedOut" ] }
    }
  }
}
