flows/definitions/finalize-eva-box.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_FinalizeEvaBox (§5.10 / phase-2 M2.C+M2.D). EVA + Box finalize in unison inside one Scope. Box folder = UPPERCASE Case/PO; EVA uses lowercase - same identity, two casings. Photo order = 2 previews first then ALL photos incl. those two again (Evidence sequenceIndex asc; the evasentry Function re-orders server-side too). EVA_API_ENABLED gates the TRANSPORT (Sentry REST via cr1bd_evasentry when true; JSON drag-drop export staged to Box when false - M1 default + PERMANENT fallback) not the finalization. The Sentry REST token lifecycle lives INSIDE the evasentry Function (Power Platform custom connectors cannot do the OAuth2 client-credentials grant - Microsoft Learn), keyed by function-key; the flow never reads EVA_CLIENT_SECRET. Idempotent by cr1bd_finalizedpayloadhash (stamped LAST). BoxArchiveRootId is a flow parameter, never a hardcoded live Box id. [BUILD]. ACTIVATION [RESERVED-FOR-USER]: bind cr1bd_box (live Box) + cr1bd_evasentry, set BoxArchiveRootId, inject EVA test Client_Id/Secret into Key Vault, flip EVA_API_ENABLED=true in TEST only, run a parity test (drag-drop==API) before any prod cutover. Box can go live on the drag-drop transport (EVA_API_ENABLED=false) BEFORE the Sentry REST path exists. Claude never injects secrets, binds a live account, or flips the prod gate.",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} },
    "BoxArchiveRootId": { "type": "String", "defaultValue": "@parameters('BoxArchiveRootId')", "metadata": { "description": "Parent Box folder id for archives. Flow parameter; bound by the user at activation. NEVER a hardcoded live Box id." } }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "comment": "Invoked when staff request submit (the Code App writes a 'submit requested' signal; the Code App never calls EVA/Box directly).",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "caseId": { "type": "string" },
            "payloadHash": { "type": "string" },
            "evaPayload12": { "type": "string" }
          }
        }
      }
    }
  },
  "actions": {
    "Init_caseId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "caseId", "type": "string", "value": "@triggerBody()?['caseId']" } ] },
      "runAfter": {}
    },
    "Init_payloadHash": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "payloadHash", "type": "string", "value": "@triggerBody()?['payloadHash']" } ] },
      "runAfter": { "Init_caseId": [ "Succeeded" ] }
    },
    "Init_evaPayload12": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "evaPayload12", "type": "string", "value": "@triggerBody()?['evaPayload12']" } ] },
      "comment": "The schema-valid 12-field EVA JSON in contract order, built by the SAME serializer the Code App uses (eva-export.ts / eva-payload.schema.json) - byte-identical drag-drop body and API body. vrm/reference are NOT in the 12.",
      "runAfter": { "Init_payloadHash": [ "Succeeded" ] }
    },
    "Get_gate_definition": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "environmentvariabledefinitions",
          "$filter": "schemaname eq 'cr1bd_EVA_API_ENABLED'",
          "$select": "environmentvariabledefinitionid,defaultvalue",
          "$expand": "environmentvariabledefinition_environmentvariablevalue($select=value)",
          "$top": 1
        }
      },
      "runAfter": { "Init_evaPayload12": [ "Succeeded" ] }
    },
    "Set_gate_EVA_API_ENABLED": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "gate_EVA_API_ENABLED", "type": "boolean",
        "value": "@equals(toLower(coalesce(first(first(outputs('Get_gate_definition')?['body/value'])?['environmentvariabledefinition_environmentvariablevalue'])?['value'], first(outputs('Get_gate_definition')?['body/value'])?['defaultvalue'], 'false')), 'true')"
      } ] },
      "comment": "M1 default false -> JSON drag-drop export path (permanent fallback).",
      "runAfter": { "Get_gate_definition": [ "Succeeded" ] }
    },
    "Get_case": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "GetItem",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": { "entityName": "cr1bd_cases", "recordId": "@variables('caseId')" }
      },
      "runAfter": { "Set_gate_EVA_API_ENABLED": [ "Succeeded" ] }
    },
    "Guard_already_finalized": {
      "type": "If",
      "expression": { "not": { "equals": [ "@outputs('Get_case')?['body/cr1bd_finalizedpayloadhash']", "@variables('payloadHash')" ] } },
      "comment": "Idempotency latch: re-running finalize for an already-submitted payload hash must not double-submit or re-create the folder.",
      "actions": {
        "Scope_Finalize": {
          "type": "Scope",
          "actions": {
            "Order_evidence": {
              "type": "OpenApiConnection",
              "comment": "Image Evidence accepted for EVA, ascending sequenceIndex (2 previews seeded at index 0,1 then full sequence incl. those two again).",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": {
                  "entityName": "cr1bd_evidences",
                  "$filter": "_cr1bd_caseid_value eq @{variables('caseId')} and cr1bd_kind eq 100000000 and cr1bd_acceptedforeva eq true and cr1bd_excluded eq false",
                  "$orderby": "cr1bd_sequenceindex asc"
                }
              },
              "runAfter": {}
            },
            "Create_box_folder_UPPERCASE": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_box", "operationId": "CreateFolder",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_box" },
                "parameters": { "parentId": "@parameters('BoxArchiveRootId')",
                  "name": "@toUpper(outputs('Get_case')?['body/cr1bd_casepo'])" }
              },
              "comment": "Box folder = UPPERCASE Case/PO (toUpper, e.g. EVA test26001 -> Box TEST26001). CreateFolder 409s on a name collision; on resume reuse the folder by name. [RESERVED-FOR-USER]: bind cr1bd_box to the live Box account + set BoxArchiveRootId to the real parent archive folder id at activation; confirm Box honours the UPPERCASE casing (B5).",
              "runAfter": { "Order_evidence": [ "Succeeded" ] }
            },
            "Upload_photos_in_eva_order": {
              "type": "Foreach",
              "foreach": "@outputs('Order_evidence')?['body/value']",
              "runtimeConfiguration": { "concurrency": { "repetitions": 1 } },
              "comment": "repetitions=1 preserves EVA upload order: 2 previews first, then full sequence incl. those two.",
              "actions": {
                "Copy_evidence_to_box": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_box", "operationId": "CreateFile",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_box" },
                    "parameters": { "folderId": "@body('Create_box_folder_UPPERCASE')?['Id']",
                      "name": "@items('Upload_photos_in_eva_order')?['cr1bd_filename']",
                      "body": "@items('Upload_photos_in_eva_order')?['cr1bd_storagepath']" }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": { "Create_box_folder_UPPERCASE": [ "Succeeded" ] }
            },
            "Submit_to_EVA": {
              "type": "If",
              "expression": { "equals": [ "@variables('gate_EVA_API_ENABLED')", true ] },
              "actions": {
                "EVA_instruction_inspection": {
                  "type": "OpenApiConnection",
                  "comment": "Sentry REST path - the evasentry Function mints/caches the 5-min /Connect/token JWT and attaches the bearer SERVER-SIDE (Key Vault refs); this connector is function-keyed only. evaPayload12 is the schema-valid 12-field core (byte-identical to the drag-drop body); payloadHash echoes the idempotency latch; casePo is lowercase. Runs only when EVA_API_ENABLED=true. NOTE (plan §13 Q1): base-64 Impact Images are NOT attached here yet - the flow archives image bytes to Box by storagepath, and the exact EVA Impact-Image field shape must be confirmed against the EVA TEST server before wiring 'body/images'. Until then EVA renders the 12-field core; photos live in the Box archive. [RESERVED-FOR-USER] to enable/cutover.",
                  "inputs": {
                    "host": { "connectionName": "shared_evasentry", "operationId": "InstructionInspection",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_evasentry" },
                    "parameters": {
                      "body/evaPayload12": "@variables('evaPayload12')",
                      "body/payloadHash": "@variables('payloadHash')",
                      "body/casePo": "@toLower(outputs('Get_case')?['body/cr1bd_casepo'])"
                    }
                  },
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {
                  "Stage_drag_drop_json": {
                    "type": "OpenApiConnection",
                    "comment": "M1 default: emit the schema-valid 12-field JSON for staff drag-drop into EVA. Same serializer as the Code App - byte-identical. lowercase Case/PO filename.",
                    "inputs": {
                      "host": { "connectionName": "shared_box", "operationId": "CreateFile",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_box" },
                      "parameters": { "folderId": "@body('Create_box_folder_UPPERCASE')?['Id']",
                        "name": "@concat(toLower(outputs('Get_case')?['body/cr1bd_casepo']), '.eva.json')",
                        "body": "@variables('evaPayload12')" }
                    },
                    "runAfter": {}
                  }
                }
              },
              "runAfter": { "Upload_photos_in_eva_order": [ "Succeeded" ] }
            },
            "Audit_eva_submitted": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": {
                  "entityName": "cr1bd_auditevents",
                  "item/cr1bd_name": "@concat('eva_submitted: ', outputs('Get_case')?['body/cr1bd_casepo'])",
                  "item/cr1bd_action": 100000015,
                  "item/cr1bd_severity": 100000000,
                  "item/cr1bd_actor": "Flow_FinalizeEvaBox",
                  "item/cr1bd_after": "@concat('transport=', if(variables('gate_EVA_API_ENABLED'), 'sentry_rest', 'drag_drop_json'))",
                  "item/cr1bd_occurredat": "@utcNow()"
                }
              },
              "runAfter": { "Submit_to_EVA": [ "Succeeded" ] }
            },
            "Audit_box_synced": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": {
                  "entityName": "cr1bd_auditevents",
                  "item/cr1bd_name": "@concat('box_synced: ', toUpper(outputs('Get_case')?['body/cr1bd_casepo']))",
                  "item/cr1bd_action": 100000016,
                  "item/cr1bd_severity": 100000000,
                  "item/cr1bd_actor": "Flow_FinalizeEvaBox",
                  "item/cr1bd_after": "@concat('archived to Box folder ', toUpper(outputs('Get_case')?['body/cr1bd_casepo']))",
                  "item/cr1bd_occurredat": "@utcNow()"
                }
              },
              "runAfter": { "Audit_eva_submitted": [ "Succeeded" ] }
            },
            "Stamp_finalized_hash": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": { "entityName": "cr1bd_cases", "recordId": "@variables('caseId')",
                  "item/cr1bd_finalizedpayloadhash": "@variables('payloadHash')",
                  "item/cr1bd_status": 100000009,
                  "item/cr1bd_submittedat": "@utcNow()" }
              },
              "comment": "Stamp LAST = idempotency latch. status box_synced=100000009 (terminal). A partial failure leaves the hash unstamped so a re-run resumes cleanly.",
              "runAfter": { "Audit_box_synced": [ "Succeeded" ] }
            }
          },
          "runAfter": {}
        }
      },
      "runAfter": { "Get_case": [ "Succeeded" ] }
    }
  }
}
