flows/definitions/intake-shared-mailbox.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_Intake_SharedMailbox_<Mailbox> — the PARAMETERISED, per-inbox multi-mailbox intake (docs/plans/phase-2-live-activation/multi-inbox-access.md Option A). ONE definition ships to ANY inbox: the ONLY per-copy difference is the IntakeMailbox flow-parameter value bound to the V2 trigger's mailboxAddress. Logic mirrors flows/definitions/intake.definition.json (Message-ID get-or-create dedup + MinIntakeDate go-live guard + concurrency=1 + best-effort provider-resolve + sourceMailbox provenance) — it mirrors collisioncc graph-intake.ts ingestGraphMessage, never calls it. Trigger is SharedMailboxOnNewEmailV2 (operationId; param mailboxAddress, reconciled live 2026-06-18 against the Office 365 connector swagger). SUPPORTS BOTH credential scenarios with the SAME definition because only the bound CONNECTION differs, never the JSON: (a) SHARED MAILBOX that the connected digital@ holds Exchange Full Access to -> REUSE the existing cr1bd_sharedmailbox_office365 connection (digital@); NO new password / NO new connection. (b) LICENSED USER MAILBOX with its own identity -> bind cr1bd_sharedmailbox_office365 to a NEW Office 365 Outlook connection created by an interactive sign-in AS that user (real OAuth/MFA), OR (preferred) grant digital@ Full Access and treat it exactly like (a). The connectionName stays shared_office365 in BOTH cases. Per-inbox how-to + the Get-Mailbox/Get-MailboxPermission Full-Access checks live in docs/activation/multi-inbox-activation.md. [BUILD] only; pointing any trigger at a live Collision Engineers mailbox + all live-inbox tests are [RESERVED-FOR-USER]. IntakeMailbox is ALWAYS a flow parameter, NEVER a hardcoded live address. GO-LIVE HARDENING (identical to intake.definition.json): (1) MinIntakeDate guard (String param, default '2026-06-17', set per-inbox at activation = that inbox's go-live date) — FIRST action after the trigger drops any email whose receivedDateTime is before MinIntakeDate (Terminate Succeeded) so a freshly-connected inbox never ingests its historical backlog. CROSS-INBOX SAFETY: the Internet Message-ID is unique per email regardless of which inbox saw it, so the Find_existing_by_messageId get-or-create guard de-dups even if the SAME email lands in two inboxes (To: inbox-2, Cc: inbox-3) — worst case a benign duplicate_dropped audit on the second arrival. Each flow keeps its OWN concurrency=1 (serialises within one mailbox); the N flows run independently in parallel, which is correct because the dedup keys are global. ===== PHASE-8 RESTRUCTURE (ADR-0015, triage-first then route — parallel to intake.definition.json) ===== (1) the trigger now fetches ALL email (hasAttachments=false) — the old TEMPORARY attachment-only noise filter is removed now the email-management/routing system has landed; concurrency=1 + the MinIntakeDate guard are kept. (2) DEDUP GENERALISED: the Message-ID get-or-create probe now hits BOTH cr1bd_cases (Find_existing_by_messageId) AND the triage table cr1bd_inboundemails (Find_existing_inbound) so a repeat QUERY/OTHER email (which never creates a Case) is dropped too (ADR-0010 exact repeat). (3) the provider match yields a providerMatchState variable ('one'|'ambiguous'|'none') + workProviderId BEFORE classification. (4) a NEW Run_triage child (CS_TriageClassify) classifies EVERY email FIRST (upsert cr1bd_inboundemail row, deterministic /classify-email, open-Case lookup never-auto-link-on-ambiguity, inbound_classified+inbound_routed audits). (5) a Switch on body('Run_triage')?['category'] routes: receiving_work -> the existing Create_case (MOVED into this branch only) then write the new Case id back onto the triage row (cr1bd_triagestate='routed'); query/other -> NO Case (the child already handled the row + both audits; gap-4 LOCKED: no inbound_query_logged/inbound_other action, IMPLEMENTATION-PLAN §2.5); default -> treated as other. NOTE: this thinner per-inbox variant has NO downstream child chain (no classify-persist/parse/status-evaluate/case-resolve/enrich) and never did — unlike intake.definition.json, so there is no live chain to reconcile here; it remains a build-only multi-inbox scaffold (state=off). Phase-8 changes are NOT activated; flipping the live trigger hasAttachments true->false + single-inbox soft rollout are operator-gated (G6).",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} },
    "IntakeMailbox": {
      "type": "String",
      "defaultValue": "@parameters('IntakeMailbox')",
      "metadata": { "description": "The ONE per-inbox knob. Shared/licensed inbox address bound to the V2 trigger's mailboxAddress AND stamped on every Case as cr1bd_sourcemailbox for per-inbox attribution. Flow parameter so ONE definition ships to ALL inboxes. NEVER a hardcoded live mailbox in the authored definition (linter check #4). Set to the watched address per copy at activation: e.g. one flow IntakeMailbox=digital@…, a second IntakeMailbox=<inbox-2>, a third IntakeMailbox=<inbox-3>." }
    },
    "MinIntakeDate": {
      "type": "String",
      "defaultValue": "2026-06-17",
      "metadata": { "description": "Inclusive earliest email receivedDateTime to ingest (ISO date/datetime). Set PER-INBOX at activation = that inbox's go-live date. Drop_if_before_min_date drops any email received BEFORE this instant (Terminate Succeeded) so a newly-connected inbox — which can hold years of mail — never ingests its historical backlog. Default 2026-06-17." }
    }
  },
  "triggers": {
    "When_a_new_email_arrives_in_a_shared_mailbox_V2": {
      "type": "OpenApiConnectionNotification",
      "inputs": {
        "host": {
          "connectionName": "shared_office365",
          "operationId": "SharedMailboxOnNewEmailV2",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
        },
        "parameters": {
          "mailboxAddress": "@parameters('IntakeMailbox')",
          "folderId": "Inbox",
          "includeAttachments": true,
          "hasAttachments": false,
          "importance": "Any"
        }
      },
      "runtimeConfiguration": {
        "concurrency": { "runs": 1 }
      },
      "metadata": { "operationMetadataId": "intake-shared-trigger" }
    }
  },
  "actions": {
    "Drop_if_before_min_date": {
      "type": "If",
      "expression": {
        "equals": [ "@less(ticks(triggerOutputs()?['body/receivedDateTime']), ticks(parameters('MinIntakeDate')))", true ]
      },
      "actions": {
        "Audit_dropped_before_min_date": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_auditevents",
              "item/cr1bd_name": "@concat('dropped_before_min_date: ', coalesce(triggerOutputs()?['body/internetMessageId'], ''))",
              "item/cr1bd_action": 100000005,
              "item/cr1bd_actor": "Flow_Intake_SharedMailbox",
              "item/cr1bd_severity": 100000000,
              "item/cr1bd_after": "@concat('mailbox=', parameters('IntakeMailbox'), '; receivedDateTime=', coalesce(triggerOutputs()?['body/receivedDateTime'], ''), ' < MinIntakeDate=', parameters('MinIntakeDate'), ' -> dropped (go-live min-date guard)')",
              "item/cr1bd_occurredat": "@utcNow()"
            }
          },
          "runAfter": {}
        },
        "Terminate_before_min_date": {
          "type": "Terminate",
          "inputs": { "runStatus": "Succeeded" },
          "runAfter": { "Audit_dropped_before_min_date": [ "Succeeded" ] }
        }
      },
      "else": { "actions": {} },
      "comment": "Go-live min-date guard (identical to intake.definition.json, with mailbox= added to the audit for per-inbox attribution). FIRST action after the trigger: if the email's receivedDateTime is BEFORE MinIntakeDate (default 2026-06-17), audit a dropped_before_min_date event (reuses the duplicate_dropped action value 100000005 — no schema change) then Terminate Succeeded. Otherwise the else-branch is empty and the dedup/ingest chain proceeds. Robust comparison via ticks() so format/timezone differences do not skew the test.",
      "runAfter": {}
    },
    "Init_messageId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "messageId", "type": "string",
        "value": "@triggerOutputs()?['body/internetMessageId']"
      } ] },
      "runAfter": { "Drop_if_before_min_date": [ "Succeeded" ] }
    },
    "Init_payloadHash": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "payloadHash", "type": "string",
        "value": "@toLower(trim(concat(coalesce(triggerOutputs()?['body/subject'],''), '|', coalesce(triggerOutputs()?['body/from'],''))))"
      } ] },
      "comment": "payloadHash seed = normalised subject + from; the attachment-loop flow (classify-persist, §5.2) folds in sorted attachment SHA256s before the second dedup probe. SHA256 is computed in the storage Function, not in Power Fx.",
      "runAfter": { "Init_messageId": [ "Succeeded" ] }
    },
    "Init_attachmentHashes": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "attachmentHashes", "type": "array", "value": [] } ] },
      "runAfter": { "Init_payloadHash": [ "Succeeded" ] }
    },
    "Init_senderDomain": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "senderDomain", "type": "string", "value": "@if(empty(toLower(trim(last(split(coalesce(triggerOutputs()?['body/from'], ''), '@'))))), 'none.invalid', toLower(trim(last(split(coalesce(triggerOutputs()?['body/from'], ''), '@')))))" } ] },
      "comment": "Sender email domain (after @), lowercased — resolves the WorkProvider by knownEmailDomains (ADR-0011 domain-only match). 'none.invalid' sentinel when absent keeps the $filter valid.",
      "runAfter": { "Init_attachmentHashes": [ "Succeeded" ] }
    },
    "Init_workProviderId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "workProviderId", "type": "string", "value": "" } ] },
      "comment": "PHASE-8: set after the anchored exact-domain match resolves to exactly one active provider; '' for 0/ambiguous. Bound onto the Case + passed to Run_triage.",
      "runAfter": { "Init_senderDomain": [ "Succeeded" ] }
    },
    "Init_providerMatchState": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "providerMatchState", "type": "string", "value": "none" } ] },
      "comment": "PHASE-8: 'one' | 'ambiguous' | 'none' anchored-match token, computed before classification; passed to Run_triage and gates the Create_case matched-vs-unassigned branch. Default 'none'.",
      "runAfter": { "Init_workProviderId": [ "Succeeded" ] }
    },
    "Init_caseId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "caseId", "type": "string", "value": "" } ] },
      "comment": "PHASE-8: holds the get-or-create Case id once the Create action runs INSIDE the receiving_work Switch branch; written back onto the triage row. '' for query/other email (no Case).",
      "runAfter": { "Init_providerMatchState": [ "Succeeded" ] }
    },
    "Find_existing_by_messageId": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_cases",
          "$filter": "cr1bd_sourcemessageid eq '@{variables('messageId')}'",
          "$select": "cr1bd_caseid,cr1bd_sourcemessageid",
          "$top": 1
        }
      },
      "comment": "Exact Message-ID probe = the get-or-create idempotency guard (alternate key cr1bd_case_sourcemessageid_key). GLOBAL across inboxes: the Internet Message-ID is unique per email regardless of which mailbox saw it, so this also prevents a double-create when the SAME email lands in two intake inboxes. Combined with this flow's trigger concurrency=1, prevents double-create on Graph retries too.",
      "runAfter": { "Init_caseId": [ "Succeeded" ] }
    },
    "Find_existing_inbound": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_inboundemails",
          "$filter": "cr1bd_sourcemessageid eq '@{replace(variables('messageId'), '''', '''''')}'",
          "$select": "cr1bd_inboundemailid,cr1bd_sourcemessageid",
          "$top": 1
        }
      },
      "comment": "PHASE-8 dedup generalisation (ADR-0010): also probe the triage table cr1bd_inboundemails by the SAME Message-ID alternate key so a repeat QUERY/OTHER email (which never creates a Case) is also dropped on a re-send. Message-ID OData-escaped (double any single quote: '''' is a literal single quote, '''''' the doubled-quote replacement) exactly as triage-classify's Find_existing_inbound. Message-ID-scoped read (documented linter exception, not a dedup-by-VRM query).",
      "runAfter": { "Find_existing_by_messageId": [ "Succeeded" ] }
    },
    "If_already_ingested": {
      "type": "If",
      "expression": {
        "or": [
          { "greater": [ "@length(coalesce(outputs('Find_existing_by_messageId')?['body/value'], json('[]')))", 0 ] },
          { "greater": [ "@length(coalesce(outputs('Find_existing_inbound')?['body/value'], json('[]')))", 0 ] }
        ]
      },
      "actions": {
        "Audit_duplicate_dropped": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_auditevents",
              "item/cr1bd_name": "@concat('duplicate_dropped: ', variables('messageId'))",
              "item/cr1bd_action": 100000005,
              "item/cr1bd_actor": "Flow_Intake_SharedMailbox",
              "item/cr1bd_severity": 100000000,
              "item/cr1bd_after": "@concat('mailbox=', parameters('IntakeMailbox'), '; messageId=', variables('messageId'), ' already ingested (cr1bd_cases=', string(length(coalesce(outputs('Find_existing_by_messageId')?['body/value'], json('[]')))), ', cr1bd_inboundemails=', string(length(coalesce(outputs('Find_existing_inbound')?['body/value'], json('[]')))), ') -> dropped (ADR-0010 exact repeat)')",
              "item/cr1bd_occurredat": "@utcNow()"
            }
          },
          "runAfter": {}
        },
        "Terminate_drop": {
          "type": "Terminate",
          "inputs": { "runStatus": "Succeeded" },
          "runAfter": { "Audit_duplicate_dropped": [ "Succeeded" ] }
        }
      },
      "else": {
        "actions": {
          "Audit_message_ingested": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
              "parameters": {
                "entityName": "cr1bd_auditevents",
                "item/cr1bd_name": "@concat('graph_message_ingested: ', variables('messageId'))",
                "item/cr1bd_action": 100000000,
                "item/cr1bd_actor": "Flow_Intake_SharedMailbox",
                "item/cr1bd_severity": 100000000,
                "item/cr1bd_after": "@concat('mailbox=', parameters('IntakeMailbox'), '; messageId=', variables('messageId'))",
                "item/cr1bd_occurredat": "@utcNow()"
              }
            },
            "runAfter": {}
          },
          "List_active_providers": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
              "parameters": {
                "entityName": "cr1bd_workproviders",
                "$filter": "cr1bd_active eq true and cr1bd_knownemaildomains ne null",
                "$select": "cr1bd_workproviderid,cr1bd_principalcode,cr1bd_knownemaildomains"
              }
            },
            "comment": "ALL active providers that have any domains. EXACT membership is applied in-flow next (Filter_exact_domain). OData contains() over the knownEmailDomains Memo is an UNANCHORED substring test and would false-match (sender 'co.uk' inside 'carcompany.co.uk') -> unsafe Case/PO. Mirrors intake.definition.json + provider-match.definition.json + matchProviderByDomain. No $top: the Filter_exact_domain Query does the narrowing.",
            "runAfter": { "Audit_message_ingested": [ "Succeeded" ] }
          },
          "Filter_exact_domain": {
            "type": "Query",
            "inputs": {
              "from": "@coalesce(outputs('List_active_providers')?['body/value'], json('[]'))",
              "where": "@contains(split(replace(replace(toLower(coalesce(item()?['cr1bd_knownemaildomains'], '')), decodeUriComponent('%0D'), ''), ' ', ''), decodeUriComponent('%0A')), variables('senderDomain'))"
            },
            "comment": "Anchored exact membership: split the newline-separated knownEmailDomains memo (CRLF + spaces stripped, lowercased) into individual domains and test EXACT membership of senderDomain. 'co.uk' is a DISTINCT array element from 'carcompany.co.uk'. No substring/alias matching. Identical expression to intake.definition.json + provider-match.definition.json Filter_exact_domain; senderDomain is already lowercased upstream; matches the 15-seed-emaildomains.ps1 (-join '\\n', lowercased) storage format.",
            "runAfter": { "List_active_providers": [ "Succeeded" ] }
          },
          "Set_providerMatchState": {
            "type": "SetVariable",
            "inputs": { "name": "providerMatchState", "value": "@if(equals(length(body('Filter_exact_domain')), 1), 'one', if(greater(length(body('Filter_exact_domain')), 1), 'ambiguous', 'none'))" },
            "comment": "PHASE-8: collapse the anchored-match Filter result into the three-state token. length==1 -> 'one'; >1 -> 'ambiguous'; 0 -> 'none'.",
            "runAfter": { "Filter_exact_domain": [ "Succeeded" ] }
          },
          "Set_workProviderId": {
            "type": "SetVariable",
            "inputs": { "name": "workProviderId", "value": "@if(equals(length(body('Filter_exact_domain')), 1), first(body('Filter_exact_domain'))?['cr1bd_workproviderid'], '')" },
            "comment": "PHASE-8: capture the single matched provider id (only when providerMatchState='one'); else ''. Never auto-picked on ambiguity (ADR-0011).",
            "runAfter": { "Set_providerMatchState": [ "Succeeded" ] }
          },
          "Select_attachment_kinds": {
            "type": "Select",
            "inputs": {
              "from": "@coalesce(triggerOutputs()?['body/attachments'], json('[]'))",
              "select": "@if(or(endsWith(toLower(coalesce(item()?['name'], '')),'.jpg'),endsWith(toLower(coalesce(item()?['name'], '')),'.jpeg'),endsWith(toLower(coalesce(item()?['name'], '')),'.png')),'image',if(or(endsWith(toLower(coalesce(item()?['name'], '')),'.pdf'),endsWith(toLower(coalesce(item()?['name'], '')),'.docx'),endsWith(toLower(coalesce(item()?['name'], '')),'.doc')),'instruction',''))"
            },
            "comment": "PHASE-8 pre-triage attachment-kinds hint passed to Run_triage. Coarse instruction-vs-image map over body/attachments[*].name using the SAME extension set as classify-persist's Compose_kind (.jpg/.jpeg/.png -> 'image'; .pdf/.docx/.doc -> 'instruction'; anything else -> '' which the classifier ignores). Empty array when the email has no attachments (hasAttachments is now false).",
            "runAfter": { "Set_workProviderId": [ "Succeeded" ] }
          },
          "Run_triage": {
            "type": "Workflow",
            "inputs": {
              "host": { "workflowReferenceName": "CS_TriageClassify" },
              "body": {
                "sourceMessageId": "@variables('messageId')",
                "subject": "@coalesce(triggerOutputs()?['body/subject'], '')",
                "body": "@coalesce(triggerOutputs()?['body/body'], '')",
                "from": "@coalesce(triggerOutputs()?['body/from'], '')",
                "senderDomain": "@variables('senderDomain')",
                "sourceMailbox": "@parameters('IntakeMailbox')",
                "receivedOn": "@coalesce(triggerOutputs()?['body/receivedDateTime'], utcNow())",
                "providerMatchState": "@variables('providerMatchState')",
                "workProviderId": "@variables('workProviderId')",
                "attachmentKinds": "@body('Select_attachment_kinds')",
                "hasAttachments": "@coalesce(triggerOutputs()?['body/hasAttachments'], false)"
              }
            },
            "comment": "PHASE-8 (ADR-0015) STEP 0 — classify EVERY inbound email BEFORE routing. Run-a-Child-Flow -> triage-classify (CS_TriageClassify; host.workflowReferenceName is a PLACEHOLDER rebind in the designer to the imported child GUID, see top comment). Upserts one cr1bd_inboundemail row keyed on cr1bd_sourcemessageid, calls /classify-email, runs the open-Case lookup (Case/PO first, VRM fallback, NEVER auto-link on ambiguity) and audits inbound_classified(100000024)+inbound_routed(100000025). Returns { category, subtype, confidence, caseId, inboundEmailId, routeOutcome }.",
            "runAfter": { "Select_attachment_kinds": [ "Succeeded" ] }
          },
          "Switch_on_category": {
            "type": "Switch",
            "expression": "@body('Run_triage')?['category']",
            "comment": "PHASE-8 router. receiving_work -> the existing Create_case (MOVED here; only this category creates a Case) then write the new Case id back onto the triage row. query/other -> NO Case (the triage child already handled the row + both audits; gap-4 LOCKED, IMPLEMENTATION-PLAN §2.5). default -> treated as other.",
            "cases": {
              "receiving_work": {
                "case": "receiving_work",
                "actions": {
                  "If_one_provider": {
                    "type": "If",
                    "expression": { "equals": [ "@variables('providerMatchState')", "one" ] },
                    "actions": {
                      "Create_case_matched": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                          "parameters": {
                            "entityName": "cr1bd_cases",
                            "item/cr1bd_name": "@take(coalesce(triggerOutputs()?['body/subject'], concat('Email ', variables('messageId'))), 100)",
                            "item/cr1bd_sourcemessageid": "@variables('messageId')",
                            "item/cr1bd_payloadhash": "@take(variables('payloadHash'), 80)",
                            "item/cr1bd_status": 100000000,
                            "item/cr1bd_intakechannelkind": 100000000,
                            "item/cr1bd_intakechannelmanual": false,
                            "item/cr1bd_sourcemailbox": "@parameters('IntakeMailbox')",
                            "item/cr1bd_Workproviderid@odata.bind": "@concat('cr1bd_workproviders(', variables('workProviderId'), ')')"
                          }
                        },
                        "comment": "receiving_work + exactly one provider matched (anchored exact membership; providerMatchState='one') -> create the Case (new_email) bound to it. cr1bd_sourcemailbox = the per-flow IntakeMailbox gives correct per-inbox attribution for free. @odata.bind uses the navigation-property form cr1bd_Workproviderid (capitalised nav prop) = cr1bd_workproviders(<guid>) with NO leading slash, reconciled with intake.definition.json + case-resolve.",
                        "runAfter": {}
                      },
                      "Capture_caseId_matched": {
                        "type": "SetVariable",
                        "inputs": { "name": "caseId", "value": "@outputs('Create_case_matched')?['body/cr1bd_caseid']" },
                        "runAfter": { "Create_case_matched": [ "Succeeded" ] }
                      }
                    },
                    "else": {
                      "actions": {
                        "Create_case_unassigned": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                            "parameters": {
                              "entityName": "cr1bd_cases",
                              "item/cr1bd_name": "@take(coalesce(triggerOutputs()?['body/subject'], concat('Email ', variables('messageId'))), 100)",
                              "item/cr1bd_sourcemessageid": "@variables('messageId')",
                              "item/cr1bd_payloadhash": "@take(variables('payloadHash'), 80)",
                              "item/cr1bd_status": 100000000,
                              "item/cr1bd_intakechannelkind": 100000000,
                              "item/cr1bd_intakechannelmanual": false,
                              "item/cr1bd_sourcemailbox": "@parameters('IntakeMailbox')"
                            }
                          },
                          "comment": "receiving_work but no single provider match (providerMatchState 'none' or 'ambiguous') -> create the Case (new_email) UNASSIGNED; staff assign the provider in review. Never fails on an empty lookup. cr1bd_sourcemailbox still records the watched inbox.",
                          "runAfter": {}
                        },
                        "Capture_caseId_unassigned": {
                          "type": "SetVariable",
                          "inputs": { "name": "caseId", "value": "@outputs('Create_case_unassigned')?['body/cr1bd_caseid']" },
                          "runAfter": { "Create_case_unassigned": [ "Succeeded" ] }
                        }
                      }
                    },
                    "comment": "Graceful provider gating: bind only on an unambiguous single anchored match (providerMatchState='one'); otherwise create unassigned. Both branches capture the new Case id into the caseId variable for the triage write-back.",
                    "runAfter": {}
                  },
                  "Update_inbound_case_writeback": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                      "parameters": {
                        "entityName": "cr1bd_inboundemails",
                        "recordId": "@body('Run_triage')?['inboundEmailId']",
                        "item/cr1bd_Caseid@odata.bind": "@if(empty(variables('caseId')), null, concat('cr1bd_cases(', variables('caseId'), ')'))",
                        "item/cr1bd_triagestate": "routed"
                      }
                    },
                    "comment": "PHASE-8 receiving_work write-back: bind the cr1bd_inboundemail triage row (keyed on the inboundEmailId the triage child returned) to the NEW Case + mark it 'routed'. Capitalised nav prop cr1bd_Caseid = cr1bd_cases(<id>), no leading slash; null only if the Case create yielded no id. runAfter If_one_provider (the Case exists by now).",
                    "runAfter": { "If_one_provider": [ "Succeeded" ] }
                  }
                }
              },
              "query": {
                "case": "query",
                "actions": {
                  "Note_query_handled_by_triage": {
                    "type": "Compose",
                    "inputs": "@concat('query email ', variables('messageId'), ' fully handled by the triage child (row upserted, open Case linked if query_existing_work, inbound_classified+inbound_routed audited). No Case created. routeOutcome=', coalesce(body('Run_triage')?['routeOutcome'], ''))",
                    "comment": "PHASE-8: query category -> NO Case. The triage child already upserted the cr1bd_inboundemail row, ran the open-Case lookup, set cr1bd_triagestate, and wrote BOTH audits (gap-4 LOCKED: no inbound_query_logged action — IMPLEMENTATION-PLAN §2.5). Inert Compose documenting the no-op route.",
                    "runAfter": {}
                  }
                }
              },
              "other": {
                "case": "other",
                "actions": {
                  "Note_other_handled_by_triage": {
                    "type": "Compose",
                    "inputs": "@concat('other email ', variables('messageId'), ' fully handled by the triage child (row upserted triagestate=new, inbound_classified+inbound_routed audited). No Case created. Sits in the Other tab for a human.')",
                    "comment": "PHASE-8: other category -> NO Case. The triage child already upserted the cr1bd_inboundemail row (cr1bd_triagestate='new') and wrote BOTH audits (gap-4 LOCKED: no inbound_other action). Inert Compose documenting the no-op route.",
                    "runAfter": {}
                  }
                }
              }
            },
            "default": {
              "actions": {
                "Note_default_treated_as_other": {
                  "type": "Compose",
                  "inputs": "@concat('unrecognised category=', coalesce(body('Run_triage')?['category'], ''), ' for ', variables('messageId'), ' -> treated as other (no Case). Triage child already upserted the row + audited.')",
                  "comment": "PHASE-8: any unexpected category -> treat as other (no Case). The child returns a safe 'other' even on a bad classify, so this is defence-in-depth.",
                  "runAfter": {}
                }
              }
            },
            "runAfter": { "Run_triage": [ "Succeeded" ] }
          }
        }
      },
      "comment": "Message-ID/inbound hit = exact-repeat half of ADR-0010 -> drop. Else branch (PHASE-8 triage-first): anchored exact provider match -> providerMatchState/workProviderId -> Run_triage (classify EVERY email) -> Switch(category). receiving_work owns the single Create here + the triage write-back; query/other create NO Case (the child handled them). This thinner per-inbox variant has no downstream child chain (no classify-persist/parse/status/case-resolve/enrich), unlike intake.definition.json.",
      "runAfter": { "Find_existing_inbound": [ "Succeeded" ] }
    }
  }
}
