flows/definitions/intake.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_Intake_<Mailbox> (§5.1) — the ORCHESTRATOR. Per-shared-mailbox trigger + Message-ID dedup guard (ADR-0010 exact-repeat = drop). After the get-or-create Case is written it drives the downstream chain (classify-persist -> parse -> status-evaluate) via Run-a-Child-Flow (built-in Workflow action, the export-safe Microsoft pattern; HTTP-URL chaining breaks on solution import/export). Mirrors collisioncc graph-intake.ts ingestGraphMessage; never calls it. [BUILD] only; activating on a live Collision Engineers mailbox is [RESERVED-FOR-USER]. PROVIDER MATCH FIX (task #26): the provider lookup is now an ANCHORED EXACT domain membership test (List_active_providers + Filter_exact_domain), identical to provider-match.definition.json / matchProviderByDomain — the old OData contains() over the knownEmailDomains Memo was an UNANCHORED substring test that false-matched (sender 'co.uk' inside 'carcompany.co.uk') and minted unsafe Case/POs. GO-LIVE HARDENING: (1) MinIntakeDate guard (String param, default '2026-06-17') drops backlog mail before the date (Terminate Succeeded). TRIGGER RECONCILIATION (DRIFT A): the committed trigger is reconciled to the LIVE OnNewEmailV3 on the connected digital@ mailbox (V3 has no mailboxAddress parameter — the monitored mailbox IS the connection's account; to change it, change the connection). Attachments arrive under body/attachments[*].contentBytes either way. CHILD-FLOW REBIND (operator): each Run-a-Child-Flow host.workflowReferenceName below is a PLACEHOLDER logical name; after import the designer/Flow API rebinds it to the imported child's GUID (open intake in make.powerautomate.com, re-select each child flow on its Run-a-Child-Flow card, Save). Child flows must keep their 'Manually trigger a flow' (Request) trigger and embedded connections (Run-only users -> Use this connection). ===== PHASE-8 RESTRUCTURE (ADR-0015, triage-first then route) ===== (1) the trigger now fetches ALL email (fetchOnlyWithAttachment=false) — the old TEMPORARY attachment-only noise filter is removed now the email-management/routing system has landed; concurrency=1 + the MinIntakeDate guard are kept. (2) DEDUP GENERALISED: the Message-ID get-or-create probe now hits BOTH cr1bd_cases (Find_existing_by_messageId) AND the triage table cr1bd_inboundemails (Find_existing_inbound) so a repeat QUERY/OTHER email (which never creates a Case) is dropped too (ADR-0010 exact repeat). (3) the provider match (List_active_providers + Filter_exact_domain) runs BEFORE classification and yields a providerMatchState variable ('one'|'ambiguous'|'none') + workProviderId. (4) a NEW Run_triage child (CS_TriageClassify) classifies EVERY email FIRST: it upserts exactly one cr1bd_inboundemail row, calls the deterministic /classify-email op, runs the open-Case lookup (Case/PO first, VRM fallback, NEVER auto-link on ambiguity) and audits inbound_classified(100000024)+inbound_routed(100000025). (5) a Switch on body('Run_triage')?['category'] routes: receiving_work -> the existing Case chain (Create_case has MOVED into this branch only) then writes the new Case id back onto the triage row (cr1bd_triagestate='routed'); query/other -> NO Case (the triage child already upserted the row, linked any open Case and wrote BOTH audits — gap-4 LOCKED: no inbound_query_logged/inbound_other audit actions are introduced, per IMPLEMENTATION-PLAN §2.5); default -> treated as other. ===== ACTIVATION NOTE (G1 / intake-repo-trails-live) ===== this OFFLINE def ADDS Run_case_resolve + Run_enrich after Run_status_evaluate to reconcile UP to the live CS Intake (which calls both after parse), so a solution re-import does not regress live wiring. The exact live wiring (presence/order/params of Run_enrich + Run_case_resolve) is AUTHORITATIVE — the operator MUST confirm this def against the live CS Intake before any re-import. See docs/plans/phase-8-inbox-management/intake-restructure-notes.md. NONE of the Phase-8 changes are activated here (state=off); flipping the LIVE trigger fetchOnlyWithAttachment true->false + the single-inbox soft rollout are operator-gated (G6).",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} },
    "IntakeMailbox": {
      "type": "String",
      "defaultValue": "@parameters('IntakeMailbox')",
      "metadata": { "description": "Shared inbox address, kept ONLY for audit/provenance text (V3 has no mailboxAddress trigger parameter; the monitored mailbox is the connection's account). Flow parameter (or Dataverse env-var read) so one definition ships to all 3 mailboxes. NEVER a hardcoded live mailbox in the authored definition." }
    },
    "MinIntakeDate": {
      "type": "String",
      "defaultValue": "2026-06-17",
      "metadata": { "description": "Inclusive earliest email receivedDateTime to ingest (ISO date/datetime). Set per-environment at activation. The date guard (Drop_if_before_min_date) drops any email received BEFORE this instant so historical backlog mail is never ingested. Default 2026-06-17." }
    }
  },
  "triggers": {
    "When_a_new_email_arrives_V3": {
      "type": "OpenApiConnectionNotification",
      "inputs": {
        "host": {
          "connectionName": "shared_office365",
          "operationId": "OnNewEmailV3",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
        },
        "parameters": {
          "folderPath": "Inbox",
          "includeAttachments": true,
          "fetchOnlyWithAttachment": false,
          "importance": "Any"
        }
      },
      "runtimeConfiguration": {
        "concurrency": { "runs": 1 }
      },
      "metadata": { "operationMetadataId": "intake-trigger" }
    }
  },
  "actions": {
    "Drop_if_before_min_date": {
      "type": "If",
      "expression": {
        "equals": [ "@less(ticks(triggerOutputs()?['body/receivedDateTime']), ticks(parameters('MinIntakeDate')))", true ]
      },
      "actions": {
        "Audit_dropped_before_min_date": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_auditevents",
              "item/cr1bd_name": "@concat('dropped_before_min_date: ', coalesce(triggerOutputs()?['body/internetMessageId'], ''))",
              "item/cr1bd_action": 100000005,
              "item/cr1bd_actor": "Flow_Intake",
              "item/cr1bd_severity": 100000000,
              "item/cr1bd_after": "@concat('receivedDateTime=', coalesce(triggerOutputs()?['body/receivedDateTime'], ''), ' < MinIntakeDate=', parameters('MinIntakeDate'), ' -> dropped (go-live min-date guard)')",
              "item/cr1bd_occurredat": "@utcNow()"
            }
          },
          "runAfter": {}
        },
        "Terminate_before_min_date": {
          "type": "Terminate",
          "inputs": { "runStatus": "Succeeded" },
          "runAfter": { "Audit_dropped_before_min_date": [ "Succeeded" ] }
        }
      },
      "else": { "actions": {} },
      "comment": "Go-live min-date guard. FIRST action after the trigger: if the email's receivedDateTime is BEFORE MinIntakeDate (default 2026-06-17), audit a dropped_before_min_date event (reuses the duplicate_dropped action value 100000005 — no schema change — with dropped_before_min_date semantics in name/after) then Terminate Succeeded. Otherwise the else-branch is empty and the dedup/ingest chain proceeds. Robust comparison via ticks() so format/timezone differences do not skew the test.",
      "runAfter": {}
    },
    "Init_messageId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "messageId", "type": "string",
        "value": "@triggerOutputs()?['body/internetMessageId']"
      } ] },
      "runAfter": { "Drop_if_before_min_date": [ "Succeeded" ] }
    },
    "Init_payloadHash": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "payloadHash", "type": "string",
        "value": "@toLower(trim(concat(coalesce(triggerOutputs()?['body/subject'],''), '|', coalesce(triggerOutputs()?['body/from'],''))))"
      } ] },
      "comment": "payloadHash seed = normalised subject + from. classify-persist folds in the sorted attachment hashes and returns the final payloadHash; this seed is the Case row's value at create time (the second SHA-aware dedup probe lives downstream).",
      "runAfter": { "Init_messageId": [ "Succeeded" ] }
    },
    "Init_senderDomain": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "senderDomain", "type": "string", "value": "@if(empty(toLower(trim(last(split(coalesce(triggerOutputs()?['body/from'], ''), '@'))))), 'none.invalid', toLower(trim(last(split(coalesce(triggerOutputs()?['body/from'], ''), '@')))))" } ] },
      "comment": "Sender email domain (after @), lowercased -- resolves the WorkProvider by knownEmailDomains (ADR-0011 domain-only match). 'none.invalid' sentinel when absent keeps the lookup valid.",
      "runAfter": { "Init_payloadHash": [ "Succeeded" ] }
    },
    "Init_workProviderId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "workProviderId", "type": "string", "value": "" } ] },
      "comment": "Set after the anchored exact-domain match resolves to exactly one active provider; stays '' for 0/ambiguous (unassigned Case, staff assigns). Threaded into Run_triage + classify/parse/status as needed.",
      "runAfter": { "Init_senderDomain": [ "Succeeded" ] }
    },
    "Init_providerMatchState": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "providerMatchState", "type": "string", "value": "none" } ] },
      "comment": "PHASE-8: the intake's anchored exact-domain result, computed BEFORE classification. 'one' (exactly one active provider matched), 'ambiguous' (>1), 'none' (0). Passed to Run_triage so the deterministic classifier (R1/R2/R5) can refine existing_provider_* vs new_client_* / query subtypes; also gates the Create_case matched-vs-unassigned branch. Default 'none' until Filter_exact_domain runs.",
      "runAfter": { "Init_workProviderId": [ "Succeeded" ] }
    },
    "Init_caseId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "caseId", "type": "string", "value": "" } ] },
      "comment": "Holds the get-or-create Case id once the Create action runs INSIDE the receiving_work Switch branch; passed into the downstream child chain (classify-persist -> parse -> status-evaluate -> case-resolve -> enrich) and written back onto the triage row. Stays '' for query/other email (no Case).",
      "runAfter": { "Init_providerMatchState": [ "Succeeded" ] }
    },
    "Init_attachmentsForChild": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "attachmentsForChild", "type": "array", "value": "@coalesce(triggerOutputs()?['body/attachments'], json('[]'))" } ] },
      "comment": "Attachments array passed to classify-persist: SEEDED from the trigger attachments, then the source email .eml is appended (Append to array variable — the Microsoft-documented append idiom; union dedups, concat is string-only) inside the failure-isolated Scope_capture_eml AFTER the Case is created. A failed export leaves this seed (the real attachments) intact. (FIX 4 / task #92)",
      "runAfter": { "Init_caseId": [ "Succeeded" ] }
    },
    "Find_existing_by_messageId": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_cases",
          "$filter": "cr1bd_sourcemessageid eq '@{variables('messageId')}'",
          "$select": "cr1bd_caseid,cr1bd_sourcemessageid",
          "$top": 1
        }
      },
      "comment": "Exact Message-ID probe = the get-or-create idempotency guard (alternate key cr1bd_case_sourcemessageid_key). Combined with trigger concurrency=1, prevents double-create on Graph retries. Message-ID-scoped read (documented linter exception, not a dedup-by-VRM query).",
      "runAfter": { "Init_attachmentsForChild": [ "Succeeded" ] }
    },
    "Find_existing_inbound": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_inboundemails",
          "$filter": "cr1bd_sourcemessageid eq '@{replace(variables('messageId'), '''', '''''')}'",
          "$select": "cr1bd_inboundemailid,cr1bd_sourcemessageid",
          "$top": 1
        }
      },
      "comment": "PHASE-8 dedup generalisation (ADR-0010): also probe the triage table cr1bd_inboundemails by the SAME Message-ID alternate key so a repeat QUERY/OTHER email (which never creates a Case, so Find_existing_by_messageId on cr1bd_cases would miss it) is also dropped on a re-send / Graph retry. Message-ID OData-escaped (double any single quote: the four-quote token '''' is a literal single quote, '''''' is the doubled-quote replacement) exactly as triage-classify's Find_existing_inbound. Message-ID-scoped read (documented linter exception, not a dedup-by-VRM query).",
      "runAfter": { "Find_existing_by_messageId": [ "Succeeded" ] }
    },
    "If_already_ingested": {
      "type": "If",
      "expression": {
        "or": [
          { "greater": [ "@length(coalesce(outputs('Find_existing_by_messageId')?['body/value'], json('[]')))", 0 ] },
          { "greater": [ "@length(coalesce(outputs('Find_existing_inbound')?['body/value'], json('[]')))", 0 ] }
        ]
      },
      "actions": {
        "Audit_duplicate_dropped": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_auditevents",
              "item/cr1bd_name": "@concat('duplicate_dropped: ', variables('messageId'))",
              "item/cr1bd_action": 100000005,
              "item/cr1bd_actor": "Flow_Intake",
              "item/cr1bd_severity": 100000000,
              "item/cr1bd_after": "@concat('messageId=', variables('messageId'), ' already ingested (cr1bd_cases=', string(length(coalesce(outputs('Find_existing_by_messageId')?['body/value'], json('[]')))), ', cr1bd_inboundemails=', string(length(coalesce(outputs('Find_existing_inbound')?['body/value'], json('[]')))), ') -> dropped (ADR-0010 exact repeat)')",
              "item/cr1bd_occurredat": "@utcNow()"
            }
          },
          "runAfter": {}
        },
        "Terminate_drop": {
          "type": "Terminate",
          "inputs": { "runStatus": "Succeeded" },
          "runAfter": { "Audit_duplicate_dropped": [ "Succeeded" ] }
        }
      },
      "else": {
        "actions": {
          "Audit_message_ingested": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
              "parameters": {
                "entityName": "cr1bd_auditevents",
                "item/cr1bd_name": "@concat('graph_message_ingested: ', variables('messageId'))",
                "item/cr1bd_action": 100000000,
                "item/cr1bd_actor": "Flow_Intake",
                "item/cr1bd_severity": 100000000,
                "item/cr1bd_after": "@concat('mailbox=', parameters('IntakeMailbox'), '; messageId=', variables('messageId'))",
                "item/cr1bd_occurredat": "@utcNow()"
              }
            },
            "runAfter": {}
          },
          "List_active_providers": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
              "parameters": {
                "entityName": "cr1bd_workproviders",
                "$filter": "cr1bd_active eq true and cr1bd_knownemaildomains ne null",
                "$select": "cr1bd_workproviderid,cr1bd_principalcode,cr1bd_knownemaildomains"
              }
            },
            "comment": "ALL active providers that have any domains. EXACT membership is applied in-flow next. OData contains() over the knownEmailDomains Memo is an UNANCHORED substring test and would false-match (sender 'co.uk' inside 'carcompany.co.uk') -> unsafe Case/PO. Mirrors provider-match.definition.json + matchProviderByDomain. No $top: the Filter_exact_domain Query does the narrowing.",
            "runAfter": { "Audit_message_ingested": [ "Succeeded" ] }
          },
          "Filter_exact_domain": {
            "type": "Query",
            "inputs": {
              "from": "@coalesce(outputs('List_active_providers')?['body/value'], json('[]'))",
              "where": "@contains(split(replace(replace(toLower(coalesce(item()?['cr1bd_knownemaildomains'], '')), decodeUriComponent('%0D'), ''), ' ', ''), decodeUriComponent('%0A')), variables('senderDomain'))"
            },
            "comment": "Anchored exact membership: split the newline-separated knownEmailDomains memo (CRLF + spaces stripped, lowercased) into individual domains and test EXACT membership of senderDomain. 'co.uk' is a DISTINCT array element from 'carcompany.co.uk'. No substring/alias matching. Identical expression to provider-match.definition.json Filter_exact_domain; senderDomain is already lowercased upstream; matches the 15-seed-emaildomains.ps1 (-join '\\n', lowercased) storage format.",
            "runAfter": { "List_active_providers": [ "Succeeded" ] }
          },
          "Set_providerMatchState": {
            "type": "SetVariable",
            "inputs": { "name": "providerMatchState", "value": "@if(equals(length(body('Filter_exact_domain')), 1), 'one', if(greater(length(body('Filter_exact_domain')), 1), 'ambiguous', 'none'))" },
            "comment": "PHASE-8: collapse the anchored-match Filter result into the three-state token the classifier + the Create_case branch consume. length==1 -> 'one'; >1 -> 'ambiguous'; 0 -> 'none'.",
            "runAfter": { "Filter_exact_domain": [ "Succeeded" ] }
          },
          "Set_workProviderId": {
            "type": "SetVariable",
            "inputs": { "name": "workProviderId", "value": "@if(equals(length(body('Filter_exact_domain')), 1), first(body('Filter_exact_domain'))?['cr1bd_workproviderid'], '')" },
            "comment": "PHASE-8: capture the single matched provider id (only when providerMatchState='one'); else ''. Bound onto the Case + the triage row; never auto-picked on ambiguity (ADR-0011).",
            "runAfter": { "Set_providerMatchState": [ "Succeeded" ] }
          },
          "Select_attachment_kinds": {
            "type": "Select",
            "inputs": {
              "from": "@coalesce(triggerOutputs()?['body/attachments'], json('[]'))",
              "select": "@if(or(endsWith(toLower(coalesce(item()?['name'], '')),'.jpg'),endsWith(toLower(coalesce(item()?['name'], '')),'.jpeg'),endsWith(toLower(coalesce(item()?['name'], '')),'.png')),'image',if(or(endsWith(toLower(coalesce(item()?['name'], '')),'.pdf'),endsWith(toLower(coalesce(item()?['name'], '')),'.docx'),endsWith(toLower(coalesce(item()?['name'], '')),'.doc')),'instruction',''))"
            },
            "comment": "PHASE-8 pre-triage attachment-kinds hint passed to Run_triage. Coarse instruction-vs-image map over body/attachments[*].name using the SAME extension set as classify-persist's Compose_kind (.jpg/.jpeg/.png -> 'image'; .pdf/.docx/.doc -> 'instruction'; anything else -> '' which the classifier's _IMAGE_KINDS/_INSTRUCTION_KINDS ignore). The AUTHORITATIVE per-attachment cr1bd_kind is still computed in classify-persist inside the receiving_work branch; this is only a coarse hint for the deterministic classifier (R1/R2). Empty array when the email has no attachments (fetchOnlyWithAttachment is now false).",
            "runAfter": { "Set_workProviderId": [ "Succeeded" ] }
          },
          "Run_triage": {
            "type": "Workflow",
            "inputs": {
              "host": { "workflowReferenceName": "CS_TriageClassify" },
              "body": {
                "sourceMessageId": "@variables('messageId')",
                "subject": "@coalesce(triggerOutputs()?['body/subject'], '')",
                "body": "@coalesce(triggerOutputs()?['body/body'], '')",
                "from": "@coalesce(triggerOutputs()?['body/from'], '')",
                "senderDomain": "@variables('senderDomain')",
                "sourceMailbox": "@parameters('IntakeMailbox')",
                "receivedOn": "@coalesce(triggerOutputs()?['body/receivedDateTime'], utcNow())",
                "providerMatchState": "@variables('providerMatchState')",
                "workProviderId": "@variables('workProviderId')",
                "attachmentKinds": "@body('Select_attachment_kinds')",
                "hasAttachments": "@coalesce(triggerOutputs()?['body/hasAttachments'], false)"
              }
            },
            "comment": "PHASE-8 (ADR-0015) STEP 0 — classify EVERY inbound email BEFORE routing. Run-a-Child-Flow -> triage-classify (CS_TriageClassify; host.workflowReferenceName is a PLACEHOLDER rebind in the designer to the imported child GUID, see top comment). The child UPSERTS exactly one cr1bd_inboundemail row keyed on cr1bd_sourcemessageid, calls the deterministic /classify-email op, runs the open-Case lookup (Case/PO first, VRM fallback, NEVER auto-link on ambiguity) and audits inbound_classified(100000024)+inbound_routed(100000025). Returns { category, subtype, confidence, caseId, inboundEmailId, routeOutcome }. The Switch below routes on category. The classifier is PURE so the open-Case lookup lives in the child (mirrors how 'which Case' stays out of /parse).",
            "runAfter": { "Select_attachment_kinds": [ "Succeeded" ] }
          },
          "Switch_on_category": {
            "type": "Switch",
            "expression": "@body('Run_triage')?['category']",
            "comment": "PHASE-8 router. receiving_work -> the existing Case chain (Create_case MOVED here; only this category creates a Case) then write the new Case id back onto the triage row. query / other -> NO Case: the triage child already upserted the cr1bd_inboundemail row, linked any open Case (query_existing_work) and wrote BOTH the inbound_classified + inbound_routed audits, so intake does nothing further (gap-4 LOCKED, IMPLEMENTATION-PLAN §2.5: inbound_query_logged/inbound_other are NOT introduced — they have no choiceset value and the child already audits every category uniformly). default -> treated as other (no-op).",
            "cases": {
              "receiving_work": {
                "case": "receiving_work",
                "actions": {
                  "If_one_provider": {
                    "type": "If",
                    "expression": { "equals": [ "@variables('providerMatchState')", "one" ] },
                    "actions": {
                      "Create_case_matched": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                          "parameters": {
                            "entityName": "cr1bd_cases",
                            "item/cr1bd_name": "@take(coalesce(triggerOutputs()?['body/subject'], concat('Email ', variables('messageId'))), 100)",
                            "item/cr1bd_sourcemessageid": "@variables('messageId')",
                            "item/cr1bd_payloadhash": "@take(variables('payloadHash'), 80)",
                            "item/cr1bd_status": 100000000,
                            "item/cr1bd_intakechannelkind": 100000000,
                            "item/cr1bd_intakechannelmanual": false,
                            "item/cr1bd_sourcemailbox": "@parameters('IntakeMailbox')",
                            "item/cr1bd_Workproviderid@odata.bind": "@concat('cr1bd_workproviders(', variables('workProviderId'), ')')"
                          }
                        },
                        "comment": "receiving_work + exactly one provider matched (anchored exact membership; providerMatchState='one') -> create the Case (new_email) bound to it. @odata.bind uses the navigation-property form cr1bd_Workproviderid (capitalised nav prop) = cr1bd_workproviders(<guid>) with NO leading slash, reconciled with case-resolve.",
                        "runAfter": {}
                      },
                      "Capture_caseId_matched": {
                        "type": "SetVariable",
                        "inputs": { "name": "caseId", "value": "@outputs('Create_case_matched')?['body/cr1bd_caseid']" },
                        "runAfter": { "Create_case_matched": [ "Succeeded" ] }
                      },
                      "Audit_provider_matched": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                          "parameters": {
                            "entityName": "cr1bd_auditevents",
                            "item/cr1bd_name": "@concat('provider_matched: ', variables('senderDomain'))",
                            "item/cr1bd_action": 100000007,
                            "item/cr1bd_actor": "Flow_Intake",
                            "item/cr1bd_severity": 100000000,
                            "item/cr1bd_after": "@concat('domain ', variables('senderDomain'), ' -> provider ', variables('workProviderId'), ' (', coalesce(first(body('Filter_exact_domain'))?['cr1bd_principalcode'], ''), ')')",
                            "item/cr1bd_occurredat": "@utcNow()"
                          }
                        },
                        "runAfter": { "Capture_caseId_matched": [ "Succeeded" ] }
                      }
                    },
                    "else": {
                      "actions": {
                        "Create_case_unassigned": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                            "parameters": {
                              "entityName": "cr1bd_cases",
                              "item/cr1bd_name": "@take(coalesce(triggerOutputs()?['body/subject'], concat('Email ', variables('messageId'))), 100)",
                              "item/cr1bd_sourcemessageid": "@variables('messageId')",
                              "item/cr1bd_payloadhash": "@take(variables('payloadHash'), 80)",
                              "item/cr1bd_status": 100000000,
                              "item/cr1bd_intakechannelkind": 100000000,
                              "item/cr1bd_intakechannelmanual": false,
                              "item/cr1bd_sourcemailbox": "@parameters('IntakeMailbox')"
                            }
                          },
                          "comment": "receiving_work but no single provider match (providerMatchState 'none' or 'ambiguous') -> create the Case (new_email) UNASSIGNED; staff assign the provider in review. ADR-0011: never auto-pick an ambiguous domain.",
                          "runAfter": {}
                        },
                        "Capture_caseId_unassigned": {
                          "type": "SetVariable",
                          "inputs": { "name": "caseId", "value": "@outputs('Create_case_unassigned')?['body/cr1bd_caseid']" },
                          "runAfter": { "Create_case_unassigned": [ "Succeeded" ] }
                        },
                        "Audit_provider_unmatched": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                            "parameters": {
                              "entityName": "cr1bd_auditevents",
                              "item/cr1bd_name": "@concat('provider_unmatched: ', variables('senderDomain'))",
                              "item/cr1bd_action": 100000008,
                              "item/cr1bd_actor": "Flow_Intake",
                              "item/cr1bd_severity": 100000001,
                              "item/cr1bd_after": "@concat('domain ', variables('senderDomain'), ' -> ', variables('providerMatchState'), ' (0 or ambiguous); case unassigned, provider needs_review, never blocks intake')",
                              "item/cr1bd_occurredat": "@utcNow()"
                            }
                          },
                          "runAfter": { "Capture_caseId_unassigned": [ "Succeeded" ] }
                        }
                      }
                    },
                    "comment": "Graceful provider gating: bind only on an unambiguous single anchored match (providerMatchState='one'); otherwise create unassigned. Both branches capture the new Case id into the caseId variable for the downstream chain + the triage write-back.",
                    "runAfter": {}
                  },
                  "Scope_capture_eml": {
                    "type": "Scope",
                    "actions": {
                      "Export_source_email": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": { "connectionName": "shared_office365", "operationId": "ExportEmail_V2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365" },
                          "parameters": { "messageId": "@triggerOutputs()?['body/id']" }
                        },
                        "comment": "Export email (V2) (operationId ExportEmail_V2; the non-V2 ExportEmail is DEPRECATED). messageId = the Graph message id from the V3 trigger (body/id, NOT internetMessageId — CONFIRM the trigger field on apply). Returns the message as binary EML (response: binary, per Learn office365 connector ref). Captured here because OnNewEmailV3 does not surface the source .eml in body/attachments (item attachments unsupported; EML must be zipped to appear).",
                        "runAfter": {}
                      },
                      "Append_eml_to_attachments": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "attachmentsForChild",
                          "value": {
                            "name": "source.eml",
                            "contentType": "message/rfc822",
                            "contentBytes": "@base64(body('Export_source_email'))",
                            "size": "@length(base64(body('Export_source_email')))"
                          }
                        },
                        "comment": "Append one .eml object matching the trigger-attachment shape (name/contentType/contentBytes(base64)/size). contentBytes = base64(binary export) so classify-persist's base64ToBinary(contentBytes) round-trips to the raw EML bytes in Blob; Compose_kind maps '.eml' -> kind email=100000003 (defined in evidence-kind.json). GATED: operator must confirm ExportEmail_V2's real output is raw binary (not already a base64 string) before trusting base64(...); if already base64, drop the base64() wrapper. See the gated runbook.",
                        "runAfter": { "Export_source_email": [ "Succeeded" ] }
                      }
                    },
                    "comment": "Failure-isolated .eml capture (FIX 4). If ExportEmail_V2 fails/timeouts the Scope fails but attachmentsForChild keeps its trigger-seeded value (the real attachments), so intake/classify continue intact. Run_classify_persist runs after this Scope on ALL outcomes.",
                    "runAfter": { "If_one_provider": [ "Succeeded" ] }
                  },
                  "Run_classify_persist": {
                    "type": "Workflow",
                    "inputs": {
                      "host": { "workflowReferenceName": "CS_Classify_Persist" },
                      "body": {
                        "messageId": "@variables('messageId')",
                        "caseId": "@variables('caseId')",
                        "subject": "@coalesce(triggerOutputs()?['body/subject'], '')",
                        "from": "@coalesce(triggerOutputs()?['body/from'], '')",
                        "attachments": "@variables('attachmentsForChild')"
                      }
                    },
                    "comment": "STEP 1 of the chain. Run-a-Child-Flow (built-in Workflow action) -> classify-persist. Passes attachmentsForChild = trigger attachments PLUS the appended source.eml (FIX 4 / task #92), seeded from body/attachments[*].contentBytes (base64, includeAttachments=true) so the child creates Evidence rows + blobs. Returns { payloadHash, instructionBytesB64, instructionName, imageCount }. host.workflowReferenceName is a PLACEHOLDER rebind in the designer to the imported child's GUID (see top comment).",
                    "runAfter": { "Scope_capture_eml": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] }
                  },
                  "Run_parse": {
                    "type": "Workflow",
                    "inputs": {
                      "host": { "workflowReferenceName": "CS_Parse" },
                      "body": {
                        "caseId": "@variables('caseId')",
                        "instructionBytesB64": "@coalesce(body('Run_classify_persist')?['instructionBytesB64'], '')",
                        "instructionName": "@coalesce(body('Run_classify_persist')?['instructionName'], '')",
                        "providerHint": "@coalesce(first(body('Filter_exact_domain'))?['cr1bd_principalcode'], '')"
                      }
                    },
                    "comment": "STEP 2 of the chain. Run-a-Child-Flow -> parse. Hands the instruction PDF bytes/name returned by classify-persist plus the matched principalCode as providerHint. parse reads PDF_MAPPER_ENABLED itself and pre-fills the 12 EVA fields on the Case (staff-review, never auto-final). Runs even with empty bytes (parse no-ops/skips gracefully). Skipped if classify-persist failed so a bad attachment batch does not block status.",
                    "runAfter": { "Run_classify_persist": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] }
                  },
                  "Scope_generate_casepo": {
                    "type": "Scope",
                    "comment": "Case/PO generation (instructions cases). Runs after Run_parse (the parser has written cr1bd_evaworkprovider) and in PARALLEL with Run_status_evaluate so it is OFF the critical path; Case/PO does not affect status. The whole Scope is failure-isolated, so a Case/PO hiccup can never stall a case or break the downstream chain. Format = Principal + 2-digit year + 3-digit zero-padded per-(Principal,year) sequence, e.g. AX26001. The provider's OWN reference stays in cr1bd_caseref (untouched). Skips cleanly when cr1bd_evaworkprovider is empty (image-only / no-provider cases keyed by registration get NO Case/PO). KNOWN small race window: two simultaneous instructions emails for the same (Principal,year) can compute the same seq before either writes -- acceptable at spike volume.",
                    "actions": {
                      "Get_case_for_casepo": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                          "parameters": {
                            "entityName": "cr1bd_cases",
                            "recordId": "@variables('caseId')",
                            "$select": "cr1bd_caseid,cr1bd_casepo,cr1bd_evaworkprovider"
                          }
                        },
                        "comment": "Re-read the just-parsed case so we use the AUTHORITATIVE cr1bd_evaworkprovider (Principal) the parser wrote, and confirm cr1bd_casepo is still empty (idempotent: a re-run never overwrites an existing Case/PO).",
                        "runAfter": {}
                      },
                      "If_needs_casepo": {
                        "type": "If",
                        "expression": {
                          "and": [
                            { "not": { "equals": [ "@trim(coalesce(outputs('Get_case_for_casepo')?['body/cr1bd_evaworkprovider'], ''))", "" ] } },
                            { "equals": [ "@trim(coalesce(outputs('Get_case_for_casepo')?['body/cr1bd_casepo'], ''))", "" ] }
                          ]
                        },
                        "actions": {
                          "List_provider_year_casepos": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                              "parameters": {
                                "entityName": "cr1bd_cases",
                                "$select": "cr1bd_casepo",
                                "$filter": "startswith(cr1bd_casepo,'@{concat(trim(outputs('Get_case_for_casepo')?['body/cr1bd_evaworkprovider']), substring(utcNow(), 2, 2))}')",
                                "$top": 5000
                              }
                            },
                            "comment": "Count existing Case/POs for this (Principal, YY) by startswith prefix. seq = length(body/value)+1. No @odata.count dependency (the Dataverse connector does not reliably surface it); mirrors the flow's existing length(...body/value) idiom.",
                            "runAfter": {}
                          },
                          "Compose_next_casepo": {
                            "type": "Compose",
                            "inputs": "@concat(trim(outputs('Get_case_for_casepo')?['body/cr1bd_evaworkprovider']), substring(utcNow(), 2, 2), substring(concat('00', string(add(length(coalesce(outputs('List_provider_year_casepos')?['body/value'], json('[]'))), 1))), sub(length(concat('00', string(add(length(coalesce(outputs('List_provider_year_casepos')?['body/value'], json('[]'))), 1)))), 3), 3))",
                            "comment": "Principal + 2-digit year (substring(utcNow,2,2)) + 3-digit zero-padded seq. Zero-pad = right-most 3 chars of concat('00', seq) (1->'001' .. 999->'999').",
                            "runAfter": { "List_provider_year_casepos": [ "Succeeded" ] }
                          },
                          "Update_case_casepo": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                              "parameters": {
                                "entityName": "cr1bd_cases",
                                "recordId": "@variables('caseId')",
                                "item/cr1bd_casepo": "@outputs('Compose_next_casepo')"
                              }
                            },
                            "comment": "Write the generated Case/PO as the case reference. cr1bd_caseref (provider's own reference) is intentionally NOT touched.",
                            "runAfter": { "Compose_next_casepo": [ "Succeeded" ] }
                          },
                          "Audit_casepo_assigned": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                              "parameters": {
                                "entityName": "cr1bd_auditevents",
                                "item/cr1bd_name": "@concat('casepo_assigned: ', outputs('Compose_next_casepo'))",
                                "item/cr1bd_action": 100000003,
                                "item/cr1bd_actor": "Flow_Intake",
                                "item/cr1bd_severity": 100000000,
                                "item/cr1bd_after": "@concat('case ', variables('caseId'), ' assigned Case/PO ', outputs('Compose_next_casepo'), ' (principal ', trim(outputs('Get_case_for_casepo')?['body/cr1bd_evaworkprovider']), ', seq from ', string(length(coalesce(outputs('List_provider_year_casepos')?['body/value'], json('[]')))), ' existing)')",
                                "item/cr1bd_occurredat": "@utcNow()"
                              }
                            },
                            "comment": "Audit the Case/PO assignment. Reuses action 100000003 (Case Created) with explicit casepo_assigned semantics in name/after -- SAME precedent as Audit_dropped_before_min_date reusing 100000005 (Duplicate Dropped). runAfter Update Succeeded; an audit hiccup is contained by the enclosing failure-isolated Scope.",
                            "runAfter": { "Update_case_casepo": [ "Succeeded" ] }
                          }
                        },
                        "else": { "actions": {} },
                        "comment": "Generate ONLY for an instructions case (non-empty cr1bd_evaworkprovider) that has no cr1bd_casepo yet. Image-only / no-provider cases skip (empty else).",
                        "runAfter": { "Get_case_for_casepo": [ "Succeeded" ] }
                      }
                    },
                    "runAfter": { "Run_parse": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] }
                  },
                  "Run_status_evaluate": {
                    "type": "Workflow",
                    "inputs": {
                      "host": { "workflowReferenceName": "CS_Status_Evaluate" },
                      "body": {
                        "caseId": "@variables('caseId')"
                      }
                    },
                    "comment": "STEP 3 of the chain. Run-a-Child-Flow -> status-evaluate. Advances the Case through the guard order (new_email -> ingested -> missing_required_fields/missing_images/needs_review -> ready_for_eva) using the INLINE image-rules + 12-field readiness check (no external validation connector). Runs after parse regardless of parse outcome so the status always reflects the current Evidence + fields. (Case/PO generation runs in a parallel failure-isolated Scope after Run_parse and does not gate this.)",
                    "runAfter": { "Run_parse": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] }
                  },
                  "Run_case_resolve": {
                    "type": "Workflow",
                    "inputs": {
                      "host": { "workflowReferenceName": "CS_Case_Resolve" },
                      "body": {
                        "caseId": "@variables('caseId')"
                      }
                    },
                    "comment": "STEP 4 of the chain — LIVE-RECONCILE (G1 / intake-repo-trails-live). Run-a-Child-Flow -> case-resolve (MERGE-BY-REGISTRATION, ADR-0010: a single complementary instructions<->images same-VRM pair auto-merges into the instructions case; >1 -> duplicate_risk/Held; 0 -> no-op). ADDED to this OFFLINE def to reconcile UP to the live CS Intake (verified 2026-06-21 to call Run_case_resolve after parse) so a solution re-import does not regress live wiring. Single { caseId }; non-blocking (runAfter all outcomes). The operator MUST confirm the exact live wiring before any re-import (live is authoritative) — see intake-restructure-notes.md. host.workflowReferenceName CS_Case_Resolve is a PLACEHOLDER rebound in the designer to the imported child GUID.",
                    "runAfter": { "Run_status_evaluate": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] }
                  },
                  "Run_enrich": {
                    "type": "Workflow",
                    "inputs": {
                      "host": { "workflowReferenceName": "CS_Enrich" },
                      "body": {
                        "caseId": "@variables('caseId')"
                      }
                    },
                    "comment": "STEP 5 of the chain — LIVE-RECONCILE (G1 / intake-repo-trails-live). Run-a-Child-Flow -> enrich (DVSA/DVLA direct; reads cr1bd_ENRICHMENT_ENABLED itself; enriches ONLY when the document has no mileage — ADR-0006, the document is authoritative). ADDED to this OFFLINE def to reconcile UP to the live CS Intake (verified 2026-06-21 to call Run_enrich). Single { caseId }; non-blocking. The operator MUST confirm the exact live wiring (presence/order of Run_enrich + Run_case_resolve relative to status-evaluate) against live before any re-import — live is authoritative; see intake-restructure-notes.md. host.workflowReferenceName CS_Enrich is a PLACEHOLDER rebound in the designer to the imported child GUID.",
                    "runAfter": { "Run_case_resolve": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] }
                  },
                  "Update_inbound_case_writeback": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                      "parameters": {
                        "entityName": "cr1bd_inboundemails",
                        "recordId": "@body('Run_triage')?['inboundEmailId']",
                        "item/cr1bd_Caseid@odata.bind": "@if(empty(variables('caseId')), null, concat('cr1bd_cases(', variables('caseId'), ')'))",
                        "item/cr1bd_triagestate": "routed"
                      }
                    },
                    "comment": "PHASE-8 receiving_work write-back: bind the cr1bd_inboundemail triage row (keyed on the inboundEmailId the triage child returned) to the NEW Case the chain just created + mark it 'routed'. Capitalised nav prop cr1bd_Caseid = cr1bd_cases(<id>), no leading slash (same form as triage-classify / classify-persist); null only if the Case create somehow yielded no id. runAfter all chain outcomes so the link is written even if a non-blocking child (case-resolve/enrich) had a transient failure — the Case exists regardless.",
                    "runAfter": { "Run_enrich": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] }
                  }
                }
              },
              "query": {
                "case": "query",
                "actions": {
                  "Note_query_handled_by_triage": {
                    "type": "Compose",
                    "inputs": "@concat('query email ', variables('messageId'), ' fully handled by the triage child (row upserted, open Case linked if query_existing_work, inbound_classified+inbound_routed audited). No Case created. routeOutcome=', coalesce(body('Run_triage')?['routeOutcome'], ''))",
                    "comment": "PHASE-8: query category -> NO Case. The triage child already upserted the cr1bd_inboundemail row, ran the open-Case lookup (set cr1bd_caseid to the matched open Case for query_existing_work, else null), set cr1bd_triagestate, and wrote BOTH inbound_classified + inbound_routed audits (gap-4 LOCKED: no separate inbound_query_logged action — IMPLEMENTATION-PLAN §2.5). This inert Compose documents the no-op route; intake writes nothing further.",
                    "runAfter": {}
                  }
                }
              },
              "other": {
                "case": "other",
                "actions": {
                  "Note_other_handled_by_triage": {
                    "type": "Compose",
                    "inputs": "@concat('other email ', variables('messageId'), ' fully handled by the triage child (row upserted triagestate=new, inbound_classified+inbound_routed audited). No Case created. Sits in the Other tab for a human.')",
                    "comment": "PHASE-8: other category -> NO Case. The triage child already upserted the cr1bd_inboundemail row (cr1bd_triagestate='new' — sits in the Inbox/Triage 'Other' tab for a human) and wrote BOTH audits (gap-4 LOCKED: no separate inbound_other action). This inert Compose documents the no-op route.",
                    "runAfter": {}
                  }
                }
              }
            },
            "default": {
              "actions": {
                "Note_default_treated_as_other": {
                  "type": "Compose",
                  "inputs": "@concat('unrecognised category=', coalesce(body('Run_triage')?['category'], ''), ' for ', variables('messageId'), ' -> treated as other (no Case). Triage child already upserted the row + audited.')",
                  "comment": "PHASE-8: any unexpected category from the child -> treat as other (no Case). The child returns a safe 'other' even on a bad classify, so this is defence-in-depth.",
                  "runAfter": {}
                }
              }
            },
            "runAfter": { "Run_triage": [ "Succeeded" ] }
          }
        }
      },
      "comment": "Message-ID/inbound hit = exact-repeat half of ADR-0010 -> drop. Else branch (PHASE-8 triage-first): anchored exact provider match -> providerMatchState/workProviderId -> Run_triage (classify EVERY email) -> Switch(category). receiving_work owns the single Create here + the downstream child chain (classify-persist -> parse -> status-evaluate -> case-resolve -> enrich) and the triage-row write-back; query/other create NO Case (the child handled them). case-resolve.definition.json + provider-match.definition.json remain standalone returnable children (Response-equipped for ALM/reuse) but case-resolve is now ALSO invoked inline (Run_case_resolve, live-reconcile). LIVE DIVERGENCE (verified 2026-06-21): the live CS Intake calls Run_case_resolve (+ Run_enrich) after parse — this def now reconciles UP to that, but the operator MUST confirm against live before any solution re-import (live is authoritative).",
      "runAfter": { "Find_existing_inbound": [ "Succeeded" ] }
    }
  }
}
