flows/definitions/parse.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_Parse (§5.5). Reads the PDF_MAPPER_ENABLED Dataverse env-var (READ, never DEFINE), branches: enabled -> call the cedocumentmapper_v2 parser connector (ParseDocument) -> write the 12 EVA fields as staff-review pre-fill (never auto-final) + provenance; disabled -> audit skip, leave fields for manual entry. [BUILD] flow; parser Function deploy is [DEPLOY-WITH-LOGIN].",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "caseId": { "type": "string" },
            "instructionBytesB64": { "type": "string" },
            "instructionName": { "type": "string" },
            "providerHint": { "type": "string" }
          }
        }
      }
    }
  },
  "actions": {
    "Init_caseId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "caseId", "type": "string", "value": "@triggerBody()?['caseId']" } ] },
      "runAfter": {}
    },
    "Get_gate_definition": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "environmentvariabledefinitions",
          "$filter": "schemaname eq 'cr1bd_PDF_MAPPER_ENABLED'",
          "$select": "environmentvariabledefinitionid,defaultvalue",
          "$expand": "environmentvariabledefinition_environmentvariablevalue($select=value)",
          "$top": 1
        }
      },
      "comment": "Read the CURRENT value (coalesce value-row override, else definition default). Flows READ gates; never write environmentvariablevalue/definition.",
      "runAfter": { "Init_caseId": [ "Succeeded" ] }
    },
    "Set_gate_PDF_MAPPER_ENABLED": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "gate_PDF_MAPPER_ENABLED", "type": "boolean",
        "value": "@equals(toLower(coalesce(first(first(outputs('Get_gate_definition')?['body/value'])?['environmentvariabledefinition_environmentvariablevalue'])?['value'], first(outputs('Get_gate_definition')?['body/value'])?['defaultvalue'], 'false')), 'true')"
      } ] },
      "comment": "Env-var values are always strings in Dataverse, even Boolean type -> equals(toLower(...),'true'). M1 default true.",
      "runAfter": { "Get_gate_definition": [ "Succeeded" ] }
    },
    "If_parser_enabled": {
      "type": "If",
      "expression": { "equals": [ "@variables('gate_PDF_MAPPER_ENABLED')", true ] },
      "actions": {
        "Call_parser": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_ceparser", "operationId": "ParseDocument",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_ceparser" },
            "parameters": {
              "body/document": "@triggerBody()?['instructionBytesB64']",
              "body/filename": "@triggerBody()?['instructionName']",
              "body/provider_hint": "@triggerBody()?['providerHint']"
            }
          },
          "comment": "body/document is the RAW base64 string (@triggerBody()?['instructionBytesB64']) — NOT @base64ToBinary(...). The connector param is a plain string; base64ToBinary feeds the gateway BINARY -> it 400s (proven 2026-06-20: test34 -> 400 -> Exceptions; the SAME doc posts 200 directly to /api/parse). The gateway double-encodes the raw string and the parser's TOLERANT _decode_document peels the redundant layer. See memory powerplatform-connector-base64-double-encode. ParseDocument returns { extraction:{12 EVA fields}, vrm, reference, issues, contract_version }. vrm/reference are Case-identity fields, NOT EVA payload fields.",
          "runAfter": {}
        },
        "Prefill_eva_fields": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_cases",
              "recordId": "@variables('caseId')",
              "item/cr1bd_vrm": "@body('Call_parser')?['vrm/value']",
              "item/cr1bd_caseref": "@body('Call_parser')?['reference/value']",
              "item/cr1bd_evaworkprovider": "@body('Call_parser')?['extraction/work_provider/value']",
              "item/cr1bd_evavehiclemodel": "@body('Call_parser')?['extraction/vehicle_model/value']",
              "item/cr1bd_evaclaimantname": "@body('Call_parser')?['extraction/claimant_name/value']",
              "item/cr1bd_evaclaimanttelephone": "@body('Call_parser')?['extraction/claimant_telephone/value']",
              "item/cr1bd_evaclaimantemail": "@body('Call_parser')?['extraction/claimant_email/value']",
              "item/cr1bd_evadateofloss": "@body('Call_parser')?['extraction/date_of_loss/value']",
              "item/cr1bd_evadateofinstruction": "@body('Call_parser')?['extraction/date_of_instruction/value']",
              "item/cr1bd_evaaccidentcircumstances": "@body('Call_parser')?['extraction/accident_circumstances/value']",
              "item/cr1bd_evainspectionaddress": "@if(and(empty(coalesce(body('Call_parser')?['extraction/inspection_address/value'], '')), equals(toUpper(coalesce(body('Call_parser')?['extraction/work_provider/value'], '')), 'AX')), 'Image Based Assessment', body('Call_parser')?['extraction/inspection_address/value'])",
              "item/cr1bd_evavatstatus": "@body('Call_parser')?['extraction/vat_status/value']",
              "item/cr1bd_evamileage": "@body('Call_parser')?['extraction/mileage/value']",
              "item/cr1bd_evamileageunit": "@body('Call_parser')?['extraction/mileage_unit/value']"
            }
          },
          "comment": "12 EVA fields written as pre-fill for staff review (never auto-final). The mileage FieldLevelProvenance row (sourceType=pdf_extraction, reviewState=needs_review, sourceLabel='From instructions') is written by Write_mileage_provenance below — the marker the documentation-first source-priority logic relies on. (S1: mileage is the first provenance field this flow writes; the other 11 fields get their rows when the per-field provenance writer is generalised. ADR-0006 logic already lives in enrich.definition.json's Set_documentHasMileage.) Re-parse overwrites only pdf_extraction-sourced fields still in needs_review.",
          "runAfter": { "Call_parser": [ "Succeeded" ] }
        },
        "Write_mileage_provenance": {
          "type": "If",
          "expression": { "not": { "equals": [ "@coalesce(string(body('Call_parser')?['extraction/mileage/value']), '')", "" ] } },
          "comment": "MARKER WRITER (S1): when the parser extracted a mileage, write a FieldLevelProvenance row stamping the documented/instructions source. cr1bd_fieldname uses the camelCase EVA key 'mileage' (the EVA_FIELD_ORDER key the adapter joins on), NOT the Case column cr1bd_evamileage. This is the row that makes the 'From instructions' provenance badge appear and proves document mileage won (enrich.definition.json fills the DVSA estimate ONLY when this never ran). Mirrors the Audit_parser_called CreateRecord idiom (same connection/host); Case lookup via cr1bd_Caseid@odata.bind.",
          "actions": {
            "Create_mileage_provenance": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": {
                  "entityName": "cr1bd_fieldlevelprovenances",
                  "item/cr1bd_name": "@concat('mileage @ ', variables('caseId'))",
                  "item/cr1bd_fieldname": "mileage",
                  "item/cr1bd_sourcetype": 100000001,
                  "item/cr1bd_sourcelabel": "From instructions",
                  "item/cr1bd_value": "@string(body('Call_parser')?['extraction/mileage/value'])",
                  "item/cr1bd_reviewstate": 100000001,
                  "item/cr1bd_Caseid@odata.bind": "@concat('cr1bd_cases(', variables('caseId'), ')')"
                }
              },
              "comment": "cr1bd_sourcetype=100000001 (pdf_extraction, per dataverse/choicesets/field-provenance-source-type.json); cr1bd_reviewstate=100000001 (needs_review, per dataverse/choicesets/review-state.json). Both READ from the real artifacts, not guessed.",
              "runAfter": {}
            }
          },
          "runAfter": { "Prefill_eva_fields": [ "Succeeded" ] }
        },
        "Audit_parser_called": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_auditevents",
              "item/cr1bd_name": "@concat('parser_called: ', variables('caseId'))",
              "item/cr1bd_action": 100000009,
              "item/cr1bd_severity": 100000000,
              "item/cr1bd_actor": "Flow_Parse",
              "item/cr1bd_after": "@concat('parsed; contract_version=', coalesce(body('Call_parser')?['contract_version'], 'unknown'))",
              "item/cr1bd_occurredat": "@utcNow()"
            }
          },
          "runAfter": { "Write_mileage_provenance": [ "Succeeded", "Skipped" ] }
        }
      },
      "else": {
        "actions": {
          "Skip_parser_audit": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
              "parameters": {
                "entityName": "cr1bd_auditevents",
                "item/cr1bd_name": "@concat('parser_called (skipped): ', variables('caseId'))",
                "item/cr1bd_action": 100000009,
                "item/cr1bd_severity": 100000000,
                "item/cr1bd_actor": "Flow_Parse",
                "item/cr1bd_after": "skipped: PDF_MAPPER_ENABLED=false - 12 fields left for manual entry",
                "item/cr1bd_occurredat": "@utcNow()"
              }
            },
            "runAfter": {}
          }
        }
      },
      "runAfter": { "Set_gate_PDF_MAPPER_ENABLED": [ "Succeeded" ] }
    },
    "Audit_parser_failed": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_auditevents",
          "item/cr1bd_name": "@concat('parser_failed: ', variables('caseId'))",
          "item/cr1bd_action": 100000010,
          "item/cr1bd_severity": 100000002,
          "item/cr1bd_actor": "Flow_Parse",
          "item/cr1bd_after": "@concat('parser failed: ', string(coalesce(outputs('Call_parser')?['statusCode'], 'unknown')), ' (', coalesce(body('Call_parser')?['message'], 'no details'), ') - left at needs_review; see run history')",
          "item/cr1bd_occurredat": "@utcNow()"
        }
      },
      "comment": "On Function 5xx/timeout the parser branch fails; audit parser_failed and continue (enrichment/status downstream handle needs_review).",
      "runAfter": { "If_parser_enabled": [ "Failed", "TimedOut" ] }
    },
    "Respond_to_parent": {
      "type": "Response",
      "kind": "Http",
      "inputs": {
        "statusCode": 200,
        "body": {
          "caseId": "@variables('caseId')",
          "parsed": "@and(variables('gate_PDF_MAPPER_ENABLED'), equals(coalesce(outputs('Call_parser')?['statusCode'], 0), 200))",
          "instructionBytesB64": "@coalesce(triggerBody()?['instructionBytesB64'], '')",
          "instructionName": "@coalesce(triggerBody()?['instructionName'], '')",
          "contractVersion": "@coalesce(body('Call_parser')?['contract_version'], '')"
        }
      },
      "comment": "Child-flow return action (required to be callable via Run-a-Child-Flow; mirrors classify-persist's Respond_to_parent / 'Respond to a PowerApp or flow'). Echoes the instruction bytes+name the parent passed in plus a parsed flag and the parser contract_version. runAfter the gate branch on ALL outcomes (Succeeded/Skipped = ran or gate off; Failed/TimedOut absorbed by Audit_parser_failed) so the child ALWAYS returns to the parent even when the parser Function 5xxs. outputs('Call_parser') is null-safe (coalesce -> 0) when the parser branch was skipped (gate off) so parsed=false there.",
      "runAfter": {
        "If_parser_enabled": [ "Succeeded", "Failed", "Skipped", "TimedOut" ],
        "Audit_parser_failed": [ "Succeeded", "Skipped" ]
      }
    }
  }
}
