flows/definitions/parse.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_Parse (§5.5). Reads the PDF_MAPPER_ENABLED Dataverse env-var (READ, never DEFINE), branches: enabled -> call the cedocumentmapper_v2 parser connector (ParseDocument) -> write the 12 EVA fields as staff-review pre-fill (never auto-final) + provenance; disabled -> audit skip, leave fields for manual entry. Phase-5 OCR fallback (ADDITIVE, GATED on cr1bd_OCR_SCANNED_PDF_ENABLED, default OFF): after the text parse, when the extraction came back ~empty (image-only/scanned PDF) AND the OCR gate reads true, call OcrPdf via the cr1bd_ocr connector and coalesce the OCR extraction OVER the (empty) text parse before prefill. Gate-off / non-empty parse leaves the original path byte-for-byte unchanged. [BUILD] flow; parser + OCR host Function deploys are [DEPLOY-WITH-LOGIN]; flipping the OCR gate is [RESERVED-FOR-USER].",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "caseId": { "type": "string" },
            "instructionBytesB64": { "type": "string" },
            "instructionName": { "type": "string" },
            "providerHint": { "type": "string" }
          }
        }
      }
    }
  },
  "actions": {
    "Init_caseId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "caseId", "type": "string", "value": "@triggerBody()?['caseId']" } ] },
      "runAfter": {}
    },
    "Get_gate_definition": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "environmentvariabledefinitions",
          "$filter": "schemaname eq 'cr1bd_PDF_MAPPER_ENABLED'",
          "$select": "environmentvariabledefinitionid,defaultvalue",
          "$expand": "environmentvariabledefinition_environmentvariablevalue($select=value)",
          "$top": 1
        }
      },
      "comment": "Read the CURRENT value (coalesce value-row override, else definition default). Flows READ gates; never write environmentvariablevalue/definition.",
      "runAfter": { "Init_caseId": [ "Succeeded" ] }
    },
    "Set_gate_PDF_MAPPER_ENABLED": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "gate_PDF_MAPPER_ENABLED", "type": "boolean",
        "value": "@equals(toLower(coalesce(first(first(outputs('Get_gate_definition')?['body/value'])?['environmentvariabledefinition_environmentvariablevalue'])?['value'], first(outputs('Get_gate_definition')?['body/value'])?['defaultvalue'], 'false')), 'true')"
      } ] },
      "comment": "Env-var values are always strings in Dataverse, even Boolean type -> equals(toLower(...),'true'). M1 default true.",
      "runAfter": { "Get_gate_definition": [ "Succeeded" ] }
    },
    "Get_ocr_gate_definition": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "environmentvariabledefinitions",
          "$filter": "schemaname eq 'cr1bd_OCR_SCANNED_PDF_ENABLED'",
          "$select": "environmentvariabledefinitionid,defaultvalue",
          "$expand": "environmentvariabledefinition_environmentvariablevalue($select=value)",
          "$top": 1
        }
      },
      "comment": "Phase-5 OCR fallback gate read (READ, never DEFINE; same idiom as Get_gate_definition). Coalesces the value-row override over the definition default; default 'false' so the fallback is dark until the operator flips it.",
      "runAfter": { "Set_gate_PDF_MAPPER_ENABLED": [ "Succeeded" ] }
    },
    "Set_gate_OCR_SCANNED_PDF_ENABLED": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "gate_OCR_SCANNED_PDF_ENABLED", "type": "boolean",
        "value": "@equals(toLower(coalesce(first(first(outputs('Get_ocr_gate_definition')?['body/value'])?['environmentvariabledefinition_environmentvariablevalue'])?['value'], first(outputs('Get_ocr_gate_definition')?['body/value'])?['defaultvalue'], 'false')), 'true')"
      } ] },
      "comment": "Env-var values are always strings in Dataverse, even Boolean type -> equals(toLower(...),'true'). Phase-5 default false (the OCR fallback ships dark).",
      "runAfter": { "Get_ocr_gate_definition": [ "Succeeded" ] }
    },
    "If_parser_enabled": {
      "type": "If",
      "expression": { "equals": [ "@variables('gate_PDF_MAPPER_ENABLED')", true ] },
      "actions": {
        "Call_parser": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_ceparser", "operationId": "ParseDocument",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_ceparser" },
            "parameters": {
              "body/document": "@triggerBody()?['instructionBytesB64']",
              "body/filename": "@triggerBody()?['instructionName']",
              "body/provider_hint": "@triggerBody()?['providerHint']"
            }
          },
          "comment": "body/document is the RAW base64 string (@triggerBody()?['instructionBytesB64']) — NOT @base64ToBinary(...). The connector param is a plain string; base64ToBinary feeds the gateway BINARY -> it 400s (proven 2026-06-20: test34 -> 400 -> Exceptions; the SAME doc posts 200 directly to /api/parse). The gateway double-encodes the raw string and the parser's TOLERANT _decode_document peels the redundant layer. See memory powerplatform-connector-base64-double-encode. ParseDocument returns { extraction:{12 EVA fields}, vrm, reference, issues, contract_version }. vrm/reference are Case-identity fields, NOT EVA payload fields.",
          "runAfter": {}
        },
        "If_extraction_empty_and_ocr_enabled": {
          "type": "If",
          "expression": {
            "and": [
              { "equals": [ "@variables('gate_OCR_SCANNED_PDF_ENABLED')", true ] },
              { "and": [
                { "equals": [ "@empty(coalesce(body('Call_parser')?['vrm/value'], ''))", true ] },
                { "and": [
                  { "equals": [ "@empty(coalesce(body('Call_parser')?['reference/value'], ''))", true ] },
                  { "and": [
                    { "equals": [ "@empty(coalesce(body('Call_parser')?['extraction/work_provider/value'], ''))", true ] },
                    { "and": [
                      { "equals": [ "@empty(coalesce(body('Call_parser')?['extraction/vehicle_model/value'], ''))", true ] },
                      { "equals": [ "@empty(coalesce(body('Call_parser')?['extraction/claimant_name/value'], ''))", true ] }
                    ] }
                  ] }
                ] }
              ] }
            ]
          },
          "comment": "Phase-5 OCR fallback (ADDITIVE, GATED). Fires ONLY when the first text-based parse came back ~empty (no vrm/reference and none of the lead extraction fields work_provider/vehicle_model/claimant_name) AND cr1bd_OCR_SCANNED_PDF_ENABLED reads true — the image-only/scanned-PDF case. Calls OcrPdf via cr1bd_ocr (the OCR host re-runs OCR then the same engine extraction) and Prefill_eva_fields below coalesces the OCR result OVER the (empty) text parse, so a text-rich doc is untouched and the gate-off path is identical to before. Empty extraction + gate-off (or a non-empty text parse) -> this If is skipped and Prefill_eva_fields uses the text parse exactly as today.",
          "actions": {
            "Call_OcrPdf": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_ocr", "operationId": "OcrPdf",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_ocr" },
                "parameters": {
                  "body/document": "@triggerBody()?['instructionBytesB64']",
                  "body/filename": "@triggerBody()?['instructionName']",
                  "body/provider_hint": "@triggerBody()?['providerHint']"
                }
              },
              "comment": "body/document is the RAW base64 string (NOT @base64ToBinary) — same Power Platform gateway double-encode landmine as the parser; the OCR host's tolerant decode peels the redundant layer (memory powerplatform-connector-base64-double-encode). OcrPdf returns the SAME shape as ParseDocument { extraction:{12 EVA fields}, vrm, reference, ocr_text, ocr_provider, issues, contract_version } so the prefill pointer paths are identical. Invoked ONLY as the empty-extraction fallback (gated upstream).",
              "runAfter": {}
            }
          },
          "runAfter": { "Call_parser": [ "Succeeded" ] }
        },
        "Prefill_eva_fields": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_cases",
              "recordId": "@variables('caseId')",
              "item/cr1bd_vrm": "@coalesce(body('Call_OcrPdf')?['vrm/value'], body('Call_parser')?['vrm/value'])",
              "item/cr1bd_caseref": "@coalesce(body('Call_OcrPdf')?['reference/value'], body('Call_parser')?['reference/value'])",
              "item/cr1bd_evaworkprovider": "@coalesce(body('Call_OcrPdf')?['extraction/work_provider/value'], body('Call_parser')?['extraction/work_provider/value'])",
              "item/cr1bd_evavehiclemodel": "@coalesce(body('Call_OcrPdf')?['extraction/vehicle_model/value'], body('Call_parser')?['extraction/vehicle_model/value'])",
              "item/cr1bd_evaclaimantname": "@coalesce(body('Call_OcrPdf')?['extraction/claimant_name/value'], body('Call_parser')?['extraction/claimant_name/value'])",
              "item/cr1bd_evaclaimanttelephone": "@coalesce(body('Call_OcrPdf')?['extraction/claimant_telephone/value'], body('Call_parser')?['extraction/claimant_telephone/value'])",
              "item/cr1bd_evaclaimantemail": "@coalesce(body('Call_OcrPdf')?['extraction/claimant_email/value'], body('Call_parser')?['extraction/claimant_email/value'])",
              "item/cr1bd_evadateofloss": "@coalesce(body('Call_OcrPdf')?['extraction/date_of_loss/value'], body('Call_parser')?['extraction/date_of_loss/value'])",
              "item/cr1bd_evadateofinstruction": "@coalesce(body('Call_OcrPdf')?['extraction/date_of_instruction/value'], body('Call_parser')?['extraction/date_of_instruction/value'])",
              "item/cr1bd_evaaccidentcircumstances": "@coalesce(body('Call_OcrPdf')?['extraction/accident_circumstances/value'], body('Call_parser')?['extraction/accident_circumstances/value'])",
              "item/cr1bd_evainspectionaddress": "@if(and(empty(coalesce(body('Call_OcrPdf')?['extraction/inspection_address/value'], body('Call_parser')?['extraction/inspection_address/value'], '')), equals(toUpper(coalesce(body('Call_OcrPdf')?['extraction/work_provider/value'], body('Call_parser')?['extraction/work_provider/value'], '')), 'AX')), 'Image Based Assessment', coalesce(body('Call_OcrPdf')?['extraction/inspection_address/value'], body('Call_parser')?['extraction/inspection_address/value']))",
              "item/cr1bd_evavatstatus": "@coalesce(body('Call_OcrPdf')?['extraction/vat_status/value'], body('Call_parser')?['extraction/vat_status/value'])",
              "item/cr1bd_evamileage": "@coalesce(body('Call_OcrPdf')?['extraction/mileage/value'], body('Call_parser')?['extraction/mileage/value'])",
              "item/cr1bd_evamileageunit": "@coalesce(body('Call_OcrPdf')?['extraction/mileage_unit/value'], body('Call_parser')?['extraction/mileage_unit/value'])"
            }
          },
          "comment": "12 EVA fields written as pre-fill for staff review (never auto-final). Each value coalesces the OCR-fallback result (body('Call_OcrPdf')) OVER the text parse (body('Call_parser')) — when the OCR If was Skipped (gate off, or the text parse was non-empty) body('Call_OcrPdf') is null and the coalesce falls back to the text parse exactly as before, so the original path is unchanged. The mileage FieldLevelProvenance row (sourceType=pdf_extraction, reviewState=needs_review, sourceLabel='From instructions') is written by Write_mileage_provenance below — the marker the documentation-first source-priority logic relies on. (S1: mileage is the first provenance field this flow writes; the other 11 fields get their rows when the per-field provenance writer is generalised. ADR-0006 logic already lives in enrich.definition.json's Set_documentHasMileage.) Re-parse overwrites only pdf_extraction-sourced fields still in needs_review. runAfter the OCR If on Succeeded+Skipped so the prefill always runs whether or not the fallback fired.",
          "runAfter": { "If_extraction_empty_and_ocr_enabled": [ "Succeeded", "Skipped" ] }
        },
        "Write_mileage_provenance": {
          "type": "If",
          "expression": { "not": { "equals": [ "@coalesce(string(body('Call_OcrPdf')?['extraction/mileage/value']), string(body('Call_parser')?['extraction/mileage/value']), '')", "" ] } },
          "comment": "MARKER WRITER (S1): when the parser extracted a mileage, write a FieldLevelProvenance row stamping the documented/instructions source. cr1bd_fieldname uses the camelCase EVA key 'mileage' (the EVA_FIELD_ORDER key the adapter joins on), NOT the Case column cr1bd_evamileage. This is the row that makes the 'From instructions' provenance badge appear and proves document mileage won (enrich.definition.json fills the DVSA estimate ONLY when this never ran). Mirrors the Audit_parser_called CreateRecord idiom (same connection/host); Case lookup via cr1bd_Caseid@odata.bind.",
          "actions": {
            "Create_mileage_provenance": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": {
                  "entityName": "cr1bd_fieldlevelprovenances",
                  "item/cr1bd_name": "@concat('mileage @ ', variables('caseId'))",
                  "item/cr1bd_fieldname": "mileage",
                  "item/cr1bd_sourcetype": 100000001,
                  "item/cr1bd_sourcelabel": "From instructions",
                  "item/cr1bd_value": "@coalesce(string(body('Call_OcrPdf')?['extraction/mileage/value']), string(body('Call_parser')?['extraction/mileage/value']))",
                  "item/cr1bd_reviewstate": 100000001,
                  "item/cr1bd_Caseid@odata.bind": "@concat('cr1bd_cases(', variables('caseId'), ')')"
                }
              },
              "comment": "cr1bd_sourcetype=100000001 (pdf_extraction, per dataverse/choicesets/field-provenance-source-type.json); cr1bd_reviewstate=100000001 (needs_review, per dataverse/choicesets/review-state.json). Both READ from the real artifacts, not guessed.",
              "runAfter": {}
            }
          },
          "runAfter": { "Prefill_eva_fields": [ "Succeeded" ] }
        },
        "Audit_parser_called": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_auditevents",
              "item/cr1bd_name": "@concat('parser_called: ', variables('caseId'))",
              "item/cr1bd_action": 100000009,
              "item/cr1bd_severity": 100000000,
              "item/cr1bd_actor": "Flow_Parse",
              "item/cr1bd_after": "@concat('parsed; contract_version=', coalesce(body('Call_OcrPdf')?['contract_version'], body('Call_parser')?['contract_version'], 'unknown'), if(equals(coalesce(outputs('Call_OcrPdf')?['statusCode'], 0), 200), concat('; OCR fallback used (', coalesce(body('Call_OcrPdf')?['ocr_provider'], 'unknown'), ')'), ''))",
              "item/cr1bd_occurredat": "@utcNow()"
            }
          },
          "comment": "Records the parse. When the empty-extraction OCR fallback fired (Call_OcrPdf returned 200) the after-text notes the OCR engine that ran; outputs('Call_OcrPdf') is null-safe (coalesce -> 0) when the fallback was skipped.",
          "runAfter": { "Write_mileage_provenance": [ "Succeeded", "Skipped" ] }
        }
      },
      "else": {
        "actions": {
          "Skip_parser_audit": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
              "parameters": {
                "entityName": "cr1bd_auditevents",
                "item/cr1bd_name": "@concat('parser_called (skipped): ', variables('caseId'))",
                "item/cr1bd_action": 100000009,
                "item/cr1bd_severity": 100000000,
                "item/cr1bd_actor": "Flow_Parse",
                "item/cr1bd_after": "skipped: PDF_MAPPER_ENABLED=false - 12 fields left for manual entry",
                "item/cr1bd_occurredat": "@utcNow()"
              }
            },
            "runAfter": {}
          }
        }
      },
      "runAfter": { "Set_gate_OCR_SCANNED_PDF_ENABLED": [ "Succeeded" ] }
    },
    "Audit_parser_failed": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_auditevents",
          "item/cr1bd_name": "@concat('parser_failed: ', variables('caseId'))",
          "item/cr1bd_action": 100000010,
          "item/cr1bd_severity": 100000002,
          "item/cr1bd_actor": "Flow_Parse",
          "item/cr1bd_after": "@concat('parser failed: ', string(coalesce(outputs('Call_parser')?['statusCode'], 'unknown')), ' (', coalesce(body('Call_parser')?['message'], 'no details'), ') - left at needs_review; see run history')",
          "item/cr1bd_occurredat": "@utcNow()"
        }
      },
      "comment": "On Function 5xx/timeout the parser branch fails; audit parser_failed and continue (enrichment/status downstream handle needs_review).",
      "runAfter": { "If_parser_enabled": [ "Failed", "TimedOut" ] }
    },
    "Respond_to_parent": {
      "type": "Response",
      "kind": "Http",
      "inputs": {
        "statusCode": 200,
        "body": {
          "caseId": "@variables('caseId')",
          "parsed": "@and(variables('gate_PDF_MAPPER_ENABLED'), or(equals(coalesce(outputs('Call_parser')?['statusCode'], 0), 200), equals(coalesce(outputs('Call_OcrPdf')?['statusCode'], 0), 200)))",
          "ocrFallbackUsed": "@equals(coalesce(outputs('Call_OcrPdf')?['statusCode'], 0), 200)",
          "instructionBytesB64": "@coalesce(triggerBody()?['instructionBytesB64'], '')",
          "instructionName": "@coalesce(triggerBody()?['instructionName'], '')",
          "contractVersion": "@coalesce(body('Call_OcrPdf')?['contract_version'], body('Call_parser')?['contract_version'], '')"
        }
      },
      "comment": "Child-flow return action (required to be callable via Run-a-Child-Flow; mirrors classify-persist's Respond_to_parent / 'Respond to a PowerApp or flow'). Echoes the instruction bytes+name the parent passed in plus a parsed flag and the parser contract_version. parsed is true when the gate is on AND either the text parse OR the OCR fallback returned 200; ocrFallbackUsed reports whether the empty-extraction OCR fallback ran. runAfter the gate branch on ALL outcomes (Succeeded/Skipped = ran or gate off; Failed/TimedOut absorbed by Audit_parser_failed) so the child ALWAYS returns to the parent even when the parser Function 5xxs. outputs('Call_parser')/outputs('Call_OcrPdf') are null-safe (coalesce -> 0) when the respective branch was skipped (gate off / fallback not taken).",
      "runAfter": {
        "If_parser_enabled": [ "Succeeded", "Failed", "Skipped", "TimedOut" ],
        "Audit_parser_failed": [ "Succeeded", "Skipped" ]
      }
    }
  }
}
