flows/definitions/provider-match.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_ProviderMatch (§5.8) — standalone returnable CHILD. Sender email-domain -> WorkProvider.knownEmailDomains. NO alias matching. Ambiguous (domain -> >1 active provider) -> never auto-pick (unsafe Case/PO) -> NONE/AMBIGUOUS. RETURN-NOT-BIND FIX (task plan §3.4): this flow now RETURNS { matchState, workProviderId, principalCode, displayName } via a Response action instead of UpdateRecord-ing a Case — under the orchestrated design the Case may not exist yet, and the caller (case-resolve, or intake) creates the Case already bound to the returned provider. The anchored exact-membership logic (Filter_exact_domain over the newline-split memo) is the CANONICAL match and is mirrored verbatim inside intake.definition.json (intake's own inline match is authoritative on the hot path; this flow is kept for ALM/reuse + the image-first re-dedup path). NOTE: intake currently does the match inline and does NOT call this child, so it is orphaned-by-design until a future wiring routes the match through here. [BUILD].",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "comment": "Child flow (Manually trigger a flow). Supplies the sender address; returns the provider match for the caller to bind on create. caseId is optional/ignored (kept for back-compat) — this flow no longer writes to a Case.",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "caseId": { "type": "string" },
            "senderAddress": { "type": "string" }
          }
        }
      }
    }
  },
  "actions": {
    "Init_senderDomain": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ {
        "name": "senderDomain", "type": "string",
        "value": "@toLower(trim(last(split(coalesce(triggerBody()?['senderAddress'], ''), '@'))))"
      } ] },
      "comment": "Domain after @ only. No alias matching.",
      "runAfter": {}
    },
    "Init_matchState": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "matchState", "type": "string", "value": "NONE" } ] },
      "runAfter": { "Init_senderDomain": [ "Succeeded" ] }
    },
    "Init_matchedProviderId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "matchedProviderId", "type": "string", "value": "" } ] },
      "runAfter": { "Init_matchState": [ "Succeeded" ] }
    },
    "Init_matchedPrincipalCode": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "matchedPrincipalCode", "type": "string", "value": "" } ] },
      "runAfter": { "Init_matchedProviderId": [ "Succeeded" ] }
    },
    "Init_matchedDisplayName": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "matchedDisplayName", "type": "string", "value": "" } ] },
      "runAfter": { "Init_matchedPrincipalCode": [ "Succeeded" ] }
    },
    "List_active_providers": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_workproviders",
          "$filter": "cr1bd_active eq true and cr1bd_knownemaildomains ne null",
          "$select": "cr1bd_workproviderid,cr1bd_displayname,cr1bd_principalcode,cr1bd_providerautomationmode,cr1bd_knownemaildomains,cr1bd_active"
        }
      },
      "comment": "ALL active providers that have any domains. EXACT domain membership is applied in-flow next. OData contains() over a Memo is an UNANCHORED substring test and would false-match (e.g. sender 'co.uk' inside a provider's 'carcompany.co.uk'), minting an unsafe Case/PO. Mirrors domain provider-match.ts (exact, case-insensitive, no alias).",
      "runAfter": { "Init_matchedDisplayName": [ "Succeeded" ] }
    },
    "Filter_exact_domain": {
      "type": "Query",
      "inputs": {
        "from": "@coalesce(outputs('List_active_providers')?['body/value'], json('[]'))",
        "where": "@contains(split(replace(replace(toLower(coalesce(item()?['cr1bd_knownemaildomains'], '')), decodeUriComponent('%0D'), ''), ' ', ''), decodeUriComponent('%0A')), variables('senderDomain'))"
      },
      "comment": "Anchored exact membership: split the newline-separated knownEmailDomains memo (CRLF + spaces stripped, lowercased) into individual domains and test EXACT membership of the sender domain. No substring/alias matching -- 'co.uk' is a distinct array element from 'carcompany.co.uk'. Corpus import (§5.7) stores one lowercased domain per line.",
      "runAfter": { "List_active_providers": [ "Succeeded" ] }
    },
    "Switch_match_count": {
      "type": "Switch",
      "expression": "@if(equals(length(body('Filter_exact_domain')), 1), 'ONE', if(greater(length(body('Filter_exact_domain')), 1), 'AMBIGUOUS', 'NONE'))",
      "cases": {
        "Case_ONE": {
          "case": "ONE",
          "actions": {
            "Set_match_one": {
              "type": "SetVariable",
              "inputs": { "name": "matchState", "value": "ONE" },
              "runAfter": {}
            },
            "Set_matchedProviderId": {
              "type": "SetVariable",
              "inputs": { "name": "matchedProviderId", "value": "@first(body('Filter_exact_domain'))?['cr1bd_workproviderid']" },
              "runAfter": { "Set_match_one": [ "Succeeded" ] }
            },
            "Set_matchedPrincipalCode": {
              "type": "SetVariable",
              "inputs": { "name": "matchedPrincipalCode", "value": "@coalesce(first(body('Filter_exact_domain'))?['cr1bd_principalcode'], '')" },
              "runAfter": { "Set_matchedProviderId": [ "Succeeded" ] }
            },
            "Set_matchedDisplayName": {
              "type": "SetVariable",
              "inputs": { "name": "matchedDisplayName", "value": "@coalesce(first(body('Filter_exact_domain'))?['cr1bd_displayname'], '')" },
              "runAfter": { "Set_matchedPrincipalCode": [ "Succeeded" ] }
            },
            "Audit_provider_matched": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": {
                  "entityName": "cr1bd_auditevents",
                  "item/cr1bd_name": "@concat('provider_matched: ', variables('senderDomain'))",
                  "item/cr1bd_action": 100000007,
                  "item/cr1bd_severity": 100000000,
                  "item/cr1bd_actor": "Flow_ProviderMatch",
                  "item/cr1bd_after": "@concat('domain ', variables('senderDomain'), ' -> ', variables('matchedDisplayName'), ' (returned for bind-on-create)')",
                  "item/cr1bd_occurredat": "@utcNow()"
                }
              },
              "comment": "Exactly one active provider for the domain -> RETURN it (no Case write). principalCode + Case/PO generation become safe on the caller's create.",
              "runAfter": { "Set_matchedDisplayName": [ "Succeeded" ] }
            }
          }
        },
        "Case_AMBIGUOUS": {
          "case": "AMBIGUOUS",
          "actions": {
            "Set_match_ambiguous": {
              "type": "SetVariable",
              "inputs": { "name": "matchState", "value": "AMBIGUOUS" },
              "runAfter": {}
            },
            "Audit_provider_ambiguous": {
              "type": "OpenApiConnection",
              "inputs": {
                "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                "parameters": {
                  "entityName": "cr1bd_auditevents",
                  "item/cr1bd_name": "@concat('provider_unmatched (ambiguous): ', variables('senderDomain'))",
                  "item/cr1bd_action": 100000008,
                  "item/cr1bd_severity": 100000001,
                  "item/cr1bd_actor": "Flow_ProviderMatch",
                  "item/cr1bd_after": "@concat('domain ', variables('senderDomain'), ' -> ', string(length(body('Filter_exact_domain'))), ' active providers; never auto-pick -> needs_review (staff assigns)')",
                  "item/cr1bd_occurredat": "@utcNow()"
                }
              },
              "comment": "Ambiguous: do not return any provider (unsafe Case/PO). Caller leaves the Case unassigned -> needs_review.",
              "runAfter": { "Set_match_ambiguous": [ "Succeeded" ] }
            }
          }
        }
      },
      "default": {
        "actions": {
          "Audit_provider_unmatched": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
              "parameters": {
                "entityName": "cr1bd_auditevents",
                "item/cr1bd_name": "@concat('provider_unmatched: ', variables('senderDomain'))",
                "item/cr1bd_action": 100000008,
                "item/cr1bd_severity": 100000001,
                "item/cr1bd_actor": "Flow_ProviderMatch",
                "item/cr1bd_after": "@concat('no active provider for domain ', variables('senderDomain'), ' - case proceeds, provider needs_review, never blocks intake')",
                "item/cr1bd_occurredat": "@utcNow()"
              }
            },
            "comment": "No match -> case proceeds without a provider; staff assigns. Never blocks intake.",
            "runAfter": {}
          }
        }
      },
      "runAfter": { "Filter_exact_domain": [ "Succeeded" ] }
    },
    "Respond_match": {
      "type": "Response",
      "kind": "Http",
      "inputs": {
        "statusCode": 200,
        "body": {
          "matchState": "@variables('matchState')",
          "workProviderId": "@variables('matchedProviderId')",
          "principalCode": "@variables('matchedPrincipalCode')",
          "displayName": "@variables('matchedDisplayName')"
        }
      },
      "comment": "Child-flow return: { matchState (ONE|AMBIGUOUS|NONE), workProviderId, principalCode, displayName }. The caller binds workProviderId on Case create ONLY when matchState=ONE; AMBIGUOUS/NONE -> create unassigned (ADR-0011, never auto-pick).",
      "runAfter": { "Switch_match_count": [ "Succeeded" ] }
    }
  }
}
