flows/definitions/status-evaluate.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_StatusEvaluate (§5.4) — CHILD of intake (Run-a-Child-Flow). Mirrors collisioncc case-status.ts statusForReviewCase (re-implement, never call). Guard order (first hit wins): terminal? -> keep. Else EVIDENCE-AWARE (FIX 3, replaces the old fields-first guard): fields+images -> ready_for_eva | fields, no images -> missing_images (awaiting photos) | images valid + fields missing -> missing_required_fields (genuine 'Images only' — REQUIRES real image evidence) | no accepted images AND no instruction evidence -> needs_review (pending/new, premature-error-safe) | else identifiable -> needs_review, unidentifiable -> error (Exceptions). instructionCount (List_instruction_evidence) + hasIdentity (work_provider/vrm/caseref/claimant) drive the new branches. Idempotent: no write when status unchanged. READINESS (M2.B, task plan §3.6 Path 1 — closes the prior inline simplification): readiness is now computed by the ONE shared evavalidation Function (ValidateCase, functions/evavalidation/, built+deployed) via the cr1bd_evavalidation connector — body-in { case, evidence } from this flow's already-fetched Get_case + List_case_evidence rows; the Function returns { fieldsValid, imagesValid, openIssues[] }. This makes Function = flow = Code App computeReadiness() one implementation (the Code App has a committed parity test against the same Function), replacing the five inline Filter/Set actions that re-derived image-rules.ts + the 7 required-field check. fieldsValid = the 7 required EVA fields non-empty; imagesValid = the canonical image rule (>=2 accepted images incl >=1 overview with registrationVisible + >=1 damage_closeup). openIssues is returned but not yet consumed here (the needs_review-on-open-issue branch is reachable only when a per-field provenance read is wired). [BUILD].",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "comment": "Invoked after any case mutation (intake chain, parser return, enrichment return, staff edit, image tagging, finalize). Children MUST use 'Manually trigger a flow' (Request).",
      "inputs": { "schema": { "type": "object", "properties": { "caseId": { "type": "string" } } } }
    }
  },
  "actions": {
    "Init_caseId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "caseId", "type": "string", "value": "@triggerBody()?['caseId']" } ] },
      "runAfter": {}
    },
    "Get_case": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "GetItem",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": { "entityName": "cr1bd_cases", "recordId": "@variables('caseId')" }
      },
      "comment": "Read the Case (single row by id) — current status + the 12 EVA fields for the inline fieldsValid check.",
      "runAfter": { "Init_caseId": [ "Succeeded" ] }
    },
    "List_case_evidence": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_evidences",
          "$filter": "_cr1bd_caseid_value eq @{variables('caseId')} and cr1bd_kind eq 100000000 and cr1bd_acceptedforeva eq true and cr1bd_excluded ne true and statecode eq 0",
          "$select": "cr1bd_evidenceid,cr1bd_kind,cr1bd_imagerole,cr1bd_registrationvisible,cr1bd_acceptedforeva,cr1bd_excluded"
        }
      },
      "comment": "FIX (PR#24 #1): NON-EXCLUDED accepted EVA image evidence for THIS case (kind Image=100000000, acceptedForEva=true, cr1bd_excluded ne true, active). The 'cr1bd_excluded ne true' clause is now in the $filter (matching Order_evidence in finalize-eva-box, which already ANDs the same boolean — the old 'connector cannot AND a possibly-null boolean' note was stale; 'ne true' treats null as not-excluded). PURPOSE: the deleted Filter_accepted_images step used to drop excluded rows before the branch-4 zero-image count; readiness-filtering moved into the Validate_readiness Function (which drops excluded rows in _is_accepted_image), but Compute_next_status branch 4 still tests length(List_case_evidence)==0 DIRECTLY — so a case whose only photos are person-reflection-excluded (acceptedforeva=true AND cr1bd_excluded=true) was counted as length>=1, skipping the zero-image guard and falling through to error/Exceptions instead of needs_review. With excluded rows now filtered OUT of this list, branch 4 correctly sees length==0 for an excluded-only case and routes it to needs_review. Validate_readiness still gets the SAME non-excluded accepted set (its Function drops excluded rows anyway, so the readiness verdict is unchanged — this only fixes the branch-4 direct count). Evidence read (not cr1bd_cases) — the cross-provider guard is N/A here; scoping is by the case id.",
      "runAfter": { "Get_case": [ "Succeeded" ] }
    },
    "List_instruction_evidence": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_evidences",
          "$filter": "_cr1bd_caseid_value eq @{variables('caseId')} and cr1bd_kind eq 100000002 and statecode eq 0",
          "$select": "cr1bd_evidenceid,cr1bd_kind"
        }
      },
      "comment": "Active instruction-kind evidence (Instruction=100000002) for THIS case. Powers the evidence-aware status tree (FIX 3): lets Compute_next_status tell an instructions-only case (-> awaiting images) from a genuinely empty/unidentifiable one (-> error/Exceptions), and reserves missing_required_fields ('Images only') for cases that actually hold image evidence.",
      "runAfter": { "List_case_evidence": [ "Succeeded" ] }
    },
    "Validate_readiness": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_evavalidation", "operationId": "ValidateCase",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_evavalidation" },
        "parameters": {
          "body/case": "@outputs('Get_case')?['body']",
          "body/evidence": "@coalesce(outputs('List_case_evidence')?['body/value'], json('[]'))"
        }
      },
      "comment": "M2.B: readiness is computed by the ONE shared evavalidation Function (ValidateCase) so this flow, the Code App computeReadiness() and the Function agree byte-for-byte (replaces the five inline Filter/Set actions that duplicated image-rules.ts + the 7 required-field check). Body-in shape { case, evidence }: case = the raw Get_case body (the Function's validation.py accepts Dataverse cr1bd_eva* columns case-insensitively, so NO re-mapping); evidence = the accepted-EVA image rows from List_case_evidence (acceptedForEva=true, kind Image, active — excluded rows are dropped INSIDE the Function's _is_accepted_image, matching the old Filter_accepted_images step). Returns { fieldsValid, imagesValid, openIssues[] }; fieldsValid covers the 7 required EVA fields, imagesValid covers >=2 accepted images incl >=1 overview+reg + >=1 damage_closeup. The Function is gate-free (always on) and holds no secrets — keyed by x-functions-key on the connection only. [RESERVED-FOR-USER] to import the cr1bd_evavalidation connector + bind its connection (Function host key) at activation.",
      "runAfter": { "List_instruction_evidence": [ "Succeeded" ] }
    },
    "Set_instructionCount": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "instructionCount", "type": "integer", "value": "@length(coalesce(outputs('List_instruction_evidence')?['body/value'], json('[]')))" } ] },
      "comment": "Count of active instruction-kind evidence rows. Zero accepted images AND instructionCount=0 => nothing usable has arrived yet (pending/new) -> needs_review, NEVER a premature error.",
      "runAfter": { "Validate_readiness": [ "Succeeded" ] }
    },
    "Set_hasIdentity": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "hasIdentity", "type": "boolean", "value": "@or(greater(length(trim(coalesce(outputs('Get_case')?['body/cr1bd_evaworkprovider'], ''))), 0), or(greater(length(trim(coalesce(outputs('Get_case')?['body/cr1bd_vrm'], ''))), 0), or(greater(length(trim(coalesce(outputs('Get_case')?['body/cr1bd_caseref'], ''))), 0), greater(length(trim(coalesce(outputs('Get_case')?['body/cr1bd_evaclaimantname'], ''))), 0))))" } ] },
      "comment": "Can the case be identified at all? principal (work_provider) OR vrm OR caseref OR claimant present. Routes an unidentifiable, image-less case to error (Exceptions) vs a partially-identified one to needs_review.",
      "runAfter": { "Set_instructionCount": [ "Succeeded" ] }
    },
    "Guard_terminal": {
      "type": "If",
      "expression": {
        "or": [
          { "equals": [ "@outputs('Get_case')?['body/cr1bd_status']", 100000008 ] },
          { "equals": [ "@outputs('Get_case')?['body/cr1bd_status']", 100000009 ] },
          { "equals": [ "@outputs('Get_case')?['body/cr1bd_status']", 100000010 ] },
          { "equals": [ "@outputs('Get_case')?['body/cr1bd_status']", 100000006 ] },
          { "not": { "equals": [ "@coalesce(outputs('Get_case')?['body/statecode'], 0)", 0 ] } }
        ]
      },
      "comment": "Terminal lock FIRST: eva_submitted=100000008, box_synced=100000009, error=100000010 never transition backward. HARDENING (2026-06-20 merge): also treat linked_to_instruction=100000006 AND any inactive case (statecode!=0) as terminal -> keep status, never attempt an update. This prevents a failed write when CS Intake's Run_status_evaluate fires on a case that CS Case Resolve has just merged/retired+deactivated (the image case in an instructions<->images registration merge). The SURVIVOR stays active (statecode=0) with a non-terminal status, so it is recomputed normally and can still reach ready_for_eva (caselinkstate Linked is intentionally NOT a terminal condition).",
      "actions": {
        "Keep_terminal": { "type": "Compose", "inputs": "terminal - no transition", "runAfter": {} }
      },
      "else": {
        "actions": {
          "Compute_next_status": {
            "type": "Compose",
            "inputs": "@if(and(body('Validate_readiness')?['fieldsValid'], body('Validate_readiness')?['imagesValid']), 'ready_for_eva', if(and(body('Validate_readiness')?['fieldsValid'], not(body('Validate_readiness')?['imagesValid'])), 'missing_images', if(and(not(body('Validate_readiness')?['fieldsValid']), body('Validate_readiness')?['imagesValid']), 'missing_required_fields', if(and(equals(length(coalesce(outputs('List_case_evidence')?['body/value'], json('[]'))), 0), equals(variables('instructionCount'), 0)), 'needs_review', if(variables('hasIdentity'), 'needs_review', 'error')))))",
            "comment": "EVIDENCE-AWARE status tree (FIX 3). fieldsValid/imagesValid now come from the shared evavalidation Function (body('Validate_readiness')) — same contract, one implementation. (1) fields+images -> ready_for_eva; (2) fields, no images -> missing_images (instructions parsed, awaiting photos); (3) images valid but fields missing -> missing_required_fields (genuine 'Images only' — REQUIRES real image evidence); (4) no NON-EXCLUDED accepted EVA images at all (List_case_evidence empty) AND no instruction evidence -> needs_review (pending/new; NEVER a premature error); (5) else identifiable -> needs_review, unidentifiable -> error (Exceptions). PR#24 FIX #1: the branch-4 zero-image test reads List_case_evidence directly, which is now filtered to NON-EXCLUDED accepted image rows (cr1bd_excluded ne true added to the $filter) — so a case whose only photos are person-reflection-excluded now correctly counts as zero accepted images here and routes to needs_review (branch 4), instead of being seen as length>=1 and falling through to error (branch 5). If any NON-excluded accepted row exists, branch 4 is skipped and the case falls to the premature-error-safe branch 5. Fixes instructions-only cases mislabelled 'Images only', excluded-only cases mislabelled 'error', and routes genuinely-empty/unparseable cases to Exceptions.",
            "runAfter": {}
          },
          "Map_status_choice": {
            "type": "Compose",
            "inputs": "@if(equals(outputs('Compute_next_status'),'error'),100000010,if(equals(outputs('Compute_next_status'),'missing_required_fields'),100000003,if(equals(outputs('Compute_next_status'),'missing_images'),100000004,if(equals(outputs('Compute_next_status'),'needs_review'),100000002,100000007))))",
            "comment": "Bind to cr1bd_status integers: error=100000010, missing_required_fields=100000003, missing_images=100000004, needs_review=100000002, ready_for_eva=100000007.",
            "runAfter": { "Compute_next_status": [ "Succeeded" ] }
          },
          "Patch_status_if_changed": {
            "type": "If",
            "expression": { "not": { "equals": [ "@outputs('Get_case')?['body/cr1bd_status']", "@outputs('Map_status_choice')" ] } },
            "comment": "Idempotent: short-circuit the write when status is unchanged -> no spurious status_changed audit rows.",
            "actions": {
              "Update_status": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                  "parameters": { "entityName": "cr1bd_cases", "recordId": "@variables('caseId')",
                    "item/cr1bd_status": "@outputs('Map_status_choice')" }
                },
                "runAfter": {}
              },
              "Audit_status_changed": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                  "parameters": {
                    "entityName": "cr1bd_auditevents",
                    "item/cr1bd_name": "@concat('status_changed: ', variables('caseId'))",
                    "item/cr1bd_action": 100000013,
                    "item/cr1bd_actor": "Flow_StatusEvaluate",
                    "item/cr1bd_severity": 100000000,
                    "item/cr1bd_before": "@string(outputs('Get_case')?['body/cr1bd_status'])",
                    "item/cr1bd_after": "@outputs('Compute_next_status')",
                    "item/cr1bd_occurredat": "@utcNow()"
                  }
                },
                "runAfter": { "Update_status": [ "Succeeded" ] }
              }
            },
            "runAfter": { "Map_status_choice": [ "Succeeded" ] }
          }
        }
      },
      "runAfter": { "Set_hasIdentity": [ "Succeeded" ] }
    },
    "Respond_status_persist_outcome": {
      "type": "If",
      "expression": {
        "or": [
          { "equals": [ "@actions('Update_status')?['status']", "Failed" ] },
          { "equals": [ "@actions('Update_status')?['status']", "TimedOut" ] }
        ]
      },
      "comment": "PR#24 FIX #2: the child must NOT report success when the actual cr1bd_status write (Update_status) FAILED. Respond_to_parent ran after Guard_terminal on ALL completion outcomes and unconditionally returned 200 with the COMPUTED next status — so a transient Dataverse 5xx on Update_status left the row at its OLD status while the parent intake chain got 200 reporting the new status as if persisted (no retry, silent divergence). This If now gates the response on the write's REAL outcome via actions('Update_status')?['status'] (the single-action accessor; returns null when Update_status never ran — the terminal short-circuit OR the idempotent no-change path where Patch_status_if_changed took its else — so null != Failed/TimedOut falls to the else/200). Only when Update_status actually ran AND ended Failed/TimedOut does the TRUE branch return a non-2xx so the caller knows the transition did NOT persist. NOTE: when Update_status fails, the nested failure propagates Guard_terminal to Failed, but this If still runs (runAfter includes Failed). A Guard_terminal failure for a DIFFERENT reason while Update_status Succeeded leaves actions('Update_status')?['status']='Succeeded' -> else/200 (the write DID persist, success is correct). runAfter Guard_terminal on all completion outcomes so the child always returns exactly one Response.",
      "actions": {
        "Respond_persist_failed": {
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 502,
            "body": {
              "caseId": "@variables('caseId')",
              "error": "status_persist_failed",
              "message": "@concat('Update_status did not persist (', coalesce(actions('Update_status')?['status'], 'unknown'), '); case remains at status ', string(outputs('Get_case')?['body/cr1bd_status']), ' — caller must retry.')",
              "attemptedStatus": "@outputs('Map_status_choice')",
              "persistedStatus": "@outputs('Get_case')?['body/cr1bd_status']"
            }
          },
          "comment": "PR#24 FIX #2: the cr1bd_status write FAILED/TimedOut — return 502 (NOT 200) so the parent intake chain sees the child failed and the transition did not persist. The row is still at its OLD cr1bd_status (Update_status is the only mutation of it), so reporting success here would be a lie. Carries the attempted vs persisted status for the caller's diagnostics. A non-2xx Response makes the child's Run-a-Child-Flow call surface as a failure to the parent.",
          "runAfter": {}
        }
      },
      "else": {
        "actions": {
          "Respond_to_parent": {
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 200,
              "body": {
                "caseId": "@variables('caseId')",
                "terminal": "@or(equals(outputs('Get_case')?['body/cr1bd_status'], 100000008), or(equals(outputs('Get_case')?['body/cr1bd_status'], 100000009), or(equals(outputs('Get_case')?['body/cr1bd_status'], 100000010), or(equals(outputs('Get_case')?['body/cr1bd_status'], 100000006), not(equals(coalesce(outputs('Get_case')?['body/statecode'], 0), 0))))))",
                "status": "@coalesce(outputs('Compute_next_status'), 'terminal')",
                "statusCode": "@if(or(equals(outputs('Get_case')?['body/cr1bd_status'], 100000008), or(equals(outputs('Get_case')?['body/cr1bd_status'], 100000009), or(equals(outputs('Get_case')?['body/cr1bd_status'], 100000010), or(equals(outputs('Get_case')?['body/cr1bd_status'], 100000006), not(equals(coalesce(outputs('Get_case')?['body/statecode'], 0), 0)))))), outputs('Get_case')?['body/cr1bd_status'], outputs('Map_status_choice'))",
                "fieldsValid": "@body('Validate_readiness')?['fieldsValid']",
                "imagesValid": "@body('Validate_readiness')?['imagesValid']"
              }
            },
            "comment": "SUCCESS path (PR#24 FIX #2: reached only when Update_status either SUCCEEDED, was Skipped/never-ran on the idempotent no-change path, or never ran on the terminal short-circuit — i.e. the cr1bd_status the parent will read is genuinely the persisted state). Child-flow return action (required to be callable via Run-a-Child-Flow; mirrors classify-persist's Respond_to_parent / 'Respond to a PowerApp or flow'). Returns the readiness result: the resolved status label + cr1bd_status integer plus the two readiness predicates. Computed to be correct on BOTH Guard_terminal paths using the SAME 5 terminal conditions as Guard_terminal (cr1bd_status 100000008/9/10/6 OR statecode!=0): on the terminal path Compute_next_status/Map_status_choice never ran, so 'status' coalesces to 'terminal' while 'terminal' and 'statusCode' read cr1bd_status directly (terminal=true, statusCode=the kept current status — including the 100000006/inactive merge case); on the else path they carry the computed next status.",
            "runAfter": {}
          }
        }
      },
      "runAfter": { "Guard_terminal": [ "Succeeded", "Failed", "Skipped", "TimedOut" ] }
    }
  }
}
