flows/definitions/triage-classify.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "comment": "Flow_TriageClassify (Phase 8 / ADR-0015). Standalone returnable CHILD (Request-triggered, Response-equipped — callable via Run-a-Child-Flow, mirrors parse / case-resolve). Classifies EVERY inbound email (the generalised intake calls this for every message once fetchOnlyWithAttachment is flipped — query/other email no longer dropped). Steps: (a) call the parser connector's ClassifyEmail op (deterministic /classify-email — keyword/phrase/regex only, no AI) for the triage label; (b) UPSERT exactly one cr1bd_inboundemail row keyed on the alternate key cr1bd_sourcemessageid (find-then-create-or-update, the repo's get-or-create idiom — Message-ID is the dedup anchor, ADR-0010) writing the label + metadata; (c) OPEN-CASE LOOKUP — Case/PO FIRST (cr1bd_casepo), VRM only as a fallback (cr1bd_vrm, ADR-0002), over ACTIVE non-terminal cases — and NEVER auto-link when the lookup is AMBIGUOUS (>1 match) (ADR-0010): leave cr1bd_caseid null + route to the triage queue (cr1bd_triagestate=new); bind cr1bd_workproviderid only when the sender domain matched exactly one provider (providerMatchState=one); (d) audit inbound_classified(100000024) after classification + inbound_routed(100000025) after routing (canonical audit shape); (e) Respond_to_parent { category, subtype, caseId }. The classifier is PURE so the open-Case lookup lives HERE, exactly as 'which Case' stays out of /parse. [BUILD] flow, state=off; /classify-email route + cr1bd_inboundemail table/choicesets applied separately.",
  "parameters": {
    "$connections": { "type": "Object", "defaultValue": {} },
    "$authentication": { "type": "SecureObject", "defaultValue": {} }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "comment": "Invoked by CS Intake (Run-a-Child-Flow) once per inbound email with the email metadata. sourceMessageId is the dedup/upsert key (the Internet Message-ID, unique per email regardless of which inbox saw it). attachmentKinds is the classify-persist Compose_kind taxonomy (e.g. ['instruction','image']); providerMatchState is the intake flow's anchored exact-domain result ('one' | 'none' | 'ambiguous').",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "sourceMessageId": { "type": "string" },
            "subject": { "type": "string" },
            "body": { "type": "string" },
            "from": { "type": "string" },
            "senderDomain": { "type": "string" },
            "sourceMailbox": { "type": "string" },
            "receivedOn": { "type": "string" },
            "providerMatchState": { "type": "string" },
            "workProviderId": { "type": "string" },
            "attachmentKinds": { "type": "array" },
            "hasAttachments": { "type": "boolean" }
          }
        }
      }
    }
  },
  "actions": {
    "Init_sourceMessageId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "sourceMessageId", "type": "string", "value": "@coalesce(triggerBody()?['sourceMessageId'], '')" } ] },
      "comment": "The dedup/upsert anchor (alternate key cr1bd_sourcemessageid). Coalesced so a missing id is '' (the find-then-create branch still produces a row, just without a dedup key).",
      "runAfter": {}
    },
    "Init_providerMatchState": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "providerMatchState", "type": "string", "value": "@toLower(trim(coalesce(triggerBody()?['providerMatchState'], 'none')))" } ] },
      "comment": "The intake flow's anchored exact-domain match result. 'one' -> bind the provider; 'none'/'ambiguous' -> leave cr1bd_workproviderid null (new client / existing-but-unassigned). NO alias matching is done here — the intake flow already did the anchored membership test.",
      "runAfter": { "Init_sourceMessageId": [ "Succeeded" ] }
    },
    "Init_workProviderId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "workProviderId", "type": "string", "value": "@coalesce(triggerBody()?['workProviderId'], '')" } ] },
      "comment": "The provider id the intake flow resolved (only meaningful when providerMatchState='one'). Bound onto the triage row + audited as the unambiguous match.",
      "runAfter": { "Init_providerMatchState": [ "Succeeded" ] }
    },
    "Init_matchedCaseId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "matchedCaseId", "type": "string", "value": "" } ] },
      "comment": "The OPEN Case this email is about, resolved by the open-Case lookup (Case/PO first, VRM fallback). Stays '' when there is no reference, no match, OR the lookup is AMBIGUOUS (>1 match) — the never-auto-link-on-ambiguity rule (ADR-0010).",
      "runAfter": { "Init_workProviderId": [ "Succeeded" ] }
    },
    "Init_routeOutcome": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "routeOutcome", "type": "string", "value": "queued" } ] },
      "comment": "One of: queued | linked_open_case | link_ambiguous. Returned to the caller + recorded in the inbound_routed audit. 'queued' = no open-Case link (no reference / no match / ambiguous); 'linked_open_case' = a single open Case matched and was linked; 'link_ambiguous' = a reference matched >1 open case so the row was deliberately left unlinked.",
      "runAfter": { "Init_matchedCaseId": [ "Succeeded" ] }
    },
    "Init_inboundEmailId": {
      "type": "InitializeVariable",
      "inputs": { "variables": [ { "name": "inboundEmailId", "type": "string", "value": "" } ] },
      "comment": "The cr1bd_inboundemail row id (from the find-or-create upsert). Used to UpdateRecord the open-Case link / triagestate after the lookup, and linked from the audit rows.",
      "runAfter": { "Init_routeOutcome": [ "Succeeded" ] }
    },
    "Call_classifier": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_ceparser", "operationId": "ClassifyEmail",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_ceparser" },
        "parameters": {
          "body/subject": "@coalesce(triggerBody()?['subject'], '')",
          "body/body": "@coalesce(triggerBody()?['body'], '')",
          "body/from": "@coalesce(triggerBody()?['from'], '')",
          "body/sender_domain": "@coalesce(triggerBody()?['senderDomain'], '')",
          "body/provider_match_state": "@variables('providerMatchState')",
          "body/attachment_kinds": "@coalesce(triggerBody()?['attachmentKinds'], json('[]'))",
          "body/has_attachments": "@coalesce(triggerBody()?['hasAttachments'], false)"
        }
      },
      "comment": "Deterministic /classify-email (keyword/phrase/regex only — no Dataverse, no network, no AI). Returns { category, subtype, confidence, signals[], body_vrm, body_caseref, contract_version }. The route HTML-strips the body server-side and returns a safe 'other' label even on a bad request, so the downstream upsert always has a label. Function key (x-functions-key) is on the connection, never here.",
      "runAfter": { "Init_inboundEmailId": [ "Succeeded" ] }
    },
    "Compose_category_value": {
      "type": "Compose",
      "inputs": "@if(equals(body('Call_classifier')?['category'], 'receiving_work'), 100000000, if(equals(body('Call_classifier')?['category'], 'query'), 100000001, 100000002))",
      "comment": "Map the classifier's category string -> the cr1bd_inboundcategory choice value (receiving_work=100000000, query=100000001, other=100000002 per dataverse/choicesets/inbound-email-classification.json). Anything unexpected -> other (safe catch-all).",
      "runAfter": { "Call_classifier": [ "Succeeded" ] }
    },
    "Compose_subtype_value": {
      "type": "Compose",
      "inputs": "@if(equals(body('Call_classifier')?['subtype'], 'existing_provider_instruction'), 100000000, if(equals(body('Call_classifier')?['subtype'], 'existing_provider_audit'), 100000001, if(equals(body('Call_classifier')?['subtype'], 'new_client_work'), 100000002, if(equals(body('Call_classifier')?['subtype'], 'query_existing_work'), 100000003, if(equals(body('Call_classifier')?['subtype'], 'query_new_enquiry'), 100000004, 100000005)))))",
      "comment": "Map the classifier's subtype string -> the cr1bd_inboundsubtype choice value (existing_provider_instruction=100000000 .. query_new_enquiry=100000004, other=100000005). Anything unexpected -> other(100000005).",
      "runAfter": { "Compose_category_value": [ "Succeeded" ] }
    },
    "Compose_signals_text": {
      "type": "Compose",
      "inputs": "@take(join(coalesce(body('Call_classifier')?['signals'], json('[]')), decodeUriComponent('%0A')), 4000)",
      "comment": "Join the fired signal ids/phrases into a newline list for the cr1bd_signals Memo (explainability — every triage decision is auditable). Capped at the column max (4000).",
      "runAfter": { "Compose_subtype_value": [ "Succeeded" ] }
    },
    "Find_existing_inbound": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_inboundemails",
          "$filter": "cr1bd_sourcemessageid eq '@{replace(variables('sourceMessageId'), '''', '''''')}'",
          "$select": "cr1bd_inboundemailid,cr1bd_sourcemessageid",
          "$top": 1
        }
      },
      "comment": "UPSERT step 1 — find by the alternate key cr1bd_sourcemessageid (alt key cr1bd_inboundemail_sourcemessageid_key). The repo's get-or-create idiom (mirrors intake's Find_existing_by_messageId): exactly one row per email; a re-send / Graph retry updates the same row rather than duplicating it (ADR-0010 exact-repeat). Message-ID-scoped read (not a dedup-by-VRM query). PR#24 FIX #3: the Message-ID is OData-escaped before interpolation — replace(variables('sourceMessageId'), '''', '''''') doubles any single quote (the OData literal escape) so a Message-ID containing a quote (rare but RFC-legal in the quoted-string form of the addr-spec) cannot break out of the '...' literal and produce a malformed $filter -> 400 -> silently dropped email. In the @-expression the four-quote token '''' is the literal single-quote string and '''''' is the two-single-quote replacement string. Pairs with the same escaping the EVALUATED key value would need elsewhere; cr1bd_sourcemessageid is read verbatim so the doubled quotes match the stored value under OData's literal-unescaping.",
      "runAfter": { "Compose_signals_text": [ "Succeeded" ] }
    },
    "If_inbound_exists": {
      "type": "If",
      "expression": {
        "greater": [ "@length(coalesce(outputs('Find_existing_inbound')?['body/value'], json('[]')))", 0 ]
      },
      "comment": "UPSERT step 2 — branch on whether the triage row already exists. Exists -> UpdateRecord (re-classify in place). Not -> CreateRecord. Both write the SAME field set so the row is identical regardless of path.",
      "actions": {
        "Update_inbound_email": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_inboundemails",
              "recordId": "@first(outputs('Find_existing_inbound')?['body/value'])?['cr1bd_inboundemailid']",
              "item/cr1bd_name": "@take(concat(coalesce(triggerBody()?['subject'], 'Inbound email'), ' — ', coalesce(triggerBody()?['from'], '')), 200)",
              "item/cr1bd_subject": "@take(coalesce(triggerBody()?['subject'], ''), 400)",
              "item/cr1bd_fromaddress": "@take(coalesce(triggerBody()?['from'], ''), 320)",
              "item/cr1bd_senderdomain": "@take(coalesce(triggerBody()?['senderDomain'], ''), 256)",
              "item/cr1bd_sourcemailbox": "@take(coalesce(triggerBody()?['sourceMailbox'], ''), 256)",
              "item/cr1bd_receivedon": "@coalesce(triggerBody()?['receivedOn'], utcNow())",
              "item/cr1bd_hasattachments": "@coalesce(triggerBody()?['hasAttachments'], false)",
              "item/cr1bd_category": "@outputs('Compose_category_value')",
              "item/cr1bd_subtype": "@outputs('Compose_subtype_value')",
              "item/cr1bd_confidence": "@coalesce(body('Call_classifier')?['confidence'], 0)",
              "item/cr1bd_classifiermode": "deterministic",
              "item/cr1bd_signals": "@outputs('Compose_signals_text')",
              "item/cr1bd_bodyvrm": "@take(coalesce(body('Call_classifier')?['body_vrm'], ''), 16)",
              "item/cr1bd_bodycaseref": "@take(coalesce(body('Call_classifier')?['body_caseref'], ''), 32)",
              "item/cr1bd_bodypreview": "@take(coalesce(triggerBody()?['body'], ''), 4000)"
            }
          },
          "comment": "Re-classify the existing triage row in place (idempotent upsert). classifiermode='deterministic' (Phase-A). The open-Case link + triagestate are set AFTER the lookup, below, not here.",
          "runAfter": {}
        },
        "Set_inboundEmailId_existing": {
          "type": "SetVariable",
          "inputs": { "name": "inboundEmailId", "value": "@first(outputs('Find_existing_inbound')?['body/value'])?['cr1bd_inboundemailid']" },
          "runAfter": { "Update_inbound_email": [ "Succeeded" ] }
        }
      },
      "else": {
        "actions": {
          "Create_inbound_email": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
              "parameters": {
                "entityName": "cr1bd_inboundemails",
                "item/cr1bd_name": "@take(concat(coalesce(triggerBody()?['subject'], 'Inbound email'), ' — ', coalesce(triggerBody()?['from'], '')), 200)",
                "item/cr1bd_sourcemessageid": "@variables('sourceMessageId')",
                "item/cr1bd_subject": "@take(coalesce(triggerBody()?['subject'], ''), 400)",
                "item/cr1bd_fromaddress": "@take(coalesce(triggerBody()?['from'], ''), 320)",
                "item/cr1bd_senderdomain": "@take(coalesce(triggerBody()?['senderDomain'], ''), 256)",
                "item/cr1bd_sourcemailbox": "@take(coalesce(triggerBody()?['sourceMailbox'], ''), 256)",
                "item/cr1bd_receivedon": "@coalesce(triggerBody()?['receivedOn'], utcNow())",
                "item/cr1bd_hasattachments": "@coalesce(triggerBody()?['hasAttachments'], false)",
                "item/cr1bd_category": "@outputs('Compose_category_value')",
                "item/cr1bd_subtype": "@outputs('Compose_subtype_value')",
                "item/cr1bd_confidence": "@coalesce(body('Call_classifier')?['confidence'], 0)",
                "item/cr1bd_classifiermode": "deterministic",
                "item/cr1bd_signals": "@outputs('Compose_signals_text')",
                "item/cr1bd_triagestate": "new",
                "item/cr1bd_bodyvrm": "@take(coalesce(body('Call_classifier')?['body_vrm'], ''), 16)",
                "item/cr1bd_bodycaseref": "@take(coalesce(body('Call_classifier')?['body_caseref'], ''), 32)",
                "item/cr1bd_bodypreview": "@take(coalesce(triggerBody()?['body'], ''), 4000)"
              }
            },
            "comment": "First sighting of this email -> create the universal 'we saw this' triage row (triagestate='new'). classifiermode='deterministic' (Phase-A). cr1bd_sourcemessageid set so the next re-send finds and updates this row instead of duplicating.",
            "runAfter": {}
          },
          "Set_inboundEmailId_new": {
            "type": "SetVariable",
            "inputs": { "name": "inboundEmailId", "value": "@outputs('Create_inbound_email')?['body/cr1bd_inboundemailid']" },
            "runAfter": { "Create_inbound_email": [ "Succeeded" ] }
          }
        }
      },
      "runAfter": { "Find_existing_inbound": [ "Succeeded" ] }
    },
    "Audit_inbound_classified": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_auditevents",
          "item/cr1bd_name": "@take(concat('inbound_classified: ', coalesce(body('Call_classifier')?['category'], 'other'), '/', coalesce(body('Call_classifier')?['subtype'], 'other')), 100)",
          "item/cr1bd_action": 100000024,
          "item/cr1bd_actor": "Flow_TriageClassify",
          "item/cr1bd_severity": 100000000,
          "item/cr1bd_after": "@take(concat('classified ', coalesce(variables('sourceMessageId'), ''), ' as ', coalesce(body('Call_classifier')?['category'], 'other'), '/', coalesce(body('Call_classifier')?['subtype'], 'other'), ' (confidence ', string(coalesce(body('Call_classifier')?['confidence'], 0)), '); body_caseref=', coalesce(body('Call_classifier')?['body_caseref'], ''), '; body_vrm=', coalesce(body('Call_classifier')?['body_vrm'], '')), 1000)",
          "item/cr1bd_occurredat": "@utcNow()"
        }
      },
      "comment": "Audit the classification (action inbound_classified=100000024, Info) AFTER the label is settled + the triage row written. Canonical audit shape (cr1bd_name/action/actor/severity/after/occurredat). Not linked to a Case (the open-Case lookup has not run yet).",
      "runAfter": { "If_inbound_exists": [ "Succeeded" ] }
    },
    "Lookup_open_case_by_caseref": {
      "type": "If",
      "expression": {
        "greater": [ "@length(trim(coalesce(body('Call_classifier')?['body_caseref'], '')))", 0 ]
      },
      "comment": "OPEN-CASE LOOKUP, leg 1 (PRIMARY): when the classifier found a body Case/PO, resolve it FIRST (each accident has its own Case/PO -> its own Box folder, ADR-0002). The VRM fallback (leg 2) runs ONLY when there is no Case/PO. The classifier NEVER auto-links — the link decision is made here, deterministically, and NEVER on ambiguity (ADR-0010).",
      "actions": {
        "List_cases_by_caseref": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr1bd_cases",
              "$filter": "cr1bd_casepo eq '@{toUpper(trim(coalesce(body('Call_classifier')?['body_caseref'], '')))}' and statecode eq 0 and cr1bd_status ne 100000006 and cr1bd_status ne 100000008 and cr1bd_status ne 100000009 and cr1bd_status ne 100000010",
              "$select": "cr1bd_caseid,cr1bd_casepo,cr1bd_status",
              "$top": 50
            }
          },
          "comment": "ACTIVE (statecode=0), NON-TERMINAL cases whose Case/PO equals the body Case/PO (UPPERCASE canonical; the Box folder name shape). Excludes linked_to_instruction(100000006) + the terminals eva_submitted(100000008)/box_synced(100000009)/error(100000010). $top:50 so a >1 ambiguity is visible to the count below. Keyed on cr1bd_casepo, NOT a dedup-by-VRM read (documented linter exception).",
          "runAfter": {}
        },
        "Resolve_caseref_match": {
          "type": "If",
          "expression": {
            "equals": [ "@length(coalesce(outputs('List_cases_by_caseref')?['body/value'], json('[]')))", 1 ]
          },
          "comment": "AUTO-LINK ONLY ON EXACTLY ONE MATCH. >1 -> AMBIGUOUS -> route to link_ambiguous, leave cr1bd_caseid null (NEVER silently merge — ADR-0010). 0 here cannot happen on this leg's else (the body_caseref guard passed) other than no-match, which also leaves it queued.",
          "actions": {
            "Set_matchedCaseId_caseref": {
              "type": "SetVariable",
              "inputs": { "name": "matchedCaseId", "value": "@first(outputs('List_cases_by_caseref')?['body/value'])?['cr1bd_caseid']" },
              "runAfter": {}
            },
            "Set_routeOutcome_linked_caseref": {
              "type": "SetVariable",
              "inputs": { "name": "routeOutcome", "value": "linked_open_case" },
              "runAfter": { "Set_matchedCaseId_caseref": [ "Succeeded" ] }
            }
          },
          "else": {
            "actions": {
              "Set_routeOutcome_ambiguous_caseref": {
                "type": "If",
                "expression": {
                  "greater": [ "@length(coalesce(outputs('List_cases_by_caseref')?['body/value'], json('[]')))", 1 ]
                },
                "comment": ">1 match on the Case/PO -> AMBIGUOUS (rare for a Case/PO, but never assume). Mark link_ambiguous so the row sits in the triage queue for a human, cr1bd_caseid stays null. 0 matches falls through -> stays 'queued'.",
                "actions": {
                  "Set_routeOutcome_link_ambiguous_caseref": {
                    "type": "SetVariable",
                    "inputs": { "name": "routeOutcome", "value": "link_ambiguous" },
                    "runAfter": {}
                  }
                },
                "else": { "actions": {} },
                "runAfter": {}
              }
            }
          },
          "runAfter": { "List_cases_by_caseref": [ "Succeeded" ] }
        }
      },
      "else": {
        "actions": {
          "Lookup_open_case_by_vrm": {
            "type": "If",
            "expression": {
              "greater": [ "@length(trim(coalesce(body('Call_classifier')?['body_vrm'], '')))", 0 ]
            },
            "comment": "OPEN-CASE LOOKUP, leg 2 (FALLBACK): only when there is NO body Case/PO. Resolve by registration (cr1bd_vrm). Same ambiguity discipline — auto-link only on exactly one ACTIVE non-terminal match; >1 -> link_ambiguous, cr1bd_caseid stays null (ADR-0010; one registration can carry two legitimate claims).",
            "actions": {
              "List_cases_by_vrm": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                  "parameters": {
                    "entityName": "cr1bd_cases",
                    "$filter": "cr1bd_vrm eq '@{toUpper(trim(coalesce(body('Call_classifier')?['body_vrm'], '')))}' and statecode eq 0 and cr1bd_status ne 100000006 and cr1bd_status ne 100000008 and cr1bd_status ne 100000009 and cr1bd_status ne 100000010",
                    "$select": "cr1bd_caseid,cr1bd_vrm,cr1bd_status",
                    "$top": 50
                  }
                },
                "comment": "ACTIVE non-terminal cases with the same registration (fallback link key, ADR-0002). $top:50 so a >1 ambiguity is visible. Registration-keyed open-Case lookup for a QUERY link — this flow is a documented VRM-scoped exception (see validate-flows VRM_SCOPE_ALLOWED): a query about existing work is NOT a Case dedup/merge, it only proposes a link a human confirms, and it NEVER auto-links on ambiguity.",
                "runAfter": {}
              },
              "Resolve_vrm_match": {
                "type": "If",
                "expression": {
                  "equals": [ "@length(coalesce(outputs('List_cases_by_vrm')?['body/value'], json('[]')))", 1 ]
                },
                "comment": "AUTO-LINK ONLY ON EXACTLY ONE MATCH. >1 -> AMBIGUOUS -> link_ambiguous, cr1bd_caseid stays null (NEVER silently merge — ADR-0010). 0 -> stays 'queued'.",
                "actions": {
                  "Set_matchedCaseId_vrm": {
                    "type": "SetVariable",
                    "inputs": { "name": "matchedCaseId", "value": "@first(outputs('List_cases_by_vrm')?['body/value'])?['cr1bd_caseid']" },
                    "runAfter": {}
                  },
                  "Set_routeOutcome_linked_vrm": {
                    "type": "SetVariable",
                    "inputs": { "name": "routeOutcome", "value": "linked_open_case" },
                    "runAfter": { "Set_matchedCaseId_vrm": [ "Succeeded" ] }
                  }
                },
                "else": {
                  "actions": {
                    "Set_routeOutcome_ambiguous_vrm": {
                      "type": "If",
                      "expression": {
                        "greater": [ "@length(coalesce(outputs('List_cases_by_vrm')?['body/value'], json('[]')))", 1 ]
                      },
                      "comment": ">1 same-registration open match -> AMBIGUOUS -> link_ambiguous, cr1bd_caseid stays null (one registration can carry two legitimate claims — ADR-0010). 0 -> stays 'queued'.",
                      "actions": {
                        "Set_routeOutcome_link_ambiguous_vrm": {
                          "type": "SetVariable",
                          "inputs": { "name": "routeOutcome", "value": "link_ambiguous" },
                          "runAfter": {}
                        }
                      },
                      "else": { "actions": {} },
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": { "List_cases_by_vrm": [ "Succeeded" ] }
              }
            },
            "else": { "actions": {} },
            "runAfter": {}
          }
        }
      },
      "runAfter": { "Audit_inbound_classified": [ "Succeeded" ] }
    },
    "Update_inbound_routing": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_inboundemails",
          "recordId": "@variables('inboundEmailId')",
          "item/cr1bd_triagestate": "@if(equals(variables('routeOutcome'), 'linked_open_case'), 'routed', 'new')",
          "item/cr1bd_Caseid@odata.bind": "@if(empty(variables('matchedCaseId')), null, concat('cr1bd_cases(', variables('matchedCaseId'), ')'))",
          "item/cr1bd_Workproviderid@odata.bind": "@if(and(equals(variables('providerMatchState'), 'one'), not(empty(variables('workProviderId')))), concat('cr1bd_workproviders(', variables('workProviderId'), ')'), null)"
        }
      },
      "comment": "ROUTING write. cr1bd_Caseid bound to the survivor ONLY on a single open-Case match (matchedCaseId set) — otherwise EXPLICITLY null (no auto-link on no-match / ambiguity, ADR-0010), and the row stays triagestate='new' (sits in the triage queue for a human). On a clean link -> triagestate='routed'. cr1bd_Workproviderid bound ONLY when the sender domain matched exactly one provider (providerMatchState='one'), else null (new client / ambiguous). Capitalised nav props cr1bd_Caseid / cr1bd_Workproviderid = cr1bd_cases(<id>) / cr1bd_workproviders(<id>), no leading slash (same form as classify-persist / intake).",
      "runAfter": { "Lookup_open_case_by_caseref": [ "Succeeded" ] }
    },
    "Audit_inbound_routed": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
        "parameters": {
          "entityName": "cr1bd_auditevents",
          "item/cr1bd_name": "@take(concat('inbound_routed: ', variables('routeOutcome')), 100)",
          "item/cr1bd_action": 100000025,
          "item/cr1bd_actor": "Flow_TriageClassify",
          "item/cr1bd_severity": "@if(equals(variables('routeOutcome'), 'link_ambiguous'), 100000001, 100000000)",
          "item/cr1bd_after": "@take(concat('routed ', coalesce(variables('sourceMessageId'), ''), ' -> ', variables('routeOutcome'), '; caseId=', coalesce(variables('matchedCaseId'), ''), '; providerMatchState=', variables('providerMatchState')), 1000)",
          "item/cr1bd_Caseid@odata.bind": "@if(empty(variables('matchedCaseId')), null, concat('cr1bd_cases(', variables('matchedCaseId'), ')'))",
          "item/cr1bd_occurredat": "@utcNow()"
        }
      },
      "comment": "Audit the routing decision (action inbound_routed=100000025) AFTER the routing write. Severity Warning(100000001) when link_ambiguous (a human must reconcile), else Info(100000000). Linked to the matched Case only when there is one (else cr1bd_Caseid is null). Canonical audit shape.",
      "runAfter": { "Update_inbound_routing": [ "Succeeded" ] }
    },
    "Respond_to_parent": {
      "type": "Response",
      "kind": "Http",
      "inputs": {
        "statusCode": 200,
        "body": {
          "sourceMessageId": "@variables('sourceMessageId')",
          "inboundEmailId": "@variables('inboundEmailId')",
          "category": "@coalesce(body('Call_classifier')?['category'], 'other')",
          "subtype": "@coalesce(body('Call_classifier')?['subtype'], 'other')",
          "confidence": "@coalesce(body('Call_classifier')?['confidence'], 0)",
          "caseId": "@variables('matchedCaseId')",
          "routeOutcome": "@variables('routeOutcome')"
        }
      },
      "comment": "Child-flow return (required to be callable via Run-a-Child-Flow; mirrors parse / case-resolve's Respond_to_parent). { category, subtype, caseId } per the contract, plus the row id, confidence + routeOutcome for the caller's Switch (receiving_work -> the existing Case chain; query/other -> queue). caseId is '' when nothing was linked (no reference / no match / ambiguous). runAfter Audit_inbound_routed so the child always returns after the routing decision is recorded.",
      "runAfter": { "Audit_inbound_routed": [ "Succeeded" ] }
    }
  }
}
